section.product-item-container.banner
  .container
    .banner-block
      .banner-info
        img(src='static/images/img/like.png' alt='Качественная продукция')
        h3 Качественная продукция
        p Сертифицированная продукция. Двойной контроль качества товаров при отгрузке
      .banner-info
        img(src='static/images/img/car2.png' alt='Бесплатная доставка')
        h3 Доставка по России и СНГ
        p Отправим оптовый заказ в любую точку России, СНГ и Европы 
      .banner-info
        img(src='static/images/img/cash.png' alt='Удобная оплата')
        h3 Удобная оплата
        p Оплата наличными, банковской картой или по счёту для юр. лиц и ИП