.basket-page__steps
  .row
    .col-sm-20
      a.basket-page__steps-item.active-step(href='basket__page.html')
        .basket-page__steps-item__num 1 
        | Корзина
        .basket-page__steps-item__rect
    .col-sm-20
      a.basket-page__steps-item(href='basket-order__page.html')
        .basket-page__steps-item__num 2 
        | Данные покупателя
        .basket-page__steps-item__rect
    .col-sm-20
      a.basket-page__steps-item(href='basket-delivery__page.html')
        .basket-page__steps-item__num 3 
        | Доставка и оплата
        .basket-page__steps-item__rect