.popup-control-wrap
  button.button.button-toggle.button-accent
    span.icon.icon-call
    span
      | Связаться 
      span.hidden-xs с нами
  .popup-menu
    .popup-menu-section
      a.js-popup(href='#' data-page='callback.html')
        span.icon.icon-contact-phone
        | Заказать звонок
    .popup-menu-section
      a.js-popup(href='#' data-page='callback_other.html')
        span.icon.icon-contact-email
        | Отправить заявку на расчёт
    .popup-menu-section
      a(href='viber://add?number=79636371014')
        span.icon.icon-contact-viber
        | Написать в Viber
      a(href='whatsapp://send?phone=79636371014')
        span.icon.icon-contact-whatsapp
        | Написать в WhatsApp
    .popup-menu-section
      a.js-popup(href='#' data-page='callback_review.html')
        span.icon.icon-contact-feedback
        | Оставить отзыв
    .popup-menu-section
      a.js-popup(href='#' data-page='callback_complaint.html')
        span.icon.icon-contact-feedback
        | Жалоба руководителю
