.reviews-slider-item
  .reviews-slider-item-container
    .reviews-slider-title
      span.reviews-slider-title__name Пятакова Ольга
      span.reviews-slider-title__organization Ландшафтный дизайнер
    .reviews-slider-content
      a.js-youtube-popup.css-youtubeLink(href='https://www.youtube.com/watch?v=D_OaYzzz2tA')
        img(src='static/images/index/sddefault.jpg' title='Пятакова Ольга' alt='')
    .reviews-slider__city Москва, 2016 год
    a.reviews-slider__view-more(href='callback-item__page.html') Смотреть полностью