.product-custom
  .product-custom_data(data-product-id='21')
    .product-custom-inner
      .image
        a(href='product__page.html')
          img(src='static/images/index/kora_sosny_mulcha.jpg' title='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л' alt='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л')
      .title
        a.product-item-title.dop14(href='product__page.html')
          | Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер
          | Цветников 60 л
      .rating-custom
        .stars-custom
          img(src='static/images/img/star-y.png' alt='')
          img(src='static/images/img/star-y.png' alt='')
          img(src='static/images/img/star-y.png' alt='')
          img(src='static/images/img/star-y.png' alt='')
          img(src='static/images/img/star-g.png' alt='')
        .available-custom В наличии
      .price-custom
        .price-old
          | 250.00 
          sup ₽
        .price-custom-inner
          span от 178.00 ₽/шт
      .btns-block    
        a.button-like.wishbtn.favorites(href='javascript:void(0)' onclick='add2wish(\'114\',\'73\',\'190.00\',\'Декоративная щепа коричневая (Мульча) "Без маркировки" 60 л\',\'/catalog/7559-shchepa-prozrachnye-meshki/114-dekorativnaya-shchepa-korichnevaya-mulcha-bez-markirovki-60-l/\',this)' tabindex='0')
          span.icon.icon-like-heart
        .quantity
          button.minus
          input(type='text' value='1')
          button.plus
        .cart
          a.js-add2basketNew(href='javascript:void(0)' data-id='21' data-quantity='1' data-name='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л') В корзину
