.catalog-block-items__item
  a(href='leftmenu__item.html')
    .catalog-block-items__img(style='background-image: url(static/images/index/kora_sosny_mulcha.jpg);')
  a.catalog-block-items__link(href='leftmenu__item.html')
    | Кора лиственницы Дизайнер Цветников
    // <span class="catalog-block-items__counter">(153)</span>
