.container
  .leftmenu(style='display:none;')
    ul.sidebar-menu
      // first level
      include leftmenu__parent
      include leftmenu__parent
      include leftmenu__parent
      include leftmenu__parent
      include leftmenu__parent

