li.parent
  a(href='leftmenu__item.html')
    | Кора лиственница (мульча)
  .sidebar-menu-popup.hidden-sm
    .sidebar-menu-popup-header
      span.sidebar-menu-popup-title Кора лиственница (мульча)
    div
      ul.sidebar-menu-popup-list
        // second level
        li
          a(href='/catalog/7547-kora-listvennitsy-dizayner-tsvetnikov/')
            | Кора лиственницы Дизайнер Цветников
        // second level
        li
          a(href='/catalog/7548-kora-listvennitsy-prozrachnye-meshki/')
            | Кора лиственницы прозрачные мешки