section.page-section.pay-and-delivery
  .container
    h4.section-title Доставка и оплата
    div
      .pay-and-delivery__block
        .pay-and-delivery__cards
          .pay-and-delivery__info
            .content-item-image.content-item-image_1
            h3 Наличными при получении
            p При доставке по Москве и Московской области
          .pay-and-delivery__info
            .content-item-image.content-item-image_2
            h3 Банковской картой
            p Visa, MasterCard, Maestro при самовывозе со склада или доставке
          .pay-and-delivery__info
            .content-item-image.content-item-image_3
            h3 Оплата по счету (для юр. лиц и ИП)
            p Менеджер свяжется с вами для уточнения деталей заказа
      .pay-and-delivery__block
        .pay-and-delivery__cards
          .pay-and-delivery__info
            .content-item-image.content-item-image_4
            h3 Самовывоз со склада "Молоково"
            p Режим выдачи заказов: Понедельник-суббота 09:00-17:00
          .pay-and-delivery__info
            .content-item-image.content-item-image_5
            h3 Доставка по Москве и области
            p Цена зависит от веса заказа и адреса доставки
          .pay-and-delivery__info
            .content-item-image.content-item-image_6
            h3 Доставка транспортной компанией
            p По России и СНГ. Мы работаем с ПЭК, Деловые линии, КИТ, DPD
