.info-wrapper
  .info-wrapper-header.tabs-name.tabs-name-lk
    a.info-header-link.button.button-with-icon(href='personal__page.html')
      span.icon.user-icon-tab
      |                 Мой профиль
    a.info-header-link.button.button-with-icon.is-active(href='personal-order__page.html')
      span.icon.card-icon-tab
      |                 Мои заказы
    a.info-header-link.button.button-with-icon(href='personal-support__page.html')
      span.icon.message-icon-tab
      |                 Мои обращения
    a.info-header-link.button.button-with-icon(href='personal-sub__page.html')
      span.icon.notify-icon-tab
      |                 Уведомления