section.page-section.section-banner
  .container
    .banner-coupon-wrapper
      .banner.banner-coupon
        .banner-coupon__icon
        article.banner-coupon-content
          h3.banner-coupon-content__title Получите скидку до 50% на следующий заказ!
          span.banner-coupon-content__description Cекретное предложение только для наших подписчиков
        form#form-coupon.banner-form(data-ajax-url='/local/ajax/form_actions.php')
          .valid-group.valid-group-1
            input.field.name(type='text' placeholder='Ваше имя' name='')
            span.valid
            span.unvalid
          .valid-group.valid-group-2
            input.field(type='email' placeholder='Ваш E-mail' name='email')
            span.valid
            span.unvalid
          input.button.button__yellow(type='submit' value='Подписаться')