.section-subscribe
  .container
    .row
      .col-md-35
        .section-title-new.title
          | Будьте в курсе наших лучших предложений
        p
          | Каждый месяц разыгрываем призы среди подписчиков
      .col-md-25
        form
          input.input(type='email' placeholder='Электронная почта' required='')
          button.button(type='submit') Подписаться