section.page-section.page-section_darkgray.needhelp-section
  .container
    .needhelp
      .needhelp-image
        span.icon.icon-madam
      article.needhelp-content
        h4.needhelp-content__title Нужна помощь с выбором?
        span.needhelp-content__description Оставьте заявку на обратный звонок и мы перезвоним в ближайшее время
      form#form-needhelp.needhelp-callback(data-ajax-url='/local/ajax/callback.php')
        h4.needhelp-callback__title Заказать звонок
        span.needhelp-callback__description Заполните данную форму
        .valid-group.valid-group-4
          input.field(type='text' data-group='name' name='name' required='required' placeholder='Имя')
          span.valid
          span.unvalid
        .valid-group.valid-group-4
          input.field(type='text' data-group='name' name='last_name' placeholder='Фамилия (необязательно)')
          span.valid
          span.unvalid
        .valid-group.valid-group-4
          input.field.js-phone(type='tel' required='required' name='phone')
          span.valid
          span.unvalid
        input.button.button__yellow(type='submit' value='Отправить заявку')