section#ask.page-section.page-section_lightgray.section-most-question
  .container
    .question-block
      .question-block-header
        h4.section-title Часто задаваемые вопросы
        a.js-popup.button.button-link.button-link_blue(href='#' data-page='callback.html')
          span.icon.icon-ask-question
          span.text Задать свой вопрос
      .question-block-body
        .question-item-wrapper
          .question-item.question-item_active.js-questionItem
            h4.question-item__title Как можно оплатить заказ?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Как происходит оплата и доставка в другие города?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Можно ли приехать на склад и купить товары там?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Сколько нужно купить, чтобы была скидка?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Сколько стоит доставка?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Сколько стоит доставка?
            i.fa.fa-angle-down
          .question-item.js-questionItem
            h4.question-item__title Сколько стоит доставка?
            i.fa.fa-angle-down
        .question-result.question-result_active.js-questionResult
          h4.question-result__title Как можно оплатить заказ?
          p.question-result__content
            | В разделе сайта 
            a(href='payment__page.html') «Оплата»
            |  вы можете посмотреть все возможные способы оплаты своего заказа.
        .question-result.js-questionResult
          h4.question-result__title Как происходит оплата и доставка в другие города?
          p.question-result__content
            | Доставка в другие города обычно осуществляется транспортными компаниями после 100% оплаты заказа.
        .question-result.js-questionResult
          h4.question-result__title Можно ли приехать на склад и купить товары там?
          p.question-result__content
            | На складе отгружаются только заказы, оформленные предварительно через отдел продаж.
        .question-result.js-questionResult
          h4.question-result__title Сколько нужно купить, чтобы была скидка?
          p.question-result__content
            | Скидки у нас рассчитываются автоматически по каждой категории товара и зависят от суммы заказа и количества товаров. Более подробно Вы можете ознакомиться с условиями скидки на конкретный товар в его карточке.
        .question-result.js-questionResult
          h4.question-result__title Сколько стоит доставка?
          p.question-result__content
            | Стоимость и способ доставки рассчитывается индивидуально в зависимости от веса и адреса доставки. Для уточнения стоимости доставки положите товары в корзину и перейдите на страницу выбора способа доставки, где отобразится стоимость.
        .question-result.js-questionResult
          h4.question-result__title Сколько стоит доставка?
          p.question-result__content
            | Стоимость и способ доставки рассчитывается индивидуально в зависимости от веса и адреса доставки. Для уточнения стоимости доставки положите товары в корзину и перейдите на страницу выбора способа доставки, где отобразится стоимость.
        .question-result.js-questionResult
          h4.question-result__title Сколько стоит доставка?
          p.question-result__content
            | Стоимость и способ доставки рассчитывается индивидуально в зависимости от веса и адреса доставки. Для уточнения стоимости доставки положите товары в корзину и перейдите на страницу выбора способа доставки, где отобразится стоимость.
