footer.footer
  .footer-primary
    .container
      .row
        .col-md-20
          .footer-logo
            img(src='static/images/logo-simple.png', alt='Логотип')
          .footer-desc
            | ЦВЕТНИКИ.РУ (ранее "Цветники России") - оптовый интернет-магазин товаров для дома, сада, стройки и декора. Всего более 32000 наименований товаров можно купить оптом и в розницу по низким ценам на нашем сайте.
          div
            #bxdynamic_bDhbD9_start(style='display: none;')
            .social-links
              a.social-link.social-link-facebook(href='https://ru-ru.facebook.com/tsvetniki/', target='_blank')
              a.social-link.social-link-vkontakte(href='https://vk.com/tsvetniki', target='_blank')
              a.social-link.social-link-ok(href='https://ok.ru/group/58994192875570', target='_blank')
              a.social-link.social-link-instagram(href='https://www.instagram.com/tsvetniki/', target='_blank')
              a.social-link.social-link-youtube(href='https://www.youtube.com/user/maloy231026', target='_blank')
            #bxdynamic_bDhbD9_end(style='display: none;')
        .col-md-10
          ul.footer-nav
            li
              a(href='catalog__page.html') Каталог товаров
            li
              a(href='about__page.html') О магазине
            li
              a(href='contacts__page.html') Контакты
            li
              a(href='delivery__page.html') Доставка
            li
              a(href='payment__page.html') Оплата
        .col-md-30
          .row
            .col-md-25
              div
                .small-contacts
                  a(href='tel:+74952215116') 8 495 221 51 16
                  div
                    | Офис: пн-пт с 9:00 до 18:00
                    br
                    |  Склад: вт-сб с 8:00 до 17:00
              div
                include ../modules/button__callback
              ul.footer-nav
                li
                  a(href='publichnaya-oferta.html') Пользовательское соглашение
                li
                  a(href='politika-konfidentsialnosti.html') Конфиденциальность
            .col-md-35
              .footer-subscribe
                p.footer-subscribe-title Узнавайте первыми о распродажах и новинках!
                form.footer-subscribe-form
                  input.input(type='email', placeholder='Электронная почта', required='')
                  button.button.button__yellow(type='submit') Подписаться
                p.footer-subscribe-agreement
                  | Нажимая на кнопку вы даёте согласие на 
                  a(href='publichnaya-oferta.html') обработку своих персональных данных
              .footer-paysystems
                img.lazy(data-src='/static/images/payment-342.png', style='max-width: 100%;', alt='Payments')
  .footer-secondary
    .container
      .row
        .col-md-30
          .footer-disclamer Информация на сайте не является публичной офертой
        .col-md-30
          .footer-copyright © Цветники.ру 2020 / Все права защищены
