header.header
  .container
    .row.spaced
      .col-md-14
        .logo
          a(href='index.html')
            img(src='static/images/logo.png', alt='Логотип')
      .col-md-46
        .header-layout
          .header-layout-flex
            .header-slogan
              h1
                | Производитель садовых товаров.
                br
                | Оптовый интернет-магазин
          .header-layout-fixed
            .pull-left
              .header-callblock
                include ../modules/button__callback
            .pull-right
              .header-contacts
                .small-contacts
                  a(href='tel:+74952215116') 8 495 221 51 16
                  div
                    | Офис: пн-пт с 9:00 до 18:00
                    br
                    | Склад: вт-сб с 8:00 до 17:00
    .row
      .col-md-14.spaced-xs.spaced-sm
        button.button.button-menu
          span.icon.icon-hamburger
          span
            | Каталог 
            span.hidden-md товаров
      .col-md-46
        .header-layout
          .header-layout-flex.spaced-xs
            form.js-search-block(action='/catalog/')
              input.js-search-title.input.input-search(name='q', placeholder='Поиск — Более 32 000 товаров оптом', data-component-params='{"params":"YTozOntzOjEyOiJ0ZW1wbGF0ZU5hbWUiO3M6NjoiaGVhZGVyIjtzOjY6InBhcmFtcyI7YToxOntzOjEwOiJDQUNIRV9UWVBFIjtzOjE6IkEiO31zOjEzOiJjb21wb25lbnROYW1lIjtzOjMwOiJhc3RkZXNpZ246Y2F0YWxvZy5zZWFyY2gudGl0bGUiO30=.672c415a7c159359ee81ba5b54c6c30de31b3daeef8a20f6ab003564f0aacafa","component":"astdesign:catalog.search.title:header"}', value='')
              button.header-search-block-button(type='submit')
              .js-search-response
          .header-layout-fixed
            .toolset
              .toolset-item
                a.button.button-only-icon(href='wishlist__page.html')
                  span.button-notification
                    #wishcount
                      | 0
                  span.icon.icon-favourite
              .toolset-item.toolset-item-wide.js-header-cart(data-href='/personal/basket/', data-component='{"params":"YTozOntzOjEyOiJ0ZW1wbGF0ZU5hbWUiO3M6MDoiIjtzOjY6InBhcmFtcyI7YToxNTp7czoyMDoiSElERV9PTl9CQVNLRVRfUEFHRVMiO3M6MToiTiI7czoxNzoiUEFUSF9UT19BVVRIT1JJWkUiO3M6MDoiIjtzOjE0OiJQQVRIX1RPX0JBU0tFVCI7czoxNzoiL3BlcnNvbmFsL2Jhc2tldC8iO3M6MTM6IlBBVEhfVE9fT1JERVIiO3M6MjE6Ii9wZXJzb25hbC9vcmRlci9tYWtlLyI7czoxNjoiUEFUSF9UT19QRVJTT05BTCI7czoxMDoiL3BlcnNvbmFsLyI7czoxNToiUEFUSF9UT19QUk9GSUxFIjtzOjEwOiIvcGVyc29uYWwvIjtzOjE2OiJQQVRIX1RPX1JFR0lTVEVSIjtzOjc6Ii9sb2dpbi8iO3M6MTQ6IlBPU0lUSU9OX0ZJWEVEIjtzOjE6Ik4iO3M6MTE6IlNIT1dfQVVUSE9SIjtzOjE6Ik4iO3M6MTc6IlNIT1dfRU1QVFlfVkFMVUVTIjtzOjE6IlkiO3M6MTc6IlNIT1dfTlVNX1BST0RVQ1RTIjtzOjE6Ik4iO3M6MTg6IlNIT1dfUEVSU09OQUxfTElOSyI7czoxOiJOIjtzOjEzOiJTSE9XX1BST0RVQ1RTIjtzOjE6Ik4iO3M6MTY6IlNIT1dfVE9UQUxfUFJJQ0UiO3M6MToiWSI7czoxMDoiQ0FDSEVfVFlQRSI7czoxOiJBIjt9czoxMzoiY29tcG9uZW50TmFtZSI7czozMzoiYXN0ZGVzaWduOnNhbGUuYmFza2V0LmJhc2tldC5saW5lIjt9.3f00877fb1c11de27ff3ad47ea49448fb3644a8318e82bd73d2a231c1d7a2478","component":"astdesign:sale.basket.basket.line:"}')
                a.button.button-cart(href='basket__page.html')
                  span.button-notification.js-basket-count(style='display: none;') 0
                  span.icon.icon-cart
                  span.js-basket-price 0.00 ₽
            // /.toolset
