include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		meta(class="viewport" name="viewport" content="width=device-width,initial-scale=1")
		<meta name="robots" content="all">
		block keywords
		block description
		//- подключение favicon
		link(rel='apple-touch-icon' sizes='57x57' href='static/images/icons/apple-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='60x60' href='static/images/icons/apple-icon-60x60.png')
		link(rel='apple-touch-icon' sizes='72x72' href='static/images/icons/apple-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='static/images/icons/apple-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='static/images/icons/apple-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='static/images/icons/apple-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='static/images/icons/apple-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='static/images/icons/apple-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='static/images/icons/apple-icon-180x180.png')
		link(rel='icon' type='image/png' sizes='192x192' href='static/images/icons/android-icon-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='static/images/icons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='96x96' href='static/images/icons/favicon-96x96.png')
		link(rel='icon' type='image/png' sizes='16x16' href='static/images/icons/favicon-16x16.png')
		
		//- Styles
		<link rel="canonical" href="https://tsvetniki.ru/">

		//- Styles - plugin
		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

		<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap" rel="stylesheet">
		link(rel="stylesheet" type='text/css' href="static/css/style.css")

	body
		.wrapper
			include ../layout/navbar
			include ../layout/header
			block content
			include ../layout/footer
			<div id="top" class="button button__yellow">
				img(src="static/images/index/arrow.svg", alt="", srcset="")
			</div>	
			.overlay
			.hidden-social-auth(style='display: none')
				a#bx_socserv_icon_Facebook.login-social-buttons__fb(href='javascript:void(0)' onclick="BX.util.popup('https://www.facebook.com/dialog/oauth?client_id=465031873849318&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Ffacebook.php&scope=email,user_friends&display=popup&state=site_id%3Ds1%26backurl%3D%252Fpersonal%252Fregister%252F%253Fcheck_key%253Def806f75bda9d498fba432f7dcbae26a%26redirect_url%3D%252Fpersonal%252Fregister%252F', 680, 600)" title='Facebook')
				a#bx_socserv_icon_VKontakte.login-social-buttons__vk(href='javascript:void(0)' onclick="BX.util.popup('https://oauth.vk.com/authorize?client_id=6083937&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fvkontakte.php&scope=friends,offline,email&response_type=code&state=site_id%3Ds1%26backurl%3D%252Fpersonal%252Fregister%252F%253Fcheck_key%253Def806f75bda9d498fba432f7dcbae26a%26redirect_url%3D%252Fpersonal%252Fregister%252F', 660, 425)" title='ВКонтакте')
				a#bx_socserv_icon_GooglePlusOAuth.login-social-buttons__google(href='javascript:void(0)' onclick="BX.util.popup('https://accounts.google.com/o/oauth2/auth?client_id=1001750467216-o2c434r9i9bvu8ve49efsjkh9uq3ujet.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fgoogle.php&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.me&response_type=code&access_type=offline&state=provider%3DGooglePlusOAuth%26site_id%3Ds1%26backurl%3D%252Fpersonal%252Fregister%252F%253Fcheck_key%253Def806f75bda9d498fba432f7dcbae26a%26mode%3Dopener%26redirect_url%3D%252Fpersonal%252Fregister%252F', 580, 400)" title='Google+')
				a#bx_socserv_icon_Odnoklassniki.login-social-buttons__ok(href='javascript:void(0)' onclick="BX.util.popup('http://www.odnoklassniki.ru/oauth/authorize?client_id=1251545088&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fodnoklassniki.php&response_type=code&state=site_id%3Ds1%26backurl%3D%252Fpersonal%252Fregister%252F%253Fcheck_key%253Def806f75bda9d498fba432f7dcbae26a%26redirect_url%3D%252Fpersonal%252Fregister%252F%26mode%3Dopener', 580, 400)" title='Одноклассники')

			script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
			script(src='https://code.jquery.com/jquery-migrate-3.3.0.min.js', integrity='sha256-wZ3vNXakH9k4P00fNGAlbN0PkpKSyhRa76IFy4V1PYE=', crossorigin='anonymous')
			script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js')
			<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


			script(type='text/javascript' src='static/js/jquery.fancybox.js')
			script(type='text/javascript' src='static/js/YouTubePopUp.jquery.js')
			script(type='text/javascript' src='static/js/sweetalert2.min.js')
			script(type='text/javascript' src='static/js/libs.min.js')
			script(type='text/javascript' src='static/js/jquery.inputmask.bundle.min.js')
			script(type='text/javascript' src='static/js/common.min.js')
			script(type='text/javascript' src='static/js/jquery.magnific-popup.min.js')
			script(type='text/javascript' src='static/js/jquery.matchHeight.js')
			script(type='text/javascript' src='static/js/jquery.lazy.min.js')
			script(type='text/javascript' src='static/js/jquery.lazy.plugins.min.js')
			
			script(type='text/javascript' src='static/js/ajax.js')
			script(type='text/javascript' src='static/js/filter.js')
			script(type='text/javascript' src='static/js/analytics.js')
			script(type='text/javascript' src='static/js/countdowntimer.js')
			script(type='text/javascript' src='static/js/global.js')
			script(type='text/javascript' src='static/js/custom-js.js')
			script(type='text/javascript' src='static/js/lazy.init.js')
			script(type='text/javascript' src='static/js/ajax2.js')
			script(type='text/javascript' src='static/js/amt.js')
			script(type='text/javascript' src='static/js/main.js')

			script(type='text/javascript').
				var _ba = _ba || []; _ba.push(["aid", "5bdc2ffe94ba5ee6036d3c5b86c143e0"]); _ba.push(["host", "tsvetniki.ru"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();

			script.
				!function(f,b,e,v,n,t,s)
				{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
				fbq('init', '2528336040734904');
				fbq('track', 'PageView');

			script(type='text/javascript').
				!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?162",t.onload=function(){VK.Retargeting.Init("VK-RTRG-423064-8S5my"),VK.Retargeting.Hit()},document.head.appendChild(t)}();

			script.
				$('.js-search-title').on('input', function () {
				var that = this;
				AjaxModule.requestComponent($(this).data('componentParams'), {
				'action': 'search',
				'q': $(this).val()
				}, function (response) {
				$(that).closest('.js-search-block').find('.js-search-response').html(response.template);
				});
				});

			script(type='text/javascript').
				function BxSocServPopup(id) {
				var content = BX("bx_socserv_form_" + id);
				if (content) {
				var popup = BX.PopupWindowManager.create("socServPopup" + id, BX("bx_socserv_icon_" + id), {
				autoHide: true,
				closeByEsc: true,
				angle: {offset: 24},
				content: content,
				offsetTop: 3
				});
				popup.show();
				var input = BX.findChild(content, {'tag': 'input', 'attribute': {'type': 'text'}}, true);
				if (input) {
				input.focus();
				}
				var button = BX.findChild(content, {'tag': 'input', 'attribute': {'type': 'submit'}}, true);
				if (button) {
				button.className = 'btn btn-primary';
				}
				}
				}

			<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>

			script(type='text/javascript').
				(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
				m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
				(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
				ym(52807990, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
				});

			script(type='text/javascript').
				(function () {
				var widget_id = '8awKFPC8tc';
				var d = document;
				var w = window;
				function l() {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = '//code.jivosite.com/script/widget/' + widget_id;
				var ss = document.getElementsByTagName('script')[0];
				ss.parentNode.insertBefore(s, ss);
				}
				if (d.readyState == 'complete') {
				l();
				} else {
				if (w.attachEvent) {
				w.attachEvent('onload', l);
				} else {
				w.addEventListener('load', l, false);
				}
				}
				})();

			script.
				!function(f,b,e,v,n,t,s)
				{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js');
				fbq('init', '2528336040734904');
				fbq('track', 'PageView');

			script(type='text/javascript').
				function add2wish(p_id, pp_id, p, name, dpu, th){
				$.ajax({
				type: "POST",
				url: "/local/ajax/wishlist.php",
				data: "p_id=" + p_id + "&pp_id=" + pp_id + "&p=" + p + "&name=" + name + "&dpu=" + dpu,
				success: function(html){
				$(th).addClass('in_wishlist');
				$('#wishcount').html(html);
				}
				});
				};

		block script
