.navbar
  .container
    .row
      .col-sm-14.col-sm-push-46
        .hidden-md.hidden-lg.hidden-sm
          button.hamburger.js-menu-toggle(type='button')
            span.hamburger-box
              span.hamburger-inner
        .navbar-cabinet
          <span class="icon icon-user"></span>
          <a class="login-links__reg  top-menu__link js-popup" href="enter.html">Вход</a>
          span  / 
          <a href="register__page.html">Регистрация</a>
      .col-sm-46.col-sm-pull-14
        ul.navbar-nav.hidden-xs
          li
            a(href='delivery__page.html') Доставка
          li
            a(href='payment__page.html') Оплата
          li
            a(href='reviews__page.html') Отзывы
          li
            a(href='about__page.html') О нас
          li
            a(href='/', download='') Прайс-лист
          li
            a(href='opt__page.html') Оптовикам
          li
            a(href='contacts__page.html') Контакты
          li
            a(href='shots__page.html') Акции