.mb-30{
  margin-bottom: 30px;
}

.basket-page {
  &__main{
    &-steps{
      text-align: right;
    }
  }
  &__steps {
    // height: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
    background: rgb(246, 246, 246);

    & .row {
      height: 100%;

      & .col-sm-20 {
        padding: 0;
      }
    }

    &-item {
      align-items: center;
      color: rgb(187, 187, 187);
      display: flex;
      font-weight: 700;
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 0px 1.5rem;
      cursor: pointer;

      &__num {
        width: 2rem;
        height: 2rem;
        align-items: center;
        display: flex;
        font-size: 1.125rem;
        justify-content: center;
        margin-right: 1rem;
        border-radius: 50%;
      }

      &__rect {
        width: 1rem;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgb(246, 246, 246);
        &::before{
          width: 2rem;
          height: 2rem;
          content: "";
          left: -1rem;
          position: absolute;
          top: 0.5rem;
          transform: rotate(45deg) skew(22deg, 22deg);
          background:rgb(246, 246, 246);
        }
      }
    }
  }

  &__product{
    overflow-x: scroll;
    margin-bottom: 30px;
    &-block{
      min-width: 940px;
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;

    &__tabs {
      display: flex;
      flex-wrap: nowrap;
      transform: translateY(1px);
      z-index: 1;

      &-item {
        height: 3rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
        padding: 0 1.5rem;
        border: 1px solid #ddd;
        border-radius: .25rem .25rem 0 0;
        font-size: 1.125rem;
        cursor: pointer;
      }
    }

    &__button {
      display: flex;
      align-items: center;

      &-print {
        transition: all .2s ease-in-out;
        align-items: center;
        color: #435876;
        display: flex;
        line-height: 1;
        font-weight: 700;

        &:hover {
          color: #d66150;
          text-decoration: none;

          & svg {
            fill: #d66150
          }
        }

        & svg {
          transition: all .2s ease-in-out;
          width: 1.5rem;
          height: 1.5rem;
          fill: #435876;
          margin-right: .5rem;
        }
      }

      &-vertical-line {
        width: 1px;
        height: 2rem;
        background: #ddd;
        margin: 0 1rem
      }

      &-delete {
        transition: all .2s ease-in-out;
        align-items: center;
        color: #435876;
        display: flex;
        line-height: 1;

        &:hover {
          text-decoration: none;

          &>div>svg {
            transform: rotate(90deg)
          }
        }

        &>div {
          width: 2rem;
          height: 2rem;
          align-items: center;
          border: 1px solid #ddd;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          margin-left: .5rem;

          &>svg {
            transition: all .2s ease-in-out;
            width: .5rem;
            height: .5rem;
          }
        }
      }
    }
  }

  &__table {

    &-head {
      background: #f6f6f6;
      border: 1px solid #ddd;
      color: #777;
      font-size: .875rem;
      line-height: 1;
      padding: .875rem 1.5rem
    }

    &-body {
      &__line {
        border: 1px solid #ddd;
        border-top: 0;
        line-height: 1.25;
        padding: .5rem 1.5rem
      }
    }
  }

  &__promo {
    margin-bottom: 30px;

    & .field {
      margin-bottom: 0;
      width: 100%;
    }
    & .button{
      width: 100%;
      text-align: center;
    }
  }

  &__total {
    margin-bottom: 30px;
    &-block {
      border: 2px dashed #f6f6f6;
      border-radius: .5rem;
      font-size: 1.125rem;
      padding: 1.5rem
    }

    &-italic {
      font-style: italic
    }

    &-bold {
      font-weight: 700
    }

    &-through {
      text-decoration: line-through
    }

    &-green {
      color: #7fca6d
    }
  }

}

.active-step{
  height: 50px;
  color: black;
  background: rgb(251, 204, 63);
  &:hover{
    text-decoration: none;
    color: black;
  }
  & .basket-page__steps-item{
    &__num{
        background: rgba(214, 97, 80, 0.5);
    }
    &__rect{
      &::before{
        background: rgb(251, 204, 63);
      }
    }
  }
}

.active-tab{
  background: #f6f6f6;
  border-bottom-color: #f6f6f6;
  font-weight: 700
}

.item {
  &-photo {
    transition: all .2s ease-in-out;
    display: block;
    position: relative;

    & img,
    & svg {
      max-height: 4rem;
      max-width: 100%;
      position: absolute
    }

    &:hover {
      opacity: .8
    }
  }

  &-name {
    color: #000;
    display: block;
    line-height: 1.1;
    margin-bottom: .25rem;

    &:hover {
      color: #d66150
    }
  }

  &-price {
    &__old {
      color: #777;
      font-size: .75rem;
      margin-right: .5rem
    }

    &__discount {
      color: #7fca6d;
      font-weight: 700
    }

    &__actual {
      color: #111;
      font-size: 1.125rem;
      font-weight: 700
    }

    &__type {
      color: #777;
      font-size: .875rem;
      margin-bottom: .25rem
    }

    &__comment {
      border: 1px solid currentColor;
      border-radius: 3px;
      display: inline-flex;
      font-size: .875rem;
      padding: .25rem .5rem;
    }
  }

  &-amount {
    align-items: center;
    display: flex;
    height: 2.25rem;
    justify-content: flex-start;

    & .plus,
    & .minus {
      transition: all .2s ease-in-out;
      width: 2rem;
      height: 100%;
      align-items: center;
      background: #fff;
      border: 1px solid #ddd;
      color: #111;
      cursor: pointer;
      display: flex;
      font-size: 1.25rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      border-radius: 0 3px 3px 0;

      &:hover {
        background: hsla(0, 0%, 96%, .5)
      }
    }

    & input {
      width: 3rem;
      height: 100%;
      background: #f6f6f6;
      border: 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      color: #111;
      font-weight: 700;
      text-align: center
    }
  }

  &-summ {
    color: #111;
    font-size: 1.125rem;
    font-weight: 700
  }

  &-shipping-date {
    align-items: center;
    color: #333;
    display: flex;
    line-height: 1;

    & svg {
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
      transform: translateY(1px);
    }
  }

  &-delete svg {
    transition: all .2s ease-in-out;
    width: .75rem;
    height: .75rem;

    &:hover {
      transform: rotate(90deg)
    }
  }

  &-articul-weight {
    color: #777;
    font-size: .875rem;

    & span {
      margin-right: 2rem
    }
  }

  &-defer {
    transition: all .2s ease-in-out;
    border-bottom: 1px dashed currentColor;
    color: #435876;
    cursor: pointer;
    line-height: 1;
  }

}

.to-catalog, .to-order {
  & .button{
    width: 100%;
    text-align: center;
  }
  & div{
    display: inline-block;
  }
  & svg{
    transition: all .2s ease-in-out;
    width: .75rem;
    height: .75rem;
    fill: #111;
  }
}

.to-catalog  {
  & svg{
    margin-right: .5rem;
    transform: translateY(1px);
  }
  &:hover svg{
    transform: translateY(1px) translateX(-.25rem)
  }
}

.to-order{
  & svg{
    margin-left: .5rem;
    transform: translateY(1px) rotate(180deg);
  }
  &:hover svg {
    transform: translateY(1px) translateX(.25rem) rotate(180deg)
  }
}

.green {
  background: #f1f8e9;
  border-color: #c0dfa2;
  color: #557436
}

.yellow {
  background: #fef5de;
  border-color: #f8de9f;
  color: #b1862f
}

@media(max-width: 576px){
  .basket-page {
    &__promo {
      margin-bottom: 30px;
  
      & .field {
        margin-bottom: 10px;
      }
    }
    &__total{
      &-block{
        font-size: 14px;
        padding: 0;
        border: 0;
      }
    }
  }
  .row.justify-content-between.mb-30{
    & .col-auto{
      &:first-child{
        padding-right: 0;
      }
      &:last-child{
        padding-left: 0;
      }
      & .button{
        padding: 0 5px;
      }
    }
  }
}



.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» {
  border: 2px solid #eee;
  border-radius: .25rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem;
  position: relative
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» input {
  font-size: 1rem
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .icon-map--рџ‘©рџЏѕвЂЌрџ”§рџ‘©рџЏЅвЂЌрџ’јрџ‘·рџЏјвЂЌв™‚пёЏрџЌ‚рџ‡ѕрџ‡№ {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .25rem;
  -o-object-fit: contain;
  object-fit: contain;
  transform: translateY(.25rem)
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select a {
  white-space: normal !important
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select .dropdown-toggle {
  border: 1px solid #eee;
  height: 2.5rem
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select .dropdown-toggle .clear {
  display: none
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select .selected-tag,
.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select input[type=search] {
  font-size: 1rem;
  font-weight: 400;
  padding: .25rem .5rem
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select input[type=search] {
  left: 0;
  padding-top: .625rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select .dropdown-menu {
  font-size: 1rem;
  font-weight: 400;
  width: 100%
}

.content--рџЏ‡рџЏјрџ‘©вЂЌрџ‘©вЂЌрџ‘¦вЂЌрџ‘¦рџ‘ђрџЏѕрџ’†рџЏјрџ‘·рџЏ» .v-select .dropdown-select-item {
  height: auto;
  width: 100%
}

.preloader--рџ”Ірџ“Ќрџ’ЃрџЏ»вЂЌв™ЂпёЏрџ‘ЁвЂЌрџ”§рџ‘ЇрџЏївЂЌв™‚пёЏ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ {
  background: #eee;
  position: relative
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹ {
  transition: all .2s ease-in-out;
  width: 2rem;
  height: 2rem;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 .125rem .5rem 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 11rem;
  z-index: 4 !important
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ svg,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ:hover,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹:hover {
  box-shadow: 0 .25rem 1rem 0 rgba(0, 0, 0, .2)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ:focus,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹:focus {
  outline: none
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹ {
  left: -1rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .prev--в›№рџЏјвЂЌв™‚пёЏрџ’†рџЏЅрџ‘ёрџ‡Ѕрџ¦‹:hover {
  transform: scale(1.1)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ {
  right: -1rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ svg {
  transform: rotate(180deg)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .next--рџ¤ќрџ”ёрџ¤љрџЏјрџ‡»рџ‡Єрџљ¶рџЏЅвЂЌв™‚пёЏ:hover {
  transform: scale(1.1)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ {
  height: 24rem;
  margin: 0 -8rem;
  position: relative
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ:before {
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 8rem;
  height: 100%;
  left: 0;
  z-index: 2 !important
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ:after {
  background: #fff;
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 8rem;
  height: 100%;
  right: 0;
  z-index: 2 !important
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .gradient-left--рџ‡°рџ‡ѕрџ‡Ірџ‡Ѕрџ‘ЇрџЏѕрџ‘ЊрџЏѕрџЏЉрџЏї,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .gradient-right--рџ‘ірџЏѕрџ¤›рџЋ¤рџ™†рџЏЅвЂЌв™ЂпёЏрџ‡¶рџ‡¦ {
  transition: all .2s ease-in-out;
  width: 3.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3 !important
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .gradient-left--рџ‡°рџ‡ѕрџ‡Ірџ‡Ѕрџ‘ЇрџЏѕрџ‘ЊрџЏѕрџЏЉрџЏї {
  background: linear-gradient(270deg, hsla(0, 0%, 93%, 0) 0, #eee 80%, #eee);
  left: 8rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .gradient-right--рџ‘ірџЏѕрџ¤›рџЋ¤рџ™†рџЏЅвЂЌв™ЂпёЏрџ‡¶рџ‡¦ {
  background: linear-gradient(90deg, hsla(0, 0%, 93%, 0) 0, #eee 80%, #eee);
  right: 8rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ {
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ {
  padding: 2rem 0;
  width: 11rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“:hover {
  z-index: 4 !important
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ {
  transition: all .2s ease-in-out;
  background: #fff;
  box-shadow: 0 0 0 0 transparent;
  padding: 1rem;
  width: calc(100% - 1px)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ * {
  box-sizing: border-box
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ img {
  margin-bottom: 1rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ .title--рџ‡­рџ‡ірџ‘љрџЊ–рџЌЊрџђЈ {
  color: #000;
  display: block;
  font-size: .875rem;
  line-height: 1.25;
  margin-bottom: 1rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ .title--рџ‡­рџ‡ірџ‘љрџЊ–рџЌЊрџђЈ:hover {
  color: #d66150;
  text-decoration: underline
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ .price--рџ¤¦рџЏ»вЂЌв™‚пёЏрџЊ€рџ¤јрџЏЅвЂЌв™ЂпёЏрџ‘©рџЏјвЂЌрџЋ¤рџҐ– {
  color: #111;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: .5rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ:hover {
  box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, .2)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .swiper-container-wrapper--рџ…±рџ¤µрџЏїрџљЈвЂЌв™ЂпёЏрџђ”рџ‘Љ .swiper-container--рџ‘ЊрџЏЅрџ‘¶рџЏјрџ•µрџЏЅвЂЌв™‚пёЏрџ‘Јрџ“Љ .slide-wrapper--рџ‡¶рџђЄрџљЉрџ‘©рџЏјвЂЌрџ”¬рџ‘ЁрџЏјвЂЌрџЋ“ .slide--рџ“Ірџ‘·рџЏївЂЌв™ЂпёЏрџ›ЊрџЏЅрџ‘µрџЏјрџЏЊ .to-cart--рџ”±рџ”›рџ‡®рџ‡ґрџ‡№рџ‡ґрџ‡єрџ‡ё svg {
  width: .5rem;
  height: .5rem;
  margin-right: .5rem;
  transform: translateY(-1px)
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .you-need--рџ’–рџљµрџЏѕвЂЌв™ЂпёЏрџ‘‹рџЏїрџ•ґрџЏјрџЊЅ {
  color: #111;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .you-need--рџ’–рџљµрџЏѕвЂЌв™ЂпёЏрџ‘‹рџЏїрџ•ґрџЏјрџЊЅ .title--рџ‡­рџ‡ірџ‘љрџЊ–рџЌЊрџђЈ {
  color: #111;
  font-size: 1.25rem;
  font-weight: 700;
  margin: .5rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .you-need--рџ’–рџљµрџЏѕвЂЌв™ЂпёЏрџ‘‹рџЏїрџ•ґрџЏјрџЊЅ .item--рџЌ±рџ‘·рџЏѕвЂЌв™‚пёЏрџЌ”рџ‘ЁрџЏЅвЂЌрџЌірџЊђ {
  transition: all .2s ease-in-out;
  align-items: center;
  border: 1px solid #4e9ce9;
  border-radius: 3px;
  box-shadow: 0 0 0 0 transparent;
  color: #4e9ce9;
  cursor: pointer;
  display: flex;
  height: 2rem;
  line-height: 1;
  margin: .5rem;
  padding: 0 .5rem
}

.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .you-need--рџ’–рџљµрџЏѕвЂЌв™ЂпёЏрџ‘‹рџЏїрџ•ґрџЏјрџЊЅ .item--рџЌ±рџ‘·рџЏѕвЂЌв™‚пёЏрџЌ”рџ‘ЁрџЏЅвЂЌрџЌірџЊђ.active--рџ¤¦рџЏѕвЂЌв™‚пёЏрџљµрџЏЅвЂЌв™ЂпёЏрџ¤ёрџЏјвЂЌв™ЂпёЏрџ“”рџЋё,
.wrapper--рџ‡§рџ‡ёрџЊџрџ’ќрџљ¤рџ•’ .you-need--рџ’–рџљµрџЏѕвЂЌв™ЂпёЏрџ‘‹рџЏїрџ•ґрџЏјрџЊЅ .item--рџЌ±рџ‘·рџЏѕвЂЌв™‚пёЏрџЌ”рџ‘ЁрџЏЅвЂЌрџЌірџЊђ:hover {
  background: #4e9ce9;
  box-shadow: 0 .25rem .75rem 0 rgba(0, 0, 0, .2);
  color: #fff
}

.preloader--рџЄрџ‘ЁрџЏѕвЂЌрџЋЁрџ‘©рџЏ»вЂЌвњ€пёЏрџ–ЉрџЏ« {
  padding: 1.5rem
}

.preloader--рџЄрџ‘ЁрџЏѕвЂЌрџЋЁрџ‘©рџЏ»вЂЌвњ€пёЏрџ–ЉрџЏ« svg {
  fill: #ddd
}

.img--рџљЎрџ“‚рџљµрџЏѕвЂЌв™‚пёЏрџ‡ірџ‡єрџ™ЋрџЏјвЂЌв™‚пёЏ {
  width: 9.5rem;
  height: 9.5rem;
  -o-object-fit: contain;
  object-fit: contain
}























.item-economy--рџЏўрџЂ„рџ‘ЊрџЏ»рџ¤ѕрџЏјрџ” {
  color: #777;
  font-size: .875rem;
  margin-bottom: .125rem
}













.preloader--рџ™ЋрџЌ†рџ‘ґрџЏјрџ’ЃрџЏѕвЂЌв™ЂпёЏрџљґвЂЌв™‚пёЏ svg {
  animation: a .5s infinite alternate;
  fill: #f6f6f6
}

.clear-cart--вњЊрџЏѕрџ‘јрџЏѕрџ¤њрџЏЅрџ›ЊрџЏјрџ‘ЁрџЏѕвЂЌрџЋ“ {
  border: 1px solid #ddd;
  border-top: 0;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  text-align: center
}

.h100--рџЌ‹рџЏђрџ¤·рџЏЅвЂЌв™ЂпёЏрџљѕрџ€І {
  height: 100%
}

.wrapper--рџ‘ЁрџЏѕвЂЌрџ’»рџ‘ЁрџЏѕрџђќрџЌ…рџ¤љрџЏ» {
  transition: all .2s ease-in-out;
  border: 2px solid #eee;
  border-radius: .25rem;
  cursor: pointer;
  height: 100%;
  padding: 1.5rem;
  position: relative
}

.wrapper--рџ‘ЁрџЏѕвЂЌрџ’»рџ‘ЁрџЏѕрџђќрџЌ…рџ¤љрџЏ»:hover {
  border-color: #d5d5d5
}

.wrapper--рџ‘ЁрџЏѕвЂЌрџ’»рџ‘ЁрџЏѕрџђќрџЌ…рџ¤љрџЏ».active--рџ‡¬рџ‡µрџ‘ірџЏївЂЌв™‚пёЏрџЏ‚рџЏјрџљЂрџ‘·вЂЌв™‚пёЏ {
  border-color: #7fca6d
}

.wrapper--рџ‘ЁрџЏѕвЂЌрџ’»рџ‘ЁрџЏѕрџђќрџЌ…рџ¤љрџЏ».active--рџ‡¬рџ‡µрџ‘ірџЏївЂЌв™‚пёЏрџЏ‚рџЏјрџљЂрџ‘·вЂЌв™‚пёЏ:hover {
  border-color: #5ebc48
}

.title--рџ‹рџ›ЂрџЏѕрџЊ¤рџ“Єрџ‡ёрџ‡± {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: .25rem
}

.description--вќрџЏїрџ’ѓрџЏјрџЏ„рџЏѕвЂЌв™ЂпёЏрџљµрџЏїрџ’” {
  color: #555;
  line-height: 1.25
}

.status--рџ‡Ёрџ‡Ѕрџ™‹рџЏјвЂЌв™ЂпёЏрџ•¦рџ•µпёЏвЂЌв™‚пёЏрџ‘©рџЏЅвЂЌрџЋ“ {
  left: -.75rem;
  position: absolute;
  top: -.75rem
}

.additional-logos-item--рџљµрџЏ»вЂЌв™ЂпёЏрџ¤јрџЏ»рџ‘ІрџЏѕрџ‘ЌрџЏ»рџ’Ї {
  margin: 0 .25rem
}

.preloader--рџљ‰рџ™Љрџ‘ЁвЂЌрџЏ«рџ‘ірџЏївЂЌв™ЂпёЏвњЉрџЏЅ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.block--рџ¤™рџЏ»рџ’Љрџ‘©рџЏјвЂЌвњ€пёЏрџ‘©рџЏјвЂЌвљ–пёЏрџђ— {
  border: 2px solid #eee;
  height: 100%;
  padding: 1.5rem
}

.block--рџ¤™рџЏ»рџ’Љрџ‘©рџЏјвЂЌвњ€пёЏрџ‘©рџЏјвЂЌвљ–пёЏрџђ—.active--рџ‡Ёрџ‡°рџ‘‰рџЏЅрџ‘ЁрџЏѕвЂЌрџљ’рџЊ№рџ‡Ірџ‡¬ {
  border-color: #7fca6d
}

.alert--рџЏ‹рџЏѕвЂЌв™ЂпёЏрџЊ‰рџ’‚вЂЌв™‚пёЏрџ–ђрџЏѕрџ№ {
  background: #d66150;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1rem
}

.corner--рџ”©рџЏ—рџЋ…рџ¦€рџЏѓвЂЌв™‚пёЏ {
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #eee;
  border-bottom: 0;
  border-right: 0;
  position: absolute;
  top: -.625rem;
  transform: rotate(45deg)
}

.corner--рџ”©рџЏ—рџЋ…рџ¦€рџЏѓвЂЌв™‚пёЏ.pos_1--рџ• рџ”†рџ¤¶рџЋћрџ‡±рџ‡№ {
  left: calc(100% / 3 * 0 + 100% / 3 / 2 - 1rem)
}

.corner--рџ”©рџЏ—рџЋ…рџ¦€рџЏѓвЂЌв™‚пёЏ.pos_2--рџ‘ЁвЂЌрџ‘ЁвЂЌрџ‘§вЂЌрџ‘¦рџ€№рџЋ„рџ’‘рџѕ {
  left: calc(100% / 3 * 1 + 100% / 3 / 2 - .5rem)
}

.corner--рџ”©рџЏ—рџЋ…рџ¦€рџЏѓвЂЌв™‚пёЏ.pos_3--рџЏ„рџЏ»вЂЌв™‚пёЏрџ¤·рџЏ»рџ‘•рџҐ‘рџ–ђрџЏЅ {
  left: calc(100% / 3 * 2 + 100% / 3 / 2 + .5rem)
}

.green--рџ‘©рџЏ»вЂЌвљ–пёЏвњ‹рџЏѕрџ”ќрџ‘ЁрџЏѕвЂЌвљ•пёЏрџ‘ћ {
  border-color: #7fca6d
}

.wrapper--рџ‘©рџЏѕвЂЌрџ”¬рџ¤ёрџЏївЂЌв™ЂпёЏрџ€·рџ‡§рџ‡©рџ™‹рџЏјвЂЌв™‚пёЏ {
  width: 2rem;
  height: 2rem;
  align-items: center;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center
}

.wrapper--рџ‘©рџЏѕвЂЌрџ”¬рџ¤ёрџЏївЂЌв™ЂпёЏрџ€·рџ‡§рџ‡©рџ™‹рџЏјвЂЌв™‚пёЏ svg {
  width: .75rem;
  height: .75rem
}

.wrapper--рџ‘©рџЏѕвЂЌрџ”¬рџ¤ёрџЏївЂЌв™ЂпёЏрџ€·рџ‡§рџ‡©рџ™‹рџЏјвЂЌв™‚пёЏ.active--рџ’†рџЏѕрџ‘®рџЏјвЂЌв™ЂпёЏрџ¤ќрџЏЅрџ‡°рџ‡­рџ‘µрџЏѕ {
  background: #7fca6d;
  border-color: #7fca6d
}

.square--рџ’‚рџЏЅвЂЌв™‚пёЏрџ‡¬рџ‡·рџ™…рџЏ»вЂЌв™‚пёЏрџ‡Єрџ‡·рџ‡єрџ‡ї {
  border-radius: .25rem
}

.title--рџЈрџ‡­рџ‡§рџ‡Їрџ‡ірџЋ‘ {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem
}

.number--рџ–Ґрџ‘®рџЏјрџ‘ірџЏЅвЂЌв™ЂпёЏрџЌ•рџ”¬ {
  background: #eee;
  display: inline-flex;
  margin-bottom: 2rem;
  padding: .5rem 1rem
}

.to-catalog--рџ‡§рџ‡ґрџ‡Їрџ‡µрџ’ЄрџЏјрџ’‡рџЏЅвЂЌв™‚пёЏрџ“™ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem;
  fill: #111;
  margin-right: .5rem;
  transform: translateY(1px)
}

.to-catalog--рџ‡§рџ‡ґрџ‡Їрџ‡µрџ’ЄрџЏјрџ’‡рџЏЅвЂЌв™‚пёЏрџ“™:hover svg {
  transform: translateY(1px) translateX(-.25rem)
}

.sex--рџЌЌрџ™ЌрџЏ»рџ‘ЁвЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџ‡ёрџ‡®рџ‡°рџ‡® {
  border: 1px solid #eee;
  border-radius: .25rem;
  display: inline-flex
}

.sex--рџЌЌрџ™ЌрџЏ»рџ‘ЁвЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџ‡ёрџ‡®рџ‡°рџ‡®>div {
  transition: all .2s ease-in-out;
  width: 2.5rem;
  height: calc(2.5rem - 2px);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center
}

.sex--рџЌЌрџ™ЌрџЏ»рџ‘ЁвЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџ‡ёрџ‡®рџ‡°рџ‡®>div:hover {
  opacity: .8
}

.sex--рџЌЌрџ™ЌрџЏ»рџ‘ЁвЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџ‡ёрџ‡®рџ‡°рџ‡®>div.active--рџ‘ЁрџЏЅвЂЌрџЊѕрџ‡Ірџ‡јрџ­рџЌ—рџ’ЃрџЏјвЂЌв™‚пёЏ {
  background: hsla(0, 0%, 93%, .5)
}

.sex--рџЌЌрџ™ЌрџЏ»рџ‘ЁвЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџ‡ёрџ‡®рџ‡°рџ‡® svg {
  width: 1.5rem;
  height: 1.5rem
}

.error--рџ’ рџЌѓрџ‘ЄрџЏѕрџ—ЈрџІ,
.valid--рџ‡ґрџђЁрџ‡Їрџ‡Ірџ’ђрџ¤ѕрџЏѕвЂЌв™ЂпёЏ {
  position: relative
}

.error--рџ’ рџЌѓрџ‘ЄрџЏѕрџ—ЈрџІ svg,
.valid--рџ‡ґрџђЁрџ‡Їрџ‡Ірџ’ђрџ¤ѕрџЏѕвЂЌв™ЂпёЏ svg {
  transition: all .2s ease-in-out;
  position: absolute;
  right: .75rem;
  top: .75rem;
  width: 1rem;
  height: 1rem
}

.error--рџ’ рџЌѓрџ‘ЄрџЏѕрџ—ЈрџІ input {
  border-color: #d66150
}

.valid--рџ‡ґрџђЁрџ‡Їрџ‡Ірџ’ђрџ¤ѕрџЏѕвЂЌв™ЂпёЏ input {
  border-color: #7fca6d
}

.steps--рџ‘·рџЏјвЂЌв™ЂпёЏрџђ№рџ’Ћрџ‡µрџ‡јрџҐ— {
  background: #f6f6f6;
  height: 3rem
}

.num--рџ”…рџ“ќрџЋ…рџЏ»рџ•µрџЏјвЂЌв™‚пёЏрџ’‚рџЏ»вЂЌв™ЂпёЏ {
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
  margin-right: 1rem
}

.item--рџ‘ЊрџЏїрџ‘ѕрџ™…рџЏївЂЌв™ЂпёЏрџ‡°рџ‡Ёрџ‡є {
  align-items: center;
  color: #bbb;
  display: flex;
  font-weight: 700;
  height: 100%;
  overflow: hidden;
  padding: 0 1.5rem;
  position: relative
}

.item--рџ‘ЊрџЏїрџ‘ѕрџ™…рџЏївЂЌв™ЂпёЏрџ‡°рџ‡Ёрџ‡є.active--рџҐрџ‘ЁрџЏЅвЂЌрџЋ¤рџ‡­рџ‡Ірџ™‡рџЏЅрџ›ЂрџЏЅ {
  background: #fbcc3f;
  color: #111
}

.item--рџ‘ЊрџЏїрџ‘ѕрџ™…рџЏївЂЌв™ЂпёЏрџ‡°рџ‡Ёрџ‡є.active--рџҐрџ‘ЁрџЏЅвЂЌрџЋ¤рџ‡­рџ‡Ірџ™‡рџЏЅрџ›ЂрџЏЅ .num--рџ”…рџ“ќрџЋ…рџЏ»рџ•µрџЏјвЂЌв™‚пёЏрџ’‚рџЏ»вЂЌв™ЂпёЏ {
  background: rgba(214, 97, 80, .5)
}

.add-corner-left--рџ¤ѕрџЏѕрџљ“рџ‘·рџЏївњЌрџЏ»рџ‘¬рџЏї {
  width: 1rem;
  height: 3rem;
  background: #fbcc3f;
  position: absolute;
  top: 0;
  left: 0
}

.add-corner-left--рџ¤ѕрџЏѕрџљ“рџ‘·рџЏївњЌрџЏ»рџ‘¬рџЏї:before {
  width: 2rem;
  height: 2rem;
  background: #f6f6f6;
  content: "";
  left: -1rem;
  position: absolute;
  top: .5rem;
  transform: rotate(45deg) skew(22deg, 22deg)
}

.add-corner-right--рџ™Џрџ‘¬рџЏѕрџ‘ЁрџЏѕвЂЌрџЏ­рџ‘ЁрџЏјвЂЌрџЏ­рџ”– {
  width: 1rem;
  height: 3rem;
  background: #f6f6f6;
  position: absolute;
  top: 0;
  right: 0
}

.add-corner-right--рџ™Џрџ‘¬рџЏѕрџ‘ЁрџЏѕвЂЌрџЏ­рџ‘ЁрџЏјвЂЌрџЏ­рџ”–:before {
  width: 2rem;
  height: 2rem;
  background: #fbcc3f;
  content: "";
  left: -1rem;
  position: absolute;
  top: .5rem;
  transform: rotate(45deg) skew(22deg, 22deg)
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤ {
  border: 2px solid #eee;
  border-top-width: 0;
  padding: 1.5rem;
  position: relative
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤.active--рџ‘°рџЏ»рџђ’рџ€ёрџ—ћрџ•µрџЏѕвЂЌв™ЂпёЏ {
  border: 2px solid #7fca6d;
  margin-top: -2px
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤.active--рџ‘°рџЏ»рџђ’рџ€ёрџ—ћрџ•µрџЏѕвЂЌв™ЂпёЏ .corner--рџ‘¶рџЏѕрџ‘ЇрџЏѕвЂЌв™‚пёЏрџ›Ђрџ‘ЇрџЏЅвЂЌв™ЂпёЏрџЏ“ {
  border-color: #7fca6d
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤.first--рџ›’рџ‘ЁрџЏ»рџ™Њрџ‡Ёрџ‡»рџ•“ {
  border-top-width: 2px
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤ .title--рџ…їрџ¤јвЂЌв™ЂпёЏрџ™‹рџЏѕвЂЌв™ЂпёЏрџ‡­рџ‡№рџ‘©вЂЌрџ”¬ {
  font-size: 1.25rem;
  font-weight: 700
}

.item--рџ’†рџЏїрџ‘Ґрџ•·рџјрџ¤ .time--рџЌ€рџ‡№рџ‡¬рџђірџЏ–рџ•ћ {
  color: #555;
  line-height: 1.25
}

.show-address--рџђ­рџ”Њрџ‘Ћрџ“Ѓрџ‡§рџ‡§ {
  font-weight: 700
}

.show-address--рџђ­рџ”Њрџ‘Ћрџ“Ѓрџ‡§рџ‡§ svg {
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  transform: translateY(.125rem)
}

.green--рџ‘›рџ›ЊрџЏїрџ‘©вЂЌрџ‘©вЂЌрџ‘¦рџ™…рџЏЅвЂЌв™ЂпёЏрџ™…рџЏѕ {
  color: #7fca6d
}

.map--рџђѓрџљҐрџ‘±рџЏїрџ¤·рџЏЅвЂЌв™‚пёЏрџ™ЏрџЏ» {
  transition: all .2s ease-in-out;
  height: 0;
  margin: 1rem -1.5rem -1.5rem;
  overflow: hidden
}

.map-show--рџљЈрџЏѕвЂЌв™‚пёЏрџ’…рџЏїрџЋЉрџ‡Ёрџ‡±рџ‘©вЂЌрџЏ« {
  height: 20rem
}

.preloader--рџЊћрџ’‚рџЏѕвЂЌв™ЂпёЏрџ‡©рџ‡Ірџ™ЌрџЏївЂЌв™ЂпёЏрџ¶ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.title--рџљµвЂЌв™‚пёЏрџ“љрџљ†рџ‘ЁрџЏѕвЂЌрџ’јрџ™‡рџЏЅвЂЌв™ЂпёЏ {
  color: #111;
  font-size: 1.5rem;
  font-weight: 700
}

.popup--рџ•ґрџ‡№рџ‡·рџ¤°рџЏ»рџ’‡рџЏѕвЂЌв™‚пёЏрџ¤·рџЏѕвЂЌв™ЂпёЏ {
  padding: 1rem 2rem 2rem
}

.close--рџ“­рџ‡§рџ‡Єрџ‘ЁрџЏЅвЂЌвљ–пёЏрџЏ‚рџЏїрџ’« {
  width: 100%;
  height: 2rem;
  padding: 1rem;
  text-align: right;
  z-index: 1
}

.close--рџ“­рџ‡§рџ‡Єрџ‘ЁрџЏЅвЂЌвљ–пёЏрџЏ‚рџЏїрџ’« svg {
  opacity: .8;
  transition: all .2s ease-in-out;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  fill: #333
}

.close--рџ“­рџ‡§рџ‡Єрџ‘ЁрџЏЅвЂЌвљ–пёЏрџЏ‚рџЏїрџ’« svg:hover {
  transform: scale(1.5) rotate(90deg)
}

.comment--рџЊ‹рџљ»рџ™ЋрџЏ»вЂЌв™ЂпёЏрџ‡µрџ‡«рџЏ„рџЏївЂЌв™‚пёЏ {
  height: 100%
}

.preloader--рџ™‡рџЏ»вЂЌв™‚пёЏрџ“»рџЌЇрџ‡¦рџ‡јрџ‡±рџ‡ѕ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.content--рџ”Ѕрџљ¶рџЏЅвЂЌв™ЂпёЏрџҐњрџ“‘рџђ¤ {
  border: 2px solid #eee;
  border-radius: .25rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem;
  position: relative
}

.content--рџ”Ѕрџљ¶рџЏЅвЂЌв™ЂпёЏрџҐњрџ“‘рџђ¤ input {
  font-size: 1rem
}

.preloader--рџ‘©рџЏЅвЂЌрџЏ­рџ‘©рџЏЅвЂЌрџЋЁрџ‘‰рџ‘ЁрџЏївЂЌрџЏ«рџ’ЃрџЏЅ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.title--рџ‡№рџ‡±рџ‘їрџ‡Ірџ‡Ёрџ¤ірџ™‡рџЏ» {
  color: #111;
  font-size: 1.5rem;
  font-weight: 700
}

.phone--рџ¤”рџ‘ЁрџЏївЂЌрџ”§рџ†’рџ’†рџЏјвЂЌв™ЂпёЏрџ™ЋвЂЌв™‚пёЏ .intl-tel-input {
  width: 100%
}

.title--рџ™ЋвЂЌв™ЂпёЏрџЊ—рџЋ®рџ™‹рџЏ»вЂЌв™ЂпёЏрџЋЄ {
  font-size: 1.25rem;
  font-weight: 700
}

.description--рџ‘©рџЏївЂЌрџљЂрџ¤•рџ‘ёрџЏјрџЊЊрџ‡·рџ‡Є {
  color: #555;
  line-height: 1.25
}

.error--рџ“рџ”ўрџ‡ёрџ‡°рџ•–рџљ°,
.valid--рџ…°рџ‘ЁрџЏѕвЂЌрџљЂрџ¤јрџЏ»вЂЌв™ЂпёЏрџ‘±рџ‘±вЂЌв™‚пёЏ {
  position: relative
}

.error--рџ“рџ”ўрџ‡ёрџ‡°рџ•–рџљ° svg,
.valid--рџ…°рџ‘ЁрџЏѕвЂЌрџљЂрџ¤јрџЏ»вЂЌв™ЂпёЏрџ‘±рџ‘±вЂЌв™‚пёЏ svg {
  transition: all .2s ease-in-out;
  position: absolute;
  right: .75rem;
  top: .75rem;
  width: 1rem;
  height: 1rem
}

.error--рџ“рџ”ўрџ‡ёрџ‡°рџ•–рџљ° input {
  border-color: #d66150
}

.valid--рџ…°рџ‘ЁрџЏѕвЂЌрџљЂрџ¤јрџЏ»вЂЌв™ЂпёЏрџ‘±рџ‘±вЂЌв™‚пёЏ input {
  border-color: #7fca6d
}

.db--рџ™„рџЏіпёЏвЂЌрџЊ€рџЊјрџ•µрџЏ»вЂЌв™‚пёЏрџ“– {
  display: block
}

.dn--рџ¤ёрџЏ»рџ“№рџҐ“рџ’ўрџ‡®рџ‡ё {
  display: none
}

.total--рџ‘®рџЏјвЂЌв™‚пёЏрџ¤њрџЏ»рџ¤·рџЏїрџ¤ґрџЏїрџЋ…рџЏј {
  border: 2px dashed #eee;
  border-radius: .5rem;
  font-size: 1.125rem;
  padding: 1.5rem
}

.total-italic--рџ‘†рџ’јрџ•єрџЏѕрџЏЊпёЏвЂЌв™ЂпёЏрџ™‡рџЏѕвЂЌв™‚пёЏ {
  font-style: italic
}

.total-green--рџ‘ЉрџЏЅрџ‡§рџ‡¶рџ‘ірџЏѕвЂЌв™‚пёЏрџЋ·рџ‘ІрџЏЅ {
  color: #7fca6d
}

.total-bold--рџЊ‡рџ‘ЉрџЏ»рџљЃрџљґрџЏЅрџђњ {
  font-weight: 700
}

.total-through--рџ‘©рџЏївЂЌрџЋ“рџЌђрџ‡ёрџ‡­рџ’§рџ‘ЁрџЏївЂЌрџЏ­ {
  text-decoration: line-through
}

.total-services--рџ™ЌрџЏјвЂЌв™‚пёЏрџ’‡рџЏЅвЂЌв™ЂпёЏрџЏЉрџ‘©рџЏ»вЂЌрџЏ«рџё {
  background: hsla(0, 0%, 93%, .4);
  margin: 1rem -1.5rem;
  padding: 1rem 1.5rem
}

.total-total--рџЊ›рџЏЊрџЏ»рџ‡№рџ‡ЇрџЋЇрџљџ {
  font-size: 1.25rem;
  font-weight: 700
}

@keyframes a {
  0% {
    opacity: 1
  }

  to {
    opacity: .5
  }
}

.preloader--рџ‡°рџ‡ІрџЌќрџЊ»рџЋЎрџ‘ЁрџЏѕвЂЌрџ”¬ {
  animation: a .5s infinite alternate;
  fill: #eee
}

.to-catalog--рџ‡·рџ“§рџҐ”рџ¤¦рџЏївЂЌв™‚пёЏрџ‘ЁвЂЌрџ‘©вЂЌрџ‘¦ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem;
  fill: #111;
  margin-right: .5rem;
  transform: translateY(1px)
}

.to-catalog--рџ‡·рџ“§рџҐ”рџ¤¦рџЏївЂЌв™‚пёЏрџ‘ЁвЂЌрџ‘©вЂЌрџ‘¦:hover svg {
  transform: translateY(1px) translateX(-.25rem)
}

.to-order--рџ‘©вЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџђ€рџЌ‰рџ‘©рџЏЅвЂЌрџЏ«рџЌЋ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem;
  fill: #111;
  margin-left: .5rem;
  transform: translateY(1px) rotate(180deg)
}

.to-order--рџ‘©вЂЌрџ‘©вЂЌрџ‘§вЂЌрџ‘¦рџђ€рџЌ‰рџ‘©рџЏЅвЂЌрџЏ«рџЌЋ:hover svg {
  transform: translateY(1px) translateX(.25rem) rotate(180deg)
}

.services--рџ‘ѓрџЏѕрџЏѓрџЏјвЂЌв™ЂпёЏрџ‡ёрџ‡Їрџ¤ќрџЏјрџ¤№ {
  color: #555
}

.services--рџ‘ѓрџЏѕрџЏѓрџЏјвЂЌв™ЂпёЏрџ‡ёрџ‡Їрџ¤ќрџЏјрџ¤№ input {
  margin: 0 .5rem;
  text-align: center;
  width: 3.5rem
}

.phone--рџ–ђрџЏ»рџ‡»рџ‡¦рџЋЋрџђІрџ’‚рџЏївЂЌв™ЂпёЏ .intl-tel-input {
  width: 100%
}

.title--рџ†–рџ‡§рџ‡»рџ’Ёрџ‘ЇрџЏјрџ”” {
  font-size: 1.25rem;
  font-weight: 700
}

.description--рџљѓрџ‘©рџЏївЂЌрџЊѕрџЏЊрџЏЅрџ‘№рџ”№ {
  color: #555;
  line-height: 1.25
}

.pointer--рџљ™рџ’‚рџЏЅрџ€ірџЊґрџ‘®рџЏ»вЂЌв™‚пёЏ {
  cursor: pointer
}

.sex--рџљ¶вЂЌв™‚пёЏрџ€єрџЊЂрџЏќрџ‘ЋрџЏѕ {
  border: 1px solid #eee;
  border-radius: .25rem;
  display: inline-flex
}

.sex--рџљ¶вЂЌв™‚пёЏрџ€єрџЊЂрџЏќрџ‘ЋрџЏѕ>div {
  transition: all .2s ease-in-out;
  width: 2.5rem;
  height: calc(2.5rem - 2px);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center
}

.sex--рџљ¶вЂЌв™‚пёЏрџ€єрџЊЂрџЏќрџ‘ЋрџЏѕ>div:hover {
  opacity: .8
}

.sex--рџљ¶вЂЌв™‚пёЏрџ€єрџЊЂрџЏќрџ‘ЋрџЏѕ>div.active--рџЏрџ–¤рџ‘ЁвЂЌвќ¤пёЏвЂЌрџ’‹вЂЌрџ‘ЁрџЋ¬рџ‘¶рџЏЅ {
  background: hsla(0, 0%, 93%, .5)
}

.sex--рџљ¶вЂЌв™‚пёЏрџ€єрџЊЂрџЏќрџ‘ЋрџЏѕ svg {
  width: 1.5rem;
  height: 1.5rem
}

.error--рџ™‡рџЏѕрџ‰‘рџ€ґрџ¤№рџЏ»рџђЉ,
.valid--рџЌјрџ‘ЁвЂЌрџ’»рџ—єрџЏ‚рџ”Ѓ {
  position: relative
}

.error--рџ™‡рџЏѕрџ‰‘рџ€ґрџ¤№рџЏ»рџђЉ svg,
.valid--рџЌјрџ‘ЁвЂЌрџ’»рџ—єрџЏ‚рџ”Ѓ svg {
  transition: all .2s ease-in-out;
  position: absolute;
  right: .75rem;
  top: .75rem;
  width: 1rem;
  height: 1rem
}

.error--рџ™‡рџЏѕрџ‰‘рџ€ґрџ¤№рџЏ»рџђЉ input {
  border-color: #d66150
}

.valid--рџЌјрџ‘ЁвЂЌрџ’»рџ—єрџЏ‚рџ”Ѓ input {
  border-color: #7fca6d
}

.db--рџ’’рџ¤ёвЂЌв™‚пёЏрџ‡№рџ¤№рџЏѕвЂЌв™ЂпёЏрџЊІ {
  display: block
}

.dn--рџ™ЏрџЏѕрџЊ‚рџ‡©рџ‡ЇрџЏЊрџЏївЂЌв™‚пёЏрџЋј {
  display: none
}

.to-catalog--рџ¤ћрџЏЅрџ‘ЇрџЏјвЂЌв™ЂпёЏрџ¤ёрџЏїрџѓрџ€ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem;
  fill: #111;
  margin-right: .5rem;
  transform: translateY(1px)
}

.to-catalog--рџ¤ћрџЏЅрџ‘ЇрџЏјвЂЌв™ЂпёЏрџ¤ёрџЏїрџѓрџ€:hover svg {
  transform: translateY(1px) translateX(-.25rem)
}

.to-order--рџ¤ёрџЏЅвЂЌв™ЂпёЏв›·рџЏјрџ™‹рџЏѕрџ¤ђрџ¤¦рџЏјвЂЌв™‚пёЏ svg {
  transition: all .2s ease-in-out;
  width: .75rem;
  height: .75rem;
  fill: #111;
  margin-left: .5rem;
  transform: translateY(1px) rotate(180deg)
}

.to-order--рџ¤ёрџЏЅвЂЌв™ЂпёЏв›·рџЏјрџ™‹рџЏѕрџ¤ђрџ¤¦рџЏјвЂЌв™‚пёЏ:hover svg {
  transform: translateY(1px) translateX(.25rem) rotate(180deg)
}

.disable--рџљ¶рџЏїрџ‘ђрџ‡Ёрџ‡­рџ‡Ёрџ‡©рџ‘‹рџЏј {
  opacity: .5;
  cursor: default
}

.loading--рџ•ЋрџЋµрџЏ№рџЏ‹рџЏ»вЂЌв™ЂпёЏрџ¤¦рџЏ» {
  opacity: .5;
  background: #eee;
  cursor: default
}

.loading--рџ•ЋрџЋµрџЏ№рџЏ‹рџЏ»вЂЌв™ЂпёЏрџ¤¦рџЏ»:hover {
  background: #eee
}

.close--рџ¤јрџЏјвЂЌв™‚пёЏрџ™‹рџЏѕвЂЌв™‚пёЏрџ¤°рџЏѕрџљ¶рџЏѕвЂЌв™‚пёЏрџ‡°рџ‡і {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 1
}

.close--рџ¤јрџЏјвЂЌв™‚пёЏрџ™‹рџЏѕвЂЌв™‚пёЏрџ¤°рџЏѕрџљ¶рџЏѕвЂЌв™‚пёЏрџ‡°рџ‡і svg {
  transition: all .2s ease-in-out
}

.close--рџ¤јрџЏјвЂЌв™‚пёЏрџ™‹рџЏѕвЂЌв™‚пёЏрџ¤°рџЏѕрџљ¶рџЏѕвЂЌв™‚пёЏрџ‡°рџ‡і:hover svg {
  opacity: .8;
  transform: rotate(90deg)
}

.date-picker--рџЌ–рџ’‚рџЏ»вЂЌв™‚пёЏрџ‘©рџЏЅвЂЌвљ–пёЏрџЋївќрџЏ» {
  max-height: 0;
  min-width: 0;
  position: relative;
  z-index: 1
}

.absolute--рџҐ‡рџЏЈрџ“Њрџ™ЋрџЏївЂЌв™ЂпёЏрџЏЋ {
  left: calc(-50% - 3rem);
  position: absolute;
  top: 1rem
}

.vdp-datepicker__calendar {
  border-radius: .25rem;
  padding: 1.5rem;
  width: calc(300px + 3rem)
}

.vdp-datepicker__calendar header .next,
.vdp-datepicker__calendar header .prev {
  align-items: center;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  text-indent: 0
}

.vdp-datepicker__calendar header .next svg,
.vdp-datepicker__calendar header .prev svg {
  width: .75rem;
  height: .75rem
}

.vdp-datepicker__calendar header .next:after,
.vdp-datepicker__calendar header .prev:after {
  display: none
}

.vdp-datepicker__calendar header .next.disabled,
.vdp-datepicker__calendar header .prev.disabled {
  opacity: 0
}

.vdp-datepicker__calendar header .prev {
  transform: rotate(180deg)
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled) {
  transition: all .2s ease-in-out
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).today {
  position: relative
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).today:after {
  width: .25rem;
  height: .25rem;
  background: #fbcc3f;
  border-radius: 50%;
  bottom: .125rem;
  content: "";
  left: calc(50% - .125rem);
  position: absolute
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year {
  background: #fff
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border-color: #eee
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day {
  background: #fff;
  border-radius: 50%
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover {
  border-color: #eee;
  opacity: .75
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day.selected,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day.selected:hover {
  background: #fff;
  border: 1px solid #7fca6d
}

.price--рџ‘ЁвЂЌрџ‘ЁвЂЌрџ‘§вЂЌрџ‘§рџ¦ѓрџ‘·рџЏ»вЂЌв™ЂпёЏрџ‘ЁрџЏѕвЂЌрџЊѕрџ”і {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right
}

.green--рџ¤¶рџЏѕрџ‘ЁрџЏївЂЌрџ’»рџ•рџ’‡рџЏјвЂЌв™ЂпёЏрџ‘­рџЏЅ {
  color: #7fca6d
}