.basket{
  &-order{
    &__block{
      height: 100%;
      padding: 1.5em;
      border: 2px solid rgb(238, 238, 238);
      border-image: initial;
      &-active{
        border-color: rgb(127, 202, 109);
        & .basket{
          &-order__block{
            &-wrapper.title-img{
              background: rgb(127, 202, 109);
              border-color: rgb(127, 202, 109);
            }
            &-content{
              &__desc{
                display: none;
              }
              &__form{
                display: block;
              }
            }
          }
        }
      }
      &-wrapper{
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(238, 238, 238);
        border-radius: 50%;
        border-image: initial;
        background:white;
        cursor: pointer;
        & svg{
          width: .75rem;
          height: .75rem;
        }
      }
      &-content{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        & .field{
          width: 100%;
        }
        &__form{
          display: none;
        }
      }
      &-title{
        font-size: 20px;
        font-weight: 700;
      }
      &-description{
        line-height: 1.2;
      }
      &-check{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        & .basket-order__block-wrapper{
          margin-right: 10px;
        }
      }
      
    }
  }
}

.basket-page__steps+.row{
  margin-bottom: 30px;
}

@media(max-width: 992px){
  .basket{
    &-order{
      & .col-md-20{
        margin-bottom: 20px;
      }
      &__block{
        &-title{
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media(max-width: 576px){
  .basket{
    &-order{
      &__block{
        padding: 1em;
        &-check{
          margin-bottom: 10px;
          & .basket-order__block-wrapper {
            margin-right: 5px;
          }
        }
        &-wrapper{
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}