.basket{
  &-make{
    text-align: center;
    &__number{
      display: inline-flex;
      padding: .5rem 1rem;
      margin-bottom: 30px;
      background: #eee;
    }
    &__text{
      margin-bottom: 20px;
    }
    &__form{
      margin-bottom: 20px;
      & .field{
        width: 100%;
      }
      & .row{
        justify-content: center;
      }
    }
    &__buttons{
      & .row{
        justify-content: center;
        & div:first-child{
          margin-bottom: 10px;
        }
        & a{
          width: 100%;
        }
      }
    }
  }
}

@media(max-width: 992px){
  .basket{
    &-make{
      &__buttons{
        & .row{
          & div{
            width: 50%;
          }
          & a{
            & div{
              width: unset;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 576px){
  .basket{
    &-make{
      &__buttons{
        & .row{
          & div{
            width: 100%;
          }
          & a{
            & div{
              width: unset;
            }
          }
        }
      }
    }
  }
}