.basket{
  &-empty{
    text-align: center;
    &__img{
      display: inline-flex;
      width: 135px;
      height: 120px;
      margin-bottom: 30px;
      background-image: url(../images/img/sprite.png);
      background-position: 0 -566px;
    }
    &__step{
      display: flex;
      align-items: center;
      justify-content: center;
      &s{
        margin-bottom: 30px;
      }
      &-number{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        margin-right: 10px;
        border: 2px solid #c4cacf;
        border-radius: 50%;
        font-size: 30px;
        font-weight: 700;
        color: #c4cacf;
      }
      &-text{
        max-width: 185px;
        text-align: left;
        font-weight: 700;
        font-size: 16px;
      }
    }
    &__recommendation{
      & .title{
        text-align: left;
      }
    }
    &__search{
      margin-bottom: 30px;
      & .row{
        justify-content: center;
      }
    }
  }
}

@media(max-width: 992px){
  .basket{
    &-empty{
      &__step{
        margin-bottom: 15px;
      }
      &__search{
        & .row{
          flex-direction: column-reverse;
          & div{
            &:last-child{
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}