.basket {
  &-page{
    & .active{
      border-color: #7fca6d;
    }
  }
  &-delivery {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      display: block;
    }

    &__step {
      position: relative;
      padding: 1.5em;
      border: 2px solid rgb(238, 238, 238);
      border-radius: .25rem;
      text-align: center;
      cursor: pointer;
      &s{
        margin-top: 30px;
        margin-bottom: 20px;
      }
      & img{
        margin-bottom: 10px;
      }
      &-check{
        position: absolute;
        left: -.75rem;
        top: -.75rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border: 2px solid #eee;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    &__result{
      margin-bottom: 50px;
      &-comment{
        width: 100%;
        height: 100%;
        padding: .75rem;
        border: 1px solid #eee;
        border-radius: .5rem;
        background: #fff;
        transition: all .2s ease-in-out;
      }
    }
  }
}

@media(max-width: 992px) {
  .basket {
    &-make {
      &__buttons {
        & .row {
          & div {
            width: 50%;
          }

          & a {
            & div {
              width: unset;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 576px) {
  .basket {
    &-make {
      &__buttons {
        & .row {
          & div {
            width: 100%;
          }

          & a {
            & div {
              width: unset;
            }
          }
        }
      }
    }
  }
}