.page-contacts {
  & p {
    margin-bottom: 5px;
  }

  & .row {
    margin-bottom: 30px;
  }

  & h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  & .button {
    margin-top: 10px;
    background: #ffe153;
    border: none;

    &:hover {
      background: #ffe97f;
    }
  }
  &__map{
    height: 500px;
    margin-bottom: 60px;
  }
}

.map-buts {
  text-align: left;
  margin-bottom: 30px;
  & .button{
    margin-top: 0;
  }
}

.button__map{
  max-width: 270px;
  width: 100%;
  & img{
    margin-right: 10px;
  }
  &:first-child{
    background-color: #00b90e;
    &:hover{
      background-color: lighten($color: #00b90e, $amount: 0.2);
    }
  }
}

@media(max-width: 576px){
  .page-contacts{
    font-size: 14px;
    text-align: center;
    & p {
      margin-bottom: 10px;
    }
  }
  .map-buts {
    text-align: center;
    & .button__map{
      &:first-child{
        margin-bottom: 10px;
      }
      &:last-child{
        margin: 0;
      }
    }
  }
}