.delivery{
  font-size: 18px;
  line-height: 1.5;
  & p{
    text-align: justify;
  }
  & table{
    width: 100%;
    & td{
      padding: 5px;
    }
  }
}

.delivery-section{
  & h3{
    margin-bottom: 10px;
  }
  & table{
    margin-bottom: 20px;
  }
  & i {
    display: block;
  }
}

@media(max-width: 576px){
  .delivery{
    font-size: 14px;
    & .table{
      overflow-x: scroll;
    }
    & table{
      width: 500px;
    }
  }
}