.catalog-new{
  &__banner{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
    & h1{
      margin-right: 20px;
    }
  }
  & .card-items-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  & .product-custom{
    max-width: 100%;
    width: 100%;
  }
}

@media(max-width: 576px){
  .catalog-new{
    &__banner{
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
      & h1{
        line-height: 22px;
        margin: 0;
        margin-bottom: 20px;
      }
    }
    & .card-items-wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
