.pay-and-delivery {
  &__block{
    &:first-child{
      margin-bottom: 50px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & p {
      margin: 0;
    }

    & .content-item-image {
      margin-bottom: 15px;
    }

    & .content-item-image_1 {
      background-image: url(../images/img/sprite.png);
      background-position: -1068px -566px;
      width: 44px;
      height: 43px
    }

    & .content-item-image_2 {
      background-image: url(../images/img/sprite.png);
      background-position: -1122px -566px;
      width: 44px;
      height: 35px
    }

    & .content-item-image_3 {
      background-image: url(../images/img/sprite.png);
      background-position: -159px -696px;
      width: 37px;
      height: 36px
    }

    & .content-item-image_4 {
      background-image: url(../images/img/sprite.png);
      background-position: -752px -452px;
      width: 51px;
      height: 33px
    }

    & .content-item-image_5 {
      background-image: url(../images/img/sprite.png);
      background-position: -630px -452px;
      width: 51px;
      height: 37px
    }

    & .content-item-image_6 {
      background-image: url(../images/img/sprite.png);
      background-position: -691px -452px;
      width: 51px;
      height: 33px
    }
  }
}

@media(max-width: 576px){
  .pay-and-delivery{
    &__block{
      &:first-child{
        margin-bottom: 0px;
      }
    }
    &__cards{
      flex-direction: column;
    }
    &__info{
      margin-bottom: 20px;
    }
  }
}