@media(max-width: 780px){
  .profile {
    &-header{
      flex-direction: column;
      align-items: center;
      &-image{
        width: 100%;
        &__name{
          margin-bottom: 20px;
        }
        &::before{
          display: none;
        }
      }
      &-info{
        width: 100%;
        &__title{
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 620px){
  .profile {
    &-header{
      &-image{
        padding: 30px 0;
      }
      &-info{
        padding: 30px 0;
      }
    }
    &-body{
      & .button.button__yellow{
        margin-top: 20px;
      }
    }
  }
}
