.product-content__count{
  display: flex;
  align-items: center;
  & .field-group{
    margin-right: 10px;
  }
}

@media(max-width: 576px){
  .description-product{
    &__text{
      font-size: 14px;
    }
    & p{
      text-align: justify;
    }
  }
}
