.page-review-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.reviews-slider-item{
  &:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .3s;
  }
}

@media(max-width: 576px){
  .page-review-wrapper {
    grid-template-columns: 1fr;
  }
  .rubrick{
    flex-direction: column;
    & .label{
      margin: 0;
      margin-bottom: 10px;
    }
    &-block{
      &-item{
        margin: 0 5px 5px 0;
        & .button-tag{
          margin: 0;
        }
      }
    }
  }
}