.shots-header{
  padding: 100px 0;
  text-align: center;
  background-image: url(../images/index/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  & h1{
    display: block;
    font-size: 90px;
    margin-bottom: 90px;
    font-weight: 600;
  }
  & p {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
  }
}

@media(max-width: 576px){
  .shots-header{
    & h1{
      font-size: 30px;
      margin-bottom: 40px;
      font-weight: 700;
    }
    & p {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}