.wishlist {
  &-title {
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  & .product-scroller {
    margin-bottom: 30px;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  padding: 50px 0;

  &::after, &::before{
    position: absolute;
    content: '';
    background-image: url(../images/img/variegated-border.png);
    background-repeat: repeat-x;
    height: 10px;
    left: 0;
    right: 0;
  }

  &::before{
    top: 0;
  }

  &::after{
    bottom: 0;
  }

  &-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-info {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    & p {
      margin: 0;
    }
    & img {
      margin-bottom: 15px;
    }
  }
}

@media(max-width: 576px){
  .banner {
    &-block{
      flex-direction: column;
    }
    &-info {
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}