extends layout/main

block variables
  -var title = 'О компании'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') О компании
            meta(itemprop='position' content='2')
  main
    section.page-section.page-about.about-product
      .container
        h2.section-title О компании
        p Наша компания входит в ТОП-5 крупнейших производителей органической мульчи в России. Сегодня мы предлагаем своим клиентам более 20000 наименований товаров по оптовым ценам. 
        br
        p
          b Наши реквизиты: 
        p Общество с ограниченной ответственностью «РУСЦВЕТ» 
        p
          b ИНН: 
          | 7705558534 / 
          b ОГРН: 
          | 1147746428576 
        p
          b Юридический адрес: 
          | 117105, г. Москва, Варшавское ш., 28А, комн. 509 
        p
          b Фактический адрес: 
          | 117105, г. Москва, Варшавское ш., 28А, комн. 509 
        p
          b Тел: 
            a(href="tel:+74952215116") 8 495 221 51 16 
        p
          b Тел: 
            a(href="tel:+78005004576") 8 800 500 45 76 
        p
          b Email: 
            a(href='mailto:info@tsvetniki.ru') info@tsvetniki.ru
        .page-about__map
          <iframe src="https://yandex.ru/map-widget/v1/-/CCQNJ8XltC" width="100%" height="100%" frameborder="0"></iframe>

block script