extends layout/main

block variables
  -var title = 'Оформление заказа'

block content
  include modules/leftmenu
  main.basket-page.page-section
    .container
      h2.section-title Данные покупателя
    .basket-page__main
      .container
        include modules/basket-menu
        .row.basket-order
          .col-md-20
            .basket-order__block.basket-order__block-active
              .row
                .col-auto
                  .basket-order__block-wrapper.title-img
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 26')
                      path(d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z', fill='#FFF')
                .col-auto.basket-order__block-content
                  .basket-order__block-title
                    | Быстрый заказ
                  .basket-order__block-content__form
                    p.basket-order__block-description
                        | Мы перезвоним в ближайшее время и
                        | поможем оформить заказ
                    div(class='error--📘🔢🇸🇰🕖🚰')
                      input.field(placeholder='Ваше имя *', type='text')
                    div(class='phone--🤔👨🏿‍🔧🆒💆🏼‍♀️🙎‍♂️ error--📘🔢🇸🇰🕖🚰')
                      input#phoneInputFlag.field.js-phone(type='text', autocomplete='off', placeholder='+7 (___) ___-__-__', im-insert='true')
                  .basket-order__block-content__desc
                    p.basket-order__block-description
                      | Для заказа без регистрации потребуется
                      | заполнить только имя и мобильный
                      | телефон
          .col-md-40
            .basket-order__block
              .row
                .col-auto
                  .basket-order__block-wrapper.title-img
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 26')
                      path(d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z', fill='#FFF')
                .col-auto.basket-order__block-content
                  .basket-order__block-title
                    | Зарегистрироваться и оформить
                  p
                    | Или войдите в свой 
                    a.link.js-popup(href='/local/ajax/auth.php') личный кабинет
                    |  чтобы накапливать скидки!
                  .basket-order__block-content__form
                    hr
                    .row
                      .col-auto.basket-order__block-check
                        .basket-order__block-wrapper.title-img
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 26')
                            path(d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z', fill='#FFF')
                        | Частное лицо
                      .col-auto.basket-order__block-check
                        .basket-order__block-wrapper
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 26')
                            path(d='M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z', fill='#FFF')
                        | Организация или ИП
                    hr
                    .row
                      .col-md-30
                        input.field(type='text', placeholder='Фамилия (необязательно)')
                      .col-md-30
                        .undefined(class='error--🙇🏾🉑🈴🤹🏻🐊')
                          input.field(type='email', placeholder='Email *')
                      .col-md-30
                        .undefined(class='error--🙇🏾🉑🈴🤹🏻🐊')
                          input.field(type='text', placeholder='Имя *')
                      .col-md-30
                        .undefined(class='phone--🖐🏻🇻🇦🎎🐲💂🏿‍♀️ error--🙇🏾🉑🈴🤹🏻🐊')
                          input#phoneInputFlagG.field.js-phone(type='text', autocomplete='off', placeholder='+7 (___) ___-__-__', im-insert='true')
                      .col-md-30
                        input.field(type='text', placeholder='Отчество (необязательно)')
                      .col-md-30
                  .basket-order__block-content__desc
                    p.basket-order__block-description
                      | Полноценное оформление заказа позволяет регистрироваться в качестве оптового покупателя,
                      | накапливать постоянные скидки и получать информацию о секретных акциях и распродажах.

        .row.justify-content-between.mb-30
          .col-auto
            a.to-catalog.button(href='catalog__page.html')
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
              |         Продолжить покупки
          .col-auto
            a.to-order.button.button__yellow(href='/personal/order/make/')
              | Оформить заказ
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
        .basket-page__main-steps.mb-30
          | Шаг 2 из 3

block script