extends layout/main

block variables
  -var title = 'Оформление заказа'

block content
  include modules/leftmenu
  main.basket-page.page-section
    .container
      h2.section-title Ваш заказ успешно оформлен!
      .basket-make
        .basket-make__number 1012081
        .basket-make__text 
          | Мы позвоним Вам для подтверждения заказа в ближайшее время
          br
          | с 9:00 до 18:00 с понедельника по пятницу
        .basket-make__text.bold
          | Заполните всего 3 поля и
          br
          | вы сможете накапливать оптовые скидки
        .basket-make__form
          .row
            .col-md-15
              div
                input.field(type='email', placeholder='Email *')
            .col-md-15
              div
                input.field(type='text', placeholder='Фамилия (необязательно)')
            .col-md-15
              div
                input.field(type='text', placeholder='Отчество (необязательно)')
            .col-auto
              .form-sex
                input.form-sex__radio(type='radio' name='PROP_4' value='M' title='Мужской')
                input.form-sex__radio(type='radio' name='PROP_4' value='W' title='Женский')
        .basket-make__buttons
          .row
            .col-md-15.col-sm-30
              a.to-catalog.button(href='catalog__page.html')
                div
                  svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                    g
                      path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
                |         Продолжить покупки
            .col-md-15.col-sm-30
              a.to-order.button.button__yellow(href='/personal/order/make/')
                | Сохранить