extends layout/main

block variables
  -var title = 'Оформление заказа'

block content
  include modules/leftmenu
  main.basket-page.page-section
    .container
      h2.section-title Доставка и оплата
      include modules/basket-menu
      .basket-delivery
        h3.basket-delivery__title Выберите способ получения заказа:
        span.basket-delivery__subtitle Вес заказа: 12 кг.
        .basket-delivery__steps
          .row
            .col-md-20
              .basket-delivery__step
                .basket-delivery__step-check
                img(src="static/images/pickpoint.png", alt="", srcset="")
                h3.basket-delivery__step-title Самовывоз в Москве
                span.basket-delivery__step-subtitle Бесплатно
            .col-md-20
              .basket-delivery__step
                .basket-delivery__step-check
                img(src="static/images/courier.png", alt="", srcset="")
                h3.basket-delivery__step-title До пункта выдачи
                span.basket-delivery__step-subtitle по России
            .col-md-20
              .basket-delivery__step
                .basket-delivery__step-check
                img(src="static/images/address.png", alt="", srcset="")
                h3.basket-delivery__step-title Доставка по адресу
                span.basket-delivery__step-subtitle по России
        .basket-delivery__content
        h3.basket-delivery__title Выберите способ оплаты:
        .basket-delivery__steps
          .row
            .col-md-20
              .basket-delivery__step
                .basket-delivery__step-check
                img(src="static/images/img/cash.png", alt="", srcset="")
                h3.basket-delivery__step-title Самовывоз в Москве
                span.basket-delivery__step-subtitle Бесплатно
            .col-md-20
              .basket-delivery__step
                .basket-delivery__step-check
                img(src="static/images/list.png", alt="", srcset="")
                h3.basket-delivery__step-title Самовывоз в Москве
                span.basket-delivery__step-subtitle Бесплатно
        .basket-delivery__result
          .row
            .col-md-35
              textarea.basket-delivery__result-comment(placeholder='Комментарий к заказу')
            .col-md-25
              .basket-page__total-block
                .row.basket-page__total-italic
                  .col-auto Вес заказа:
                  .col-auto.ml-auto 12 кг
                .row
                  .col-auto Сумма товаров:
                  .col-auto.basket-page__total-through.ml-auto 285,00 ₽
                .row.basket-page__total-bold
                  .col-auto Сумма товаров со скидкой:
                  .col-auto.ml-auto 285,00 ₽
        .row.justify-content-between.mb-30
          .col-auto
            a.to-catalog.button(href='catalog__page.html')
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
              |         Продолжить покупки
          .col-auto
            a.to-order.button.button__yellow(href='/personal/order/make/')
              | Подтвердить
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
        .basket-page__main-steps.mb-30
          | Шаг 3 из 3
