extends layout/main

block variables
  -var title = 'Моя корзина'

block content
  include modules/leftmenu
  main.basket-page.page-section
    .container
      h2.section-title Ваша корзина пуста? Это не страшно!
      .basket-empty
        .basket-empty__img
        .basket-empty__steps
          .row
            .col-md-20
              .basket-empty__step
                span.basket-empty__step-number 1
                span.basket-empty__step-text Выберите товар и положите в корзину
            .col-md-20
              .basket-empty__step
                span.basket-empty__step-number 2
                span.basket-empty__step-text Укажите Ваши контакты
            .col-md-20
              .basket-empty__step
                span.basket-empty__step-number 3
                span.basket-empty__step-text Выберите удобный способ оплаты и доставки
        .basket-empty__search
          .row
            .col-auto
              button.button.button__yellow Перейти к покупкам
            .col-md-30
              form.js-search-block(action='/catalog/')
                input.js-search-title.input.input-search(name='q', placeholder='Поиск — Более 32 000 товаров оптом', data-component-params='{"params":"YTozOntzOjEyOiJ0ZW1wbGF0ZU5hbWUiO3M6NjoiaGVhZGVyIjtzOjY6InBhcmFtcyI7YToxOntzOjEwOiJDQUNIRV9UWVBFIjtzOjE6IkEiO31zOjEzOiJjb21wb25lbnROYW1lIjtzOjMwOiJhc3RkZXNpZ246Y2F0YWxvZy5zZWFyY2gudGl0bGUiO30=.672c415a7c159359ee81ba5b54c6c30de31b3daeef8a20f6ab003564f0aacafa","component":"astdesign:catalog.search.title:header"}', value='')
                button.header-search-block-button(type='submit')
                .js-search-response
        .basket-empty__recommendation
          section.catalog-section.bx-blue
            h2.title Персональные рекомендации
            .product-scroller.slick
              include modules/card
              include modules/card
              include modules/card
              include modules/card
              include modules/card
              include modules/card