extends layout/main

block variables
  -var title = 'Корзина'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='personal__page.html' title='Личный кабинет' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Личный кабинет
            meta(itemprop='position' content='2')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Корзина
            meta(itemprop='position' content='3')
  main.basket-page.page-section
    .container
      h2.section-title Ваша корзина
    .basket-page__main
      .container
        include modules/basket-menu
        .basket-page__product
          .basket-page__product-block
            .basket-page__navbar
              .basket-page__navbar__tabs
                .basket-page__navbar__tabs-item.active-tab
                  | Готовые к заказу (1)
                .basket-page__navbar__tabs-item
                  | Отложенные (0)
              .basket-page__navbar__button
                a.basket-page__navbar__button-print(href='/personal/basket/?print=Y' target='_blank')
                  div
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 25')
                      g
                        g
                          rect(width='25' height='11' x='.5' y='6.5' fill='#fff' rx='.5' ry='.5')
                          path(d='M25 7v10H1V7h24m0-1H1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z')
                        g
                          path(d='M22 15v4H4v-4h18m1-1H3v6h20v-6z')
                        g
                          path(fill='#fff' d='M6.5 14.5h13v10h-13z')
                          path(d='M19 15v9H7v-9h12m1-1H6v11h14V14z')
                        g
                          path(fill='#fff' fill-rule='evenodd' d='M6.51 8.5V3.05C7 2.57 9 .86 9.46.5h10v8z')
                          path(d='M19 1v7H7V3.26C7.56 2.72 9 1.44 9.62 1H19m1-1H9.32A29.47 29.47 0 0 0 6 2.88V9h14V0z')
                        g
                          path(fill='#fff' fill-rule='evenodd' d='M7.21 3.5L9.5 1.21V3.5H7.21z')
                          path(d='M9 2.42V3h-.58L9 2.42M10 0L6 4h4V0z')
                        g
                          path(fill='#fff' d='M8 17h10v1H8z')
                          path(d='M18 17H8v1h10v-1z')
                        g
                          path(fill='#fff' d='M8 19h10v1H8z')
                          path(d='M18 19H8v1h10v-1z')
                        g
                          path(fill='#fff' d='M8 21h5v1H8z')
                          path(d='M13 21H8v1h5v-1z')
                  | Распечатать
                .basket-page__navbar__button-vertical-line
                a.basket-page__navbar__button-delete(href='')
                  | Удалить все товары
                  div
                    svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 357 357' style='enable-background:new 0 0 357 357;', xml:space='preserve')
                      g#close
                        polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5 ' fill='#a73d3d')
            .basket-page__table
              .basket-page__table-head
                .row
                  .col-xs-6 Фото
                  .col-xs-17 Наименование
                  .col-xs-9 Цена
                  .col-xs-9 Количество
                  .col-xs-9 Сумма
                  .col-xs-10 Ближайшая отгрузка
              .basket-page__table-body
                .basket-page__table-body__line
                  .row
                    .col-xs-6.align-self-stretch
                      a.item-photo(href='product__page.html')
                        img(src='static/images/index/kora_sosny_mulcha_frakts_2_6_sm_bez_markirovki_60_l.jpg')
                    .col-xs-17.align-self-stretch
                      a.item-name(href='/catalog/7551-kora-sosny-dizayner-tsvetnikov/21-kora-sosny-mulcha-frakts-1-3-sm-dizayner-tsvetnikov-60-l/')
                        | Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л
                    .col-xs-9
                      .d-flex.align-items-center
                      .item-price__actual 285,00 ₽
                      .item-price__type Розничная цена
                    .col-xs-9
                      .item-amount
                        .minus
                          | -
                        input
                        .plus
                          | +
                    .col-xs-9
                      .item-summ 285,00 ₽
                    .col-xs-10
                      .row
                        .col-xs-50
                          .item-shipping-date
                            div
                              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29.121 29.121')
                                g(fill='#333')
                                  path(d='M21.706 6.146c1.116 0 2.02-.898 2.02-2.016V2.02c0-1.119-.903-2.02-2.02-2.02s-2.019.9-2.019 2.02v2.111a2.014 2.014 0 0 0 2.019 2.015z')
                                  path(d='M28.882 3.494h-4.066v1.027a3.078 3.078 0 0 1-3.075 3.076 3.076 3.076 0 0 1-3.074-3.076V3.494h-8.205v1.027c0 1.695-1.379 3.076-3.076 3.076s-3.075-1.38-3.075-3.076V3.494L.208 3.443v25.678h26.656l2.049-.006-.031-25.621zm-2.02 23.582H2.26V10.672h24.604v16.404h-.002z')
                                  path(d='M7.354 6.146A2.016 2.016 0 0 0 9.375 4.13V2.02C9.375.9 8.47 0 7.354 0S5.336.9 5.336 2.02v2.111c0 1.117.901 2.015 2.018 2.015zM10.468 12.873h3.231v2.852h-3.231zM15.692 12.873h3.234v2.852h-3.234zM20.537 12.873h3.231v2.852h-3.231zM10.468 17.609h3.231v2.85h-3.231zM15.692 17.609h3.234v2.85h-3.234zM20.537 17.609h3.231v2.85h-3.231zM10.468 22.439h3.231v2.85h-3.231zM5.336 17.609h3.229v2.85H5.336zM5.336 22.439h3.229v2.85H5.336zM15.692 22.439h3.234v2.85h-3.234zM20.537 22.439h3.231v2.85h-3.231z')
                            | 23 мая
                        .col-xs-10
                          a.item-delete(href='')
                            div
                              svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 357 357' style='enable-background:new 0 0 357 357;', xml:space='preserve')
                                g#close
                                  polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5 ' fill='#a73d3d')
                  .row
                    .col-xs-6
                    .col-xs-17
                      .item-articul-weight
                        span Артикул: 530555
                        span Вес: 12 кг
                    .col-xs-27
                      .item-price__comment.yellow
                        | Купите за 235,00 ₽ - добавьте к заказу товары на сумму 9 715,00 ₽
                    .col-auto.ml-auto
                      .item-defer
                        | Отложить
        .basket-page__promo
          .row
            .col-md-12.ml-auto
              input.field(type='text' placeholder='Введите промокод')
            .col-md-12
              button.button.button__yellow Применить промокод
        .basket-page__total
          .row
            .col-md-24.ml-auto
              .basket-page__total-block
                .row.basket-page__total-italic
                  .col-auto Вес заказа:
                  .col-auto.ml-auto 12 кг
                .row
                  .col-auto Сумма товаров:
                  .col-auto.basket-page__total-through.ml-auto 285,00 ₽
                .row.basket-page__total-bold
                  .col-auto Сумма товаров со скидкой:
                  .col-auto.ml-auto 285,00 ₽
        .row.justify-content-between.mb-30
          .col-auto
            a.to-catalog.button(href='catalog__page.html')
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
              |         Продолжить покупки
          .col-auto
            a.to-order.button.button__yellow(href='/personal/order/make/')
              | Оформить заказ
              div
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                  g
                    path(d='M32 14H7.66L18.83 2.83 16 0 0 16l16 16 2.83-2.83L7.66 18H32z')
        .basket-page__main-steps.mb-30
          | Шаг 1 из 3

block script