.popup.popup-buy-fast.popup-buy-full
  .popup-header
    span.popup-title-big Ваш заказ
    #warning_message
    .popup-basket-container
      table.order-items
        thead
          tr
            th.image Фото
            th.articul Артикул
            th.name Название
            th.price Цена
            th.quantity Количество
        tbody
          tr(data-id='163946')
            td.image
              img.popup-buy-full_image(src='/upload/resize_cache/iblock/387/50_50_1/kora_listvennitsy_mulcha_fraktsiya_bolee_10_sm_dizayner_tsvetnikov_60_l.jpg', alt='Кора лиственницы (Мульча) (фракция более 10 см) Дизайнер Цветников 60 л')
            td.articul 540654
            td.name
              a(href='/catalog/7547-kora-listvennitsy-dizayner-tsvetnikov/19-kora-listvennitsy-mulcha-fraktsiya-bolee-10-sm-dizayner-tsvetnikov-60-l/') Кора лиственницы (Мульча) (фракция более 10 см) Дизайнер Цветников 60 л
            td.price
              span.price-title Розничная цена
              span.price-value 340,00 ₽
              span.price-title Мелкий опт
              span.price-value 295,00 ₽
            td.quantity
              .fast-order__counter-wrap
                a.priceMinus.js-priceMinus.js-noControl.fast-order__counter-minus
                input.field-price.card-field-price.js-priceField.fast-order__counter-count(data-id='163946', type='text', name='itemprice', value='1', data-ratio='1')
                a.pricePlus.js-pricePlus.fast-order__counter-plus
      .basket-button-wrapper
        a.button.button-transparent.button-prev(href='javascript:void(0)') Продолжить покупки
        .basket-button-wrapper__result
          span.basket-button-wrapper__result__title Итого
          span.basket-button-wrapper__result__value 340,00 ₽
        a.button.button-yellow.button-next(href='/personal/basket/') Оформить заказ
  form#form-buy.form(method='post', action='/local/ajax/popup-order.php', style='position: relative')
    input(type='hidden', name='type', value='1')
    input(type='hidden', name='no-register', value='Y')
    input(type='hidden', name='popup-form', value='Y')
    .title Заказать без оформления
    .subtitle Можете просто указать имя и телефон, а наш менеджер сам оформит заказ.
    .valid-group.valid-group-3
      input.field.registration__field(type='text', placeholder='Имя', data-group='name', required='required', name='PROP_2', value='')
      span.valid
      span.unvalid
    .valid-group.valid-group-3.phone-group
      .intl-tel-input.allow-dropdown
        .flag-container
          .selected-flag(title='Russia (Россия): +7')
            .iti-flag.ru
            .iti-arrow
          
        input.js-phone.field.registration__field(type='tel', required='required', name='PROP_5[]', value='', autocomplete='off', placeholder='+7 (___) ___-__-__')
      span.valid
      span.unvalid
    .button-block
      input.button.button__yellow(type='submit', value='Купить в 1 клик', onclick="yaCounter52807990.reachGoal('zayavka_konkurs'); return true;")
    .confirm
      .jq-checkbox.accept.js-accept.checked(unselectable='on', style='user-select: none; display: inline-block; position: relative; overflow: hidden;')
        input.accept.js-accept(type='checkbox', name='accept', checked='checked', style='position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;')
        .jq-checkbox__div
      label.label-accept(for='accept')
        | Я согласен с Пользовательским соглашением и Политикой
        | конфиденциальности. Даю согласие на обработку персональных данных и согласен получать звонки и
        | e-mail-письма
        | от “Цветники России”.
  span.close-popup.js-popupClose
  script(type='text/javascript').
    popupOrderLoaded = true;
