extends layout/main

block variables
  -var title = 'Кора сосны и лиственницы от ЦВЕТНИКИ.ру - отзыв опытного ландшафтного дизайнера Пятаковой Ольги'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/reviews/' title='Отзывы о компании «Цветники.ру»' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Отзывы о компании «Цветники.ру»
            meta(itemprop='position' content='2')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Кора сосны и лиственницы от ЦВЕТНИКИ.ру
            meta(itemprop='position' content='3')
  main
    section.page-section.review-item
      .container
        h2.section-title
          | Кора сосны и лиственницы от ЦВЕТНИКИ.ру - отзыв опытного ландшафтного дизайнера Пятаковой Ольги
        .row
          .review-item
            .col-md-26
              .media
                a.js-youtube-popup.css-youtubeLink(href='https://www.youtube.com/watch?v=D_OaYzzz2tA')
                  img(src='static/images/index/sddefault2.jpg' title='Пятакова Ольга' alt='')
            .col-md-34
              .user
                .user__name Пятакова Ольга
                .user__description Ландшафтный дизайнер
                .user__adres Москва, 2016 год
                p
                  | Я ландшафтный дизайнер, представляю на выставке "Сады и люди" сад под названием "Шалаш с зеленой крышей". Здесь в качестве мульчи я использую дробленую кору, которую мне предоставила компания "ЦВЕТНИКИ.РУ". С этой фирмой я давно дружу и нежно люблю их. Использую уже несколько лет их кору разных фракций 
                  a(href='https://tsvetniki.ru/catalog/1142-dlia-mulchirovaniya/') для мульчирования
                  |  цветников и для отсыпки приствольных кругов крупных деревьев, куда я беру фракцию побольше. Надеюсь на дальнейшее сотрудничество, спасибо вам большое!
        #image-wrapper.image-wrapper
          .image-wrapper-item(data-w='187' data-h='250')
            a.js-reviewGallery(rel='review-fancy' data-thumbnail='static/images/index/pyatakova.jpg' href='static/images/index/pyatakova.jpg')
              img.image-wrapper-item__photo(src='static/images/index/pyatakova.jpg' alt='Цветники России')
              .image-wrapper-item__overlay
                span.icon.icon-lupa
          div
            p
              b Авторы сада:
            p
              | Ландшафтный дизайнер - Пятакова Ольга.
            p
              i
                | Пользуясь случаем, напомним, что купить 
                a(href='https://tsvetniki.ru/catalog/10-kora-sosny/') кору сосны
                |  и 
                a(href='https://tsvetniki.ru/catalog/11-kora-listvennitsy/') лиственницы
                |  разных фракций оптом и в розницу всегда можно на страницах нашего интернет-магазина.

block script