.popup.popup-callback
  span.popup-title-big Заказ обратного звонка
  span.popup-subtitle
    | Перезвоним 
    strong с 9:00 до 18:00 по Москве
    br
    |  и ответим на все вопросы!
  form#form-callback(data-ajax-url='/local/ajax/callback.php')
    .row
      .col-50
        .valid-group.valid-group-3
          input.field(type='text' data-group='name' required='required' name='name' placeholder='Имя')
          span.valid
          span.unvalid
        .valid-group.valid-group-3
          input.field(type='text' data-group='name' name='last_name' placeholder='Фамилия (необязательно)')
          span.valid
          span.unvalid
        .valid-group.valid-group-3
          .intl-tel-input.allow-dropdown
            .flag-container
              .selected-flag(title='Russia (Россия): +7')
                .iti-flag.ru
                .iti-arrow
              //- ul.country-list.hide
                li.country.preferred.active(data-dial-code='7' data-country-code='ru')
                  .flag-box
                    .iti-flag.ru
                  span.country-name Russia (Россия)
                  span.dial-code +7
                li.divider
                li.country(data-dial-code='93' data-country-code='af')
                  .flag-box
                    .iti-flag.af
                  span.country-name Afghanistan (‫افغانستان‬‎)
                  span.dial-code +93
                li.country(data-dial-code='355' data-country-code='al')
                  .flag-box
                    .iti-flag.al
                  span.country-name Albania (Shqipëri)
                  span.dial-code +355
                li.country(data-dial-code='213' data-country-code='dz')
                  .flag-box
                    .iti-flag.dz
                  span.country-name Algeria (‫الجزائر‬‎)
                  span.dial-code +213
                li.country(data-dial-code='1684' data-country-code='as')
                  .flag-box
                    .iti-flag.as
                  span.country-name American Samoa
                  span.dial-code +1684
                li.country(data-dial-code='376' data-country-code='ad')
                  .flag-box
                    .iti-flag.ad
                  span.country-name Andorra
                  span.dial-code +376
                li.country(data-dial-code='244' data-country-code='ao')
                  .flag-box
                    .iti-flag.ao
                  span.country-name Angola
                  span.dial-code +244
                li.country(data-dial-code='1264' data-country-code='ai')
                  .flag-box
                    .iti-flag.ai
                  span.country-name Anguilla
                  span.dial-code +1264
                li.country(data-dial-code='1268' data-country-code='ag')
                  .flag-box
                    .iti-flag.ag
                  span.country-name Antigua and Barbuda
                  span.dial-code +1268
                li.country(data-dial-code='54' data-country-code='ar')
                  .flag-box
                    .iti-flag.ar
                  span.country-name Argentina
                  span.dial-code +54
                li.country(data-dial-code='374' data-country-code='am')
                  .flag-box
                    .iti-flag.am
                  span.country-name Armenia (Հայաստան)
                  span.dial-code +374
                li.country(data-dial-code='297' data-country-code='aw')
                  .flag-box
                    .iti-flag.aw
                  span.country-name Aruba
                  span.dial-code +297
                li.country(data-dial-code='61' data-country-code='au')
                  .flag-box
                    .iti-flag.au
                  span.country-name Australia
                  span.dial-code +61
                li.country(data-dial-code='43' data-country-code='at')
                  .flag-box
                    .iti-flag.at
                  span.country-name Austria (Österreich)
                  span.dial-code +43
                li.country(data-dial-code='994' data-country-code='az')
                  .flag-box
                    .iti-flag.az
                  span.country-name Azerbaijan (Azərbaycan)
                  span.dial-code +994
                li.country(data-dial-code='1242' data-country-code='bs')
                  .flag-box
                    .iti-flag.bs
                  span.country-name Bahamas
                  span.dial-code +1242
                li.country(data-dial-code='973' data-country-code='bh')
                  .flag-box
                    .iti-flag.bh
                  span.country-name Bahrain (‫البحرين‬‎)
                  span.dial-code +973
                li.country(data-dial-code='880' data-country-code='bd')
                  .flag-box
                    .iti-flag.bd
                  span.country-name Bangladesh (বাংলাদেশ)
                  span.dial-code +880
                li.country(data-dial-code='1246' data-country-code='bb')
                  .flag-box
                    .iti-flag.bb
                  span.country-name Barbados
                  span.dial-code +1246
                li.country(data-dial-code='375' data-country-code='by')
                  .flag-box
                    .iti-flag.by
                  span.country-name Belarus (Беларусь)
                  span.dial-code +375
                li.country(data-dial-code='32' data-country-code='be')
                  .flag-box
                    .iti-flag.be
                  span.country-name Belgium (België)
                  span.dial-code +32
                li.country(data-dial-code='501' data-country-code='bz')
                  .flag-box
                    .iti-flag.bz
                  span.country-name Belize
                  span.dial-code +501
                li.country(data-dial-code='229' data-country-code='bj')
                  .flag-box
                    .iti-flag.bj
                  span.country-name Benin (Bénin)
                  span.dial-code +229
                li.country(data-dial-code='1441' data-country-code='bm')
                  .flag-box
                    .iti-flag.bm
                  span.country-name Bermuda
                  span.dial-code +1441
                li.country(data-dial-code='975' data-country-code='bt')
                  .flag-box
                    .iti-flag.bt
                  span.country-name Bhutan (འབྲུག)
                  span.dial-code +975
                li.country(data-dial-code='591' data-country-code='bo')
                  .flag-box
                    .iti-flag.bo
                  span.country-name Bolivia
                  span.dial-code +591
                li.country(data-dial-code='387' data-country-code='ba')
                  .flag-box
                    .iti-flag.ba
                  span.country-name Bosnia and Herzegovina (Босна и Херцеговина)
                  span.dial-code +387
                li.country(data-dial-code='267' data-country-code='bw')
                  .flag-box
                    .iti-flag.bw
                  span.country-name Botswana
                  span.dial-code +267
                li.country(data-dial-code='55' data-country-code='br')
                  .flag-box
                    .iti-flag.br
                  span.country-name Brazil (Brasil)
                  span.dial-code +55
                li.country(data-dial-code='246' data-country-code='io')
                  .flag-box
                    .iti-flag.io
                  span.country-name British Indian Ocean Territory
                  span.dial-code +246
                li.country(data-dial-code='1284' data-country-code='vg')
                  .flag-box
                    .iti-flag.vg
                  span.country-name British Virgin Islands
                  span.dial-code +1284
                li.country(data-dial-code='673' data-country-code='bn')
                  .flag-box
                    .iti-flag.bn
                  span.country-name Brunei
                  span.dial-code +673
                li.country(data-dial-code='359' data-country-code='bg')
                  .flag-box
                    .iti-flag.bg
                  span.country-name Bulgaria (България)
                  span.dial-code +359
                li.country(data-dial-code='226' data-country-code='bf')
                  .flag-box
                    .iti-flag.bf
                  span.country-name Burkina Faso
                  span.dial-code +226
                li.country(data-dial-code='257' data-country-code='bi')
                  .flag-box
                    .iti-flag.bi
                  span.country-name Burundi (Uburundi)
                  span.dial-code +257
                li.country(data-dial-code='855' data-country-code='kh')
                  .flag-box
                    .iti-flag.kh
                  span.country-name Cambodia (កម្ពុជា)
                  span.dial-code +855
                li.country(data-dial-code='237' data-country-code='cm')
                  .flag-box
                    .iti-flag.cm
                  span.country-name Cameroon (Cameroun)
                  span.dial-code +237
                li.country(data-dial-code='1' data-country-code='ca')
                  .flag-box
                    .iti-flag.ca
                  span.country-name Canada
                  span.dial-code +1
                li.country(data-dial-code='238' data-country-code='cv')
                  .flag-box
                    .iti-flag.cv
                  span.country-name Cape Verde (Kabu Verdi)
                  span.dial-code +238
                li.country(data-dial-code='599' data-country-code='bq')
                  .flag-box
                    .iti-flag.bq
                  span.country-name Caribbean Netherlands
                  span.dial-code +599
                li.country(data-dial-code='1345' data-country-code='ky')
                  .flag-box
                    .iti-flag.ky
                  span.country-name Cayman Islands
                  span.dial-code +1345
                li.country(data-dial-code='236' data-country-code='cf')
                  .flag-box
                    .iti-flag.cf
                  span.country-name Central African Republic (République centrafricaine)
                  span.dial-code +236
                li.country(data-dial-code='235' data-country-code='td')
                  .flag-box
                    .iti-flag.td
                  span.country-name Chad (Tchad)
                  span.dial-code +235
                li.country(data-dial-code='56' data-country-code='cl')
                  .flag-box
                    .iti-flag.cl
                  span.country-name Chile
                  span.dial-code +56
                li.country(data-dial-code='86' data-country-code='cn')
                  .flag-box
                    .iti-flag.cn
                  span.country-name China (中国)
                  span.dial-code +86
                li.country(data-dial-code='61' data-country-code='cx')
                  .flag-box
                    .iti-flag.cx
                  span.country-name Christmas Island
                  span.dial-code +61
                li.country(data-dial-code='61' data-country-code='cc')
                  .flag-box
                    .iti-flag.cc
                  span.country-name Cocos (Keeling) Islands
                  span.dial-code +61
                li.country(data-dial-code='57' data-country-code='co')
                  .flag-box
                    .iti-flag.co
                  span.country-name Colombia
                  span.dial-code +57
                li.country(data-dial-code='269' data-country-code='km')
                  .flag-box
                    .iti-flag.km
                  span.country-name Comoros (‫جزر القمر‬‎)
                  span.dial-code +269
                li.country(data-dial-code='243' data-country-code='cd')
                  .flag-box
                    .iti-flag.cd
                  span.country-name Congo (DRC) (Jamhuri ya Kidemokrasia ya Kongo)
                  span.dial-code +243
                li.country(data-dial-code='242' data-country-code='cg')
                  .flag-box
                    .iti-flag.cg
                  span.country-name Congo (Republic) (Congo-Brazzaville)
                  span.dial-code +242
                li.country(data-dial-code='682' data-country-code='ck')
                  .flag-box
                    .iti-flag.ck
                  span.country-name Cook Islands
                  span.dial-code +682
                li.country(data-dial-code='506' data-country-code='cr')
                  .flag-box
                    .iti-flag.cr
                  span.country-name Costa Rica
                  span.dial-code +506
                li.country(data-dial-code='225' data-country-code='ci')
                  .flag-box
                    .iti-flag.ci
                  span.country-name Côte d’Ivoire
                  span.dial-code +225
                li.country(data-dial-code='385' data-country-code='hr')
                  .flag-box
                    .iti-flag.hr
                  span.country-name Croatia (Hrvatska)
                  span.dial-code +385
                li.country(data-dial-code='53' data-country-code='cu')
                  .flag-box
                    .iti-flag.cu
                  span.country-name Cuba
                  span.dial-code +53
                li.country(data-dial-code='599' data-country-code='cw')
                  .flag-box
                    .iti-flag.cw
                  span.country-name Curaçao
                  span.dial-code +599
                li.country(data-dial-code='357' data-country-code='cy')
                  .flag-box
                    .iti-flag.cy
                  span.country-name Cyprus (Κύπρος)
                  span.dial-code +357
                li.country(data-dial-code='420' data-country-code='cz')
                  .flag-box
                    .iti-flag.cz
                  span.country-name Czech Republic (Česká republika)
                  span.dial-code +420
                li.country(data-dial-code='45' data-country-code='dk')
                  .flag-box
                    .iti-flag.dk
                  span.country-name Denmark (Danmark)
                  span.dial-code +45
                li.country(data-dial-code='253' data-country-code='dj')
                  .flag-box
                    .iti-flag.dj
                  span.country-name Djibouti
                  span.dial-code +253
                li.country(data-dial-code='1767' data-country-code='dm')
                  .flag-box
                    .iti-flag.dm
                  span.country-name Dominica
                  span.dial-code +1767
                li.country(data-dial-code='1' data-country-code='do')
                  .flag-box
                    .iti-flag.do
                  span.country-name Dominican Republic (República Dominicana)
                  span.dial-code +1
                li.country(data-dial-code='593' data-country-code='ec')
                  .flag-box
                    .iti-flag.ec
                  span.country-name Ecuador
                  span.dial-code +593
                li.country(data-dial-code='20' data-country-code='eg')
                  .flag-box
                    .iti-flag.eg
                  span.country-name Egypt (‫مصر‬‎)
                  span.dial-code +20
                li.country(data-dial-code='503' data-country-code='sv')
                  .flag-box
                    .iti-flag.sv
                  span.country-name El Salvador
                  span.dial-code +503
                li.country(data-dial-code='240' data-country-code='gq')
                  .flag-box
                    .iti-flag.gq
                  span.country-name Equatorial Guinea (Guinea Ecuatorial)
                  span.dial-code +240
                li.country(data-dial-code='291' data-country-code='er')
                  .flag-box
                    .iti-flag.er
                  span.country-name Eritrea
                  span.dial-code +291
                li.country(data-dial-code='372' data-country-code='ee')
                  .flag-box
                    .iti-flag.ee
                  span.country-name Estonia (Eesti)
                  span.dial-code +372
                li.country(data-dial-code='251' data-country-code='et')
                  .flag-box
                    .iti-flag.et
                  span.country-name Ethiopia
                  span.dial-code +251
                li.country(data-dial-code='500' data-country-code='fk')
                  .flag-box
                    .iti-flag.fk
                  span.country-name Falkland Islands (Islas Malvinas)
                  span.dial-code +500
                li.country(data-dial-code='298' data-country-code='fo')
                  .flag-box
                    .iti-flag.fo
                  span.country-name Faroe Islands (Føroyar)
                  span.dial-code +298
                li.country(data-dial-code='679' data-country-code='fj')
                  .flag-box
                    .iti-flag.fj
                  span.country-name Fiji
                  span.dial-code +679
                li.country(data-dial-code='358' data-country-code='fi')
                  .flag-box
                    .iti-flag.fi
                  span.country-name Finland (Suomi)
                  span.dial-code +358
                li.country(data-dial-code='33' data-country-code='fr')
                  .flag-box
                    .iti-flag.fr
                  span.country-name France
                  span.dial-code +33
                li.country(data-dial-code='594' data-country-code='gf')
                  .flag-box
                    .iti-flag.gf
                  span.country-name French Guiana (Guyane française)
                  span.dial-code +594
                li.country(data-dial-code='689' data-country-code='pf')
                  .flag-box
                    .iti-flag.pf
                  span.country-name French Polynesia (Polynésie française)
                  span.dial-code +689
                li.country(data-dial-code='241' data-country-code='ga')
                  .flag-box
                    .iti-flag.ga
                  span.country-name Gabon
                  span.dial-code +241
                li.country(data-dial-code='220' data-country-code='gm')
                  .flag-box
                    .iti-flag.gm
                  span.country-name Gambia
                  span.dial-code +220
                li.country(data-dial-code='995' data-country-code='ge')
                  .flag-box
                    .iti-flag.ge
                  span.country-name Georgia (საქართველო)
                  span.dial-code +995
                li.country(data-dial-code='49' data-country-code='de')
                  .flag-box
                    .iti-flag.de
                  span.country-name Germany (Deutschland)
                  span.dial-code +49
                li.country(data-dial-code='233' data-country-code='gh')
                  .flag-box
                    .iti-flag.gh
                  span.country-name Ghana (Gaana)
                  span.dial-code +233
                li.country(data-dial-code='350' data-country-code='gi')
                  .flag-box
                    .iti-flag.gi
                  span.country-name Gibraltar
                  span.dial-code +350
                li.country(data-dial-code='30' data-country-code='gr')
                  .flag-box
                    .iti-flag.gr
                  span.country-name Greece (Ελλάδα)
                  span.dial-code +30
                li.country(data-dial-code='299' data-country-code='gl')
                  .flag-box
                    .iti-flag.gl
                  span.country-name Greenland (Kalaallit Nunaat)
                  span.dial-code +299
                li.country(data-dial-code='1473' data-country-code='gd')
                  .flag-box
                    .iti-flag.gd
                  span.country-name Grenada
                  span.dial-code +1473
                li.country(data-dial-code='590' data-country-code='gp')
                  .flag-box
                    .iti-flag.gp
                  span.country-name Guadeloupe
                  span.dial-code +590
                li.country(data-dial-code='1671' data-country-code='gu')
                  .flag-box
                    .iti-flag.gu
                  span.country-name Guam
                  span.dial-code +1671
                li.country(data-dial-code='502' data-country-code='gt')
                  .flag-box
                    .iti-flag.gt
                  span.country-name Guatemala
                  span.dial-code +502
                li.country(data-dial-code='44' data-country-code='gg')
                  .flag-box
                    .iti-flag.gg
                  span.country-name Guernsey
                  span.dial-code +44
                li.country(data-dial-code='224' data-country-code='gn')
                  .flag-box
                    .iti-flag.gn
                  span.country-name Guinea (Guinée)
                  span.dial-code +224
                li.country(data-dial-code='245' data-country-code='gw')
                  .flag-box
                    .iti-flag.gw
                  span.country-name Guinea-Bissau (Guiné Bissau)
                  span.dial-code +245
                li.country(data-dial-code='592' data-country-code='gy')
                  .flag-box
                    .iti-flag.gy
                  span.country-name Guyana
                  span.dial-code +592
                li.country(data-dial-code='509' data-country-code='ht')
                  .flag-box
                    .iti-flag.ht
                  span.country-name Haiti
                  span.dial-code +509
                li.country(data-dial-code='504' data-country-code='hn')
                  .flag-box
                    .iti-flag.hn
                  span.country-name Honduras
                  span.dial-code +504
                li.country(data-dial-code='852' data-country-code='hk')
                  .flag-box
                    .iti-flag.hk
                  span.country-name Hong Kong (香港)
                  span.dial-code +852
                li.country(data-dial-code='36' data-country-code='hu')
                  .flag-box
                    .iti-flag.hu
                  span.country-name Hungary (Magyarország)
                  span.dial-code +36
                li.country(data-dial-code='354' data-country-code='is')
                  .flag-box
                    .iti-flag.is
                  span.country-name Iceland (Ísland)
                  span.dial-code +354
                li.country(data-dial-code='91' data-country-code='in')
                  .flag-box
                    .iti-flag.in
                  span.country-name India (भारत)
                  span.dial-code +91
                li.country(data-dial-code='62' data-country-code='id')
                  .flag-box
                    .iti-flag.id
                  span.country-name Indonesia
                  span.dial-code +62
                li.country(data-dial-code='98' data-country-code='ir')
                  .flag-box
                    .iti-flag.ir
                  span.country-name Iran (‫ایران‬‎)
                  span.dial-code +98
                li.country(data-dial-code='964' data-country-code='iq')
                  .flag-box
                    .iti-flag.iq
                  span.country-name Iraq (‫العراق‬‎)
                  span.dial-code +964
                li.country(data-dial-code='353' data-country-code='ie')
                  .flag-box
                    .iti-flag.ie
                  span.country-name Ireland
                  span.dial-code +353
                li.country(data-dial-code='44' data-country-code='im')
                  .flag-box
                    .iti-flag.im
                  span.country-name Isle of Man
                  span.dial-code +44
                li.country(data-dial-code='972' data-country-code='il')
                  .flag-box
                    .iti-flag.il
                  span.country-name Israel (‫ישראל‬‎)
                  span.dial-code +972
                li.country(data-dial-code='39' data-country-code='it')
                  .flag-box
                    .iti-flag.it
                  span.country-name Italy (Italia)
                  span.dial-code +39
                li.country(data-dial-code='1876' data-country-code='jm')
                  .flag-box
                    .iti-flag.jm
                  span.country-name Jamaica
                  span.dial-code +1876
                li.country(data-dial-code='81' data-country-code='jp')
                  .flag-box
                    .iti-flag.jp
                  span.country-name Japan (日本)
                  span.dial-code +81
                li.country(data-dial-code='44' data-country-code='je')
                  .flag-box
                    .iti-flag.je
                  span.country-name Jersey
                  span.dial-code +44
                li.country(data-dial-code='962' data-country-code='jo')
                  .flag-box
                    .iti-flag.jo
                  span.country-name Jordan (‫الأردن‬‎)
                  span.dial-code +962
                li.country(data-dial-code='7' data-country-code='kz')
                  .flag-box
                    .iti-flag.kz
                  span.country-name Kazakhstan (Казахстан)
                  span.dial-code +7
                li.country(data-dial-code='254' data-country-code='ke')
                  .flag-box
                    .iti-flag.ke
                  span.country-name Kenya
                  span.dial-code +254
                li.country(data-dial-code='686' data-country-code='ki')
                  .flag-box
                    .iti-flag.ki
                  span.country-name Kiribati
                  span.dial-code +686
                li.country(data-dial-code='383' data-country-code='xk')
                  .flag-box
                    .iti-flag.xk
                  span.country-name Kosovo
                  span.dial-code +383
                li.country(data-dial-code='965' data-country-code='kw')
                  .flag-box
                    .iti-flag.kw
                  span.country-name Kuwait (‫الكويت‬‎)
                  span.dial-code +965
                li.country(data-dial-code='996' data-country-code='kg')
                  .flag-box
                    .iti-flag.kg
                  span.country-name Kyrgyzstan (Кыргызстан)
                  span.dial-code +996
                li.country(data-dial-code='856' data-country-code='la')
                  .flag-box
                    .iti-flag.la
                  span.country-name Laos (ລາວ)
                  span.dial-code +856
                li.country(data-dial-code='371' data-country-code='lv')
                  .flag-box
                    .iti-flag.lv
                  span.country-name Latvia (Latvija)
                  span.dial-code +371
                li.country(data-dial-code='961' data-country-code='lb')
                  .flag-box
                    .iti-flag.lb
                  span.country-name Lebanon (‫لبنان‬‎)
                  span.dial-code +961
                li.country(data-dial-code='266' data-country-code='ls')
                  .flag-box
                    .iti-flag.ls
                  span.country-name Lesotho
                  span.dial-code +266
                li.country(data-dial-code='231' data-country-code='lr')
                  .flag-box
                    .iti-flag.lr
                  span.country-name Liberia
                  span.dial-code +231
                li.country(data-dial-code='218' data-country-code='ly')
                  .flag-box
                    .iti-flag.ly
                  span.country-name Libya (‫ليبيا‬‎)
                  span.dial-code +218
                li.country(data-dial-code='423' data-country-code='li')
                  .flag-box
                    .iti-flag.li
                  span.country-name Liechtenstein
                  span.dial-code +423
                li.country(data-dial-code='370' data-country-code='lt')
                  .flag-box
                    .iti-flag.lt
                  span.country-name Lithuania (Lietuva)
                  span.dial-code +370
                li.country(data-dial-code='352' data-country-code='lu')
                  .flag-box
                    .iti-flag.lu
                  span.country-name Luxembourg
                  span.dial-code +352
                li.country(data-dial-code='853' data-country-code='mo')
                  .flag-box
                    .iti-flag.mo
                  span.country-name Macau (澳門)
                  span.dial-code +853
                li.country(data-dial-code='389' data-country-code='mk')
                  .flag-box
                    .iti-flag.mk
                  span.country-name Macedonia (FYROM) (Македонија)
                  span.dial-code +389
                li.country(data-dial-code='261' data-country-code='mg')
                  .flag-box
                    .iti-flag.mg
                  span.country-name Madagascar (Madagasikara)
                  span.dial-code +261
                li.country(data-dial-code='265' data-country-code='mw')
                  .flag-box
                    .iti-flag.mw
                  span.country-name Malawi
                  span.dial-code +265
                li.country(data-dial-code='60' data-country-code='my')
                  .flag-box
                    .iti-flag.my
                  span.country-name Malaysia
                  span.dial-code +60
                li.country(data-dial-code='960' data-country-code='mv')
                  .flag-box
                    .iti-flag.mv
                  span.country-name Maldives
                  span.dial-code +960
                li.country(data-dial-code='223' data-country-code='ml')
                  .flag-box
                    .iti-flag.ml
                  span.country-name Mali
                  span.dial-code +223
                li.country(data-dial-code='356' data-country-code='mt')
                  .flag-box
                    .iti-flag.mt
                  span.country-name Malta
                  span.dial-code +356
                li.country(data-dial-code='692' data-country-code='mh')
                  .flag-box
                    .iti-flag.mh
                  span.country-name Marshall Islands
                  span.dial-code +692
                li.country(data-dial-code='596' data-country-code='mq')
                  .flag-box
                    .iti-flag.mq
                  span.country-name Martinique
                  span.dial-code +596
                li.country(data-dial-code='222' data-country-code='mr')
                  .flag-box
                    .iti-flag.mr
                  span.country-name Mauritania (‫موريتانيا‬‎)
                  span.dial-code +222
                li.country(data-dial-code='230' data-country-code='mu')
                  .flag-box
                    .iti-flag.mu
                  span.country-name Mauritius (Moris)
                  span.dial-code +230
                li.country(data-dial-code='262' data-country-code='yt')
                  .flag-box
                    .iti-flag.yt
                  span.country-name Mayotte
                  span.dial-code +262
                li.country(data-dial-code='52' data-country-code='mx')
                  .flag-box
                    .iti-flag.mx
                  span.country-name Mexico (México)
                  span.dial-code +52
                li.country(data-dial-code='691' data-country-code='fm')
                  .flag-box
                    .iti-flag.fm
                  span.country-name Micronesia
                  span.dial-code +691
                li.country(data-dial-code='373' data-country-code='md')
                  .flag-box
                    .iti-flag.md
                  span.country-name Moldova (Republica Moldova)
                  span.dial-code +373
                li.country(data-dial-code='377' data-country-code='mc')
                  .flag-box
                    .iti-flag.mc
                  span.country-name Monaco
                  span.dial-code +377
                li.country(data-dial-code='976' data-country-code='mn')
                  .flag-box
                    .iti-flag.mn
                  span.country-name Mongolia (Монгол)
                  span.dial-code +976
                li.country(data-dial-code='382' data-country-code='me')
                  .flag-box
                    .iti-flag.me
                  span.country-name Montenegro (Crna Gora)
                  span.dial-code +382
                li.country(data-dial-code='1664' data-country-code='ms')
                  .flag-box
                    .iti-flag.ms
                  span.country-name Montserrat
                  span.dial-code +1664
                li.country(data-dial-code='212' data-country-code='ma')
                  .flag-box
                    .iti-flag.ma
                  span.country-name Morocco (‫المغرب‬‎)
                  span.dial-code +212
                li.country(data-dial-code='258' data-country-code='mz')
                  .flag-box
                    .iti-flag.mz
                  span.country-name Mozambique (Moçambique)
                  span.dial-code +258
                li.country(data-dial-code='95' data-country-code='mm')
                  .flag-box
                    .iti-flag.mm
                  span.country-name Myanmar (Burma) (မြန်မာ)
                  span.dial-code +95
                li.country(data-dial-code='264' data-country-code='na')
                  .flag-box
                    .iti-flag.na
                  span.country-name Namibia (Namibië)
                  span.dial-code +264
                li.country(data-dial-code='674' data-country-code='nr')
                  .flag-box
                    .iti-flag.nr
                  span.country-name Nauru
                  span.dial-code +674
                li.country(data-dial-code='977' data-country-code='np')
                  .flag-box
                    .iti-flag.np
                  span.country-name Nepal (नेपाल)
                  span.dial-code +977
                li.country(data-dial-code='31' data-country-code='nl')
                  .flag-box
                    .iti-flag.nl
                  span.country-name Netherlands (Nederland)
                  span.dial-code +31
                li.country(data-dial-code='687' data-country-code='nc')
                  .flag-box
                    .iti-flag.nc
                  span.country-name New Caledonia (Nouvelle-Calédonie)
                  span.dial-code +687
                li.country(data-dial-code='64' data-country-code='nz')
                  .flag-box
                    .iti-flag.nz
                  span.country-name New Zealand
                  span.dial-code +64
                li.country(data-dial-code='505' data-country-code='ni')
                  .flag-box
                    .iti-flag.ni
                  span.country-name Nicaragua
                  span.dial-code +505
                li.country(data-dial-code='227' data-country-code='ne')
                  .flag-box
                    .iti-flag.ne
                  span.country-name Niger (Nijar)
                  span.dial-code +227
                li.country(data-dial-code='234' data-country-code='ng')
                  .flag-box
                    .iti-flag.ng
                  span.country-name Nigeria
                  span.dial-code +234
                li.country(data-dial-code='683' data-country-code='nu')
                  .flag-box
                    .iti-flag.nu
                  span.country-name Niue
                  span.dial-code +683
                li.country(data-dial-code='672' data-country-code='nf')
                  .flag-box
                    .iti-flag.nf
                  span.country-name Norfolk Island
                  span.dial-code +672
                li.country(data-dial-code='850' data-country-code='kp')
                  .flag-box
                    .iti-flag.kp
                  span.country-name North Korea (조선 민주주의 인민 공화국)
                  span.dial-code +850
                li.country(data-dial-code='1670' data-country-code='mp')
                  .flag-box
                    .iti-flag.mp
                  span.country-name Northern Mariana Islands
                  span.dial-code +1670
                li.country(data-dial-code='47' data-country-code='no')
                  .flag-box
                    .iti-flag.no
                  span.country-name Norway (Norge)
                  span.dial-code +47
                li.country(data-dial-code='968' data-country-code='om')
                  .flag-box
                    .iti-flag.om
                  span.country-name Oman (‫عُمان‬‎)
                  span.dial-code +968
                li.country(data-dial-code='92' data-country-code='pk')
                  .flag-box
                    .iti-flag.pk
                  span.country-name Pakistan (‫پاکستان‬‎)
                  span.dial-code +92
                li.country(data-dial-code='680' data-country-code='pw')
                  .flag-box
                    .iti-flag.pw
                  span.country-name Palau
                  span.dial-code +680
                li.country(data-dial-code='970' data-country-code='ps')
                  .flag-box
                    .iti-flag.ps
                  span.country-name Palestine (‫فلسطين‬‎)
                  span.dial-code +970
                li.country(data-dial-code='507' data-country-code='pa')
                  .flag-box
                    .iti-flag.pa
                  span.country-name Panama (Panamá)
                  span.dial-code +507
                li.country(data-dial-code='675' data-country-code='pg')
                  .flag-box
                    .iti-flag.pg
                  span.country-name Papua New Guinea
                  span.dial-code +675
                li.country(data-dial-code='595' data-country-code='py')
                  .flag-box
                    .iti-flag.py
                  span.country-name Paraguay
                  span.dial-code +595
                li.country(data-dial-code='51' data-country-code='pe')
                  .flag-box
                    .iti-flag.pe
                  span.country-name Peru (Perú)
                  span.dial-code +51
                li.country(data-dial-code='63' data-country-code='ph')
                  .flag-box
                    .iti-flag.ph
                  span.country-name Philippines
                  span.dial-code +63
                li.country(data-dial-code='48' data-country-code='pl')
                  .flag-box
                    .iti-flag.pl
                  span.country-name Poland (Polska)
                  span.dial-code +48
                li.country(data-dial-code='351' data-country-code='pt')
                  .flag-box
                    .iti-flag.pt
                  span.country-name Portugal
                  span.dial-code +351
                li.country(data-dial-code='1' data-country-code='pr')
                  .flag-box
                    .iti-flag.pr
                  span.country-name Puerto Rico
                  span.dial-code +1
                li.country(data-dial-code='974' data-country-code='qa')
                  .flag-box
                    .iti-flag.qa
                  span.country-name Qatar (‫قطر‬‎)
                  span.dial-code +974
                li.country(data-dial-code='262' data-country-code='re')
                  .flag-box
                    .iti-flag.re
                  span.country-name Réunion (La Réunion)
                  span.dial-code +262
                li.country(data-dial-code='40' data-country-code='ro')
                  .flag-box
                    .iti-flag.ro
                  span.country-name Romania (România)
                  span.dial-code +40
                li.country(data-dial-code='7' data-country-code='ru')
                  .flag-box
                    .iti-flag.ru
                  span.country-name Russia (Россия)
                  span.dial-code +7
                li.country(data-dial-code='250' data-country-code='rw')
                  .flag-box
                    .iti-flag.rw
                  span.country-name Rwanda
                  span.dial-code +250
                li.country(data-dial-code='590' data-country-code='bl')
                  .flag-box
                    .iti-flag.bl
                  span.country-name Saint Barthélemy (Saint-Barthélemy)
                  span.dial-code +590
                li.country(data-dial-code='290' data-country-code='sh')
                  .flag-box
                    .iti-flag.sh
                  span.country-name Saint Helena
                  span.dial-code +290
                li.country(data-dial-code='1869' data-country-code='kn')
                  .flag-box
                    .iti-flag.kn
                  span.country-name Saint Kitts and Nevis
                  span.dial-code +1869
                li.country(data-dial-code='1758' data-country-code='lc')
                  .flag-box
                    .iti-flag.lc
                  span.country-name Saint Lucia
                  span.dial-code +1758
                li.country(data-dial-code='590' data-country-code='mf')
                  .flag-box
                    .iti-flag.mf
                  span.country-name Saint Martin (Saint-Martin (partie française))
                  span.dial-code +590
                li.country(data-dial-code='508' data-country-code='pm')
                  .flag-box
                    .iti-flag.pm
                  span.country-name Saint Pierre and Miquelon (Saint-Pierre-et-Miquelon)
                  span.dial-code +508
                li.country(data-dial-code='1784' data-country-code='vc')
                  .flag-box
                    .iti-flag.vc
                  span.country-name Saint Vincent and the Grenadines
                  span.dial-code +1784
                li.country(data-dial-code='685' data-country-code='ws')
                  .flag-box
                    .iti-flag.ws
                  span.country-name Samoa
                  span.dial-code +685
                li.country(data-dial-code='378' data-country-code='sm')
                  .flag-box
                    .iti-flag.sm
                  span.country-name San Marino
                  span.dial-code +378
                li.country(data-dial-code='239' data-country-code='st')
                  .flag-box
                    .iti-flag.st
                  span.country-name São Tomé and Príncipe (São Tomé e Príncipe)
                  span.dial-code +239
                li.country(data-dial-code='966' data-country-code='sa')
                  .flag-box
                    .iti-flag.sa
                  span.country-name Saudi Arabia (‫المملكة العربية السعودية‬‎)
                  span.dial-code +966
                li.country(data-dial-code='221' data-country-code='sn')
                  .flag-box
                    .iti-flag.sn
                  span.country-name Senegal (Sénégal)
                  span.dial-code +221
                li.country(data-dial-code='381' data-country-code='rs')
                  .flag-box
                    .iti-flag.rs
                  span.country-name Serbia (Србија)
                  span.dial-code +381
                li.country(data-dial-code='248' data-country-code='sc')
                  .flag-box
                    .iti-flag.sc
                  span.country-name Seychelles
                  span.dial-code +248
                li.country(data-dial-code='232' data-country-code='sl')
                  .flag-box
                    .iti-flag.sl
                  span.country-name Sierra Leone
                  span.dial-code +232
                li.country(data-dial-code='65' data-country-code='sg')
                  .flag-box
                    .iti-flag.sg
                  span.country-name Singapore
                  span.dial-code +65
                li.country(data-dial-code='1721' data-country-code='sx')
                  .flag-box
                    .iti-flag.sx
                  span.country-name Sint Maarten
                  span.dial-code +1721
                li.country(data-dial-code='421' data-country-code='sk')
                  .flag-box
                    .iti-flag.sk
                  span.country-name Slovakia (Slovensko)
                  span.dial-code +421
                li.country(data-dial-code='386' data-country-code='si')
                  .flag-box
                    .iti-flag.si
                  span.country-name Slovenia (Slovenija)
                  span.dial-code +386
                li.country(data-dial-code='677' data-country-code='sb')
                  .flag-box
                    .iti-flag.sb
                  span.country-name Solomon Islands
                  span.dial-code +677
                li.country(data-dial-code='252' data-country-code='so')
                  .flag-box
                    .iti-flag.so
                  span.country-name Somalia (Soomaaliya)
                  span.dial-code +252
                li.country(data-dial-code='27' data-country-code='za')
                  .flag-box
                    .iti-flag.za
                  span.country-name South Africa
                  span.dial-code +27
                li.country(data-dial-code='82' data-country-code='kr')
                  .flag-box
                    .iti-flag.kr
                  span.country-name South Korea (대한민국)
                  span.dial-code +82
                li.country(data-dial-code='211' data-country-code='ss')
                  .flag-box
                    .iti-flag.ss
                  span.country-name South Sudan (‫جنوب السودان‬‎)
                  span.dial-code +211
                li.country(data-dial-code='34' data-country-code='es')
                  .flag-box
                    .iti-flag.es
                  span.country-name Spain (España)
                  span.dial-code +34
                li.country(data-dial-code='94' data-country-code='lk')
                  .flag-box
                    .iti-flag.lk
                  span.country-name Sri Lanka (ශ්‍රී ලංකාව)
                  span.dial-code +94
                li.country(data-dial-code='249' data-country-code='sd')
                  .flag-box
                    .iti-flag.sd
                  span.country-name Sudan (‫السودان‬‎)
                  span.dial-code +249
                li.country(data-dial-code='597' data-country-code='sr')
                  .flag-box
                    .iti-flag.sr
                  span.country-name Suriname
                  span.dial-code +597
                li.country(data-dial-code='47' data-country-code='sj')
                  .flag-box
                    .iti-flag.sj
                  span.country-name Svalbard and Jan Mayen
                  span.dial-code +47
                li.country(data-dial-code='268' data-country-code='sz')
                  .flag-box
                    .iti-flag.sz
                  span.country-name Swaziland
                  span.dial-code +268
                li.country(data-dial-code='46' data-country-code='se')
                  .flag-box
                    .iti-flag.se
                  span.country-name Sweden (Sverige)
                  span.dial-code +46
                li.country(data-dial-code='41' data-country-code='ch')
                  .flag-box
                    .iti-flag.ch
                  span.country-name Switzerland (Schweiz)
                  span.dial-code +41
                li.country(data-dial-code='963' data-country-code='sy')
                  .flag-box
                    .iti-flag.sy
                  span.country-name Syria (‫سوريا‬‎)
                  span.dial-code +963
                li.country(data-dial-code='886' data-country-code='tw')
                  .flag-box
                    .iti-flag.tw
                  span.country-name Taiwan (台灣)
                  span.dial-code +886
                li.country(data-dial-code='992' data-country-code='tj')
                  .flag-box
                    .iti-flag.tj
                  span.country-name Tajikistan
                  span.dial-code +992
                li.country(data-dial-code='255' data-country-code='tz')
                  .flag-box
                    .iti-flag.tz
                  span.country-name Tanzania
                  span.dial-code +255
                li.country(data-dial-code='66' data-country-code='th')
                  .flag-box
                    .iti-flag.th
                  span.country-name Thailand (ไทย)
                  span.dial-code +66
                li.country(data-dial-code='670' data-country-code='tl')
                  .flag-box
                    .iti-flag.tl
                  span.country-name Timor-Leste
                  span.dial-code +670
                li.country(data-dial-code='228' data-country-code='tg')
                  .flag-box
                    .iti-flag.tg
                  span.country-name Togo
                  span.dial-code +228
                li.country(data-dial-code='690' data-country-code='tk')
                  .flag-box
                    .iti-flag.tk
                  span.country-name Tokelau
                  span.dial-code +690
                li.country(data-dial-code='676' data-country-code='to')
                  .flag-box
                    .iti-flag.to
                  span.country-name Tonga
                  span.dial-code +676
                li.country(data-dial-code='1868' data-country-code='tt')
                  .flag-box
                    .iti-flag.tt
                  span.country-name Trinidad and Tobago
                  span.dial-code +1868
                li.country(data-dial-code='216' data-country-code='tn')
                  .flag-box
                    .iti-flag.tn
                  span.country-name Tunisia (‫تونس‬‎)
                  span.dial-code +216
                li.country(data-dial-code='90' data-country-code='tr')
                  .flag-box
                    .iti-flag.tr
                  span.country-name Turkey (Türkiye)
                  span.dial-code +90
                li.country(data-dial-code='993' data-country-code='tm')
                  .flag-box
                    .iti-flag.tm
                  span.country-name Turkmenistan
                  span.dial-code +993
                li.country(data-dial-code='1649' data-country-code='tc')
                  .flag-box
                    .iti-flag.tc
                  span.country-name Turks and Caicos Islands
                  span.dial-code +1649
                li.country(data-dial-code='688' data-country-code='tv')
                  .flag-box
                    .iti-flag.tv
                  span.country-name Tuvalu
                  span.dial-code +688
                li.country(data-dial-code='1340' data-country-code='vi')
                  .flag-box
                    .iti-flag.vi
                  span.country-name U.S. Virgin Islands
                  span.dial-code +1340
                li.country(data-dial-code='256' data-country-code='ug')
                  .flag-box
                    .iti-flag.ug
                  span.country-name Uganda
                  span.dial-code +256
                li.country(data-dial-code='380' data-country-code='ua')
                  .flag-box
                    .iti-flag.ua
                  span.country-name Ukraine (Україна)
                  span.dial-code +380
                li.country(data-dial-code='971' data-country-code='ae')
                  .flag-box
                    .iti-flag.ae
                  span.country-name United Arab Emirates (‫الإمارات العربية المتحدة‬‎)
                  span.dial-code +971
                li.country(data-dial-code='44' data-country-code='gb')
                  .flag-box
                    .iti-flag.gb
                  span.country-name United Kingdom
                  span.dial-code +44
                li.country(data-dial-code='1' data-country-code='us')
                  .flag-box
                    .iti-flag.us
                  span.country-name United States
                  span.dial-code +1
                li.country(data-dial-code='598' data-country-code='uy')
                  .flag-box
                    .iti-flag.uy
                  span.country-name Uruguay
                  span.dial-code +598
                li.country(data-dial-code='998' data-country-code='uz')
                  .flag-box
                    .iti-flag.uz
                  span.country-name Uzbekistan (Oʻzbekiston)
                  span.dial-code +998
                li.country(data-dial-code='678' data-country-code='vu')
                  .flag-box
                    .iti-flag.vu
                  span.country-name Vanuatu
                  span.dial-code +678
                li.country(data-dial-code='39' data-country-code='va')
                  .flag-box
                    .iti-flag.va
                  span.country-name Vatican City (Città del Vaticano)
                  span.dial-code +39
                li.country(data-dial-code='58' data-country-code='ve')
                  .flag-box
                    .iti-flag.ve
                  span.country-name Venezuela
                  span.dial-code +58
                li.country(data-dial-code='84' data-country-code='vn')
                  .flag-box
                    .iti-flag.vn
                  span.country-name Vietnam (Việt Nam)
                  span.dial-code +84
                li.country(data-dial-code='681' data-country-code='wf')
                  .flag-box
                    .iti-flag.wf
                  span.country-name Wallis and Futuna
                  span.dial-code +681
                li.country(data-dial-code='212' data-country-code='eh')
                  .flag-box
                    .iti-flag.eh
                  span.country-name Western Sahara (‫الصحراء الغربية‬‎)
                  span.dial-code +212
                li.country(data-dial-code='967' data-country-code='ye')
                  .flag-box
                    .iti-flag.ye
                  span.country-name Yemen (‫اليمن‬‎)
                  span.dial-code +967
                li.country(data-dial-code='260' data-country-code='zm')
                  .flag-box
                    .iti-flag.zm
                  span.country-name Zambia
                  span.dial-code +260
                li.country(data-dial-code='263' data-country-code='zw')
                  .flag-box
                    .iti-flag.zw
                  span.country-name Zimbabwe
                  span.dial-code +263
                li.country(data-dial-code='358' data-country-code='ax')
                  .flag-box
                    .iti-flag.ax
                  span.country-name Åland Islands
                  span.dial-code +358
            input.js-phone.field(type='tel' required='required' name='phone' autocomplete='off' placeholder='+7 (___) ___-__-__')
          span.valid
          span.unvalid
      .col-50
        textarea.textarea(name='message' placeholder='Какой у вас вопрос?')
    .btn-wrapper
      input.button.button__yellow.js-submitCallback(onclick="yaCounter52807990.reachGoal('zayavka_konkurs'); return true;" type='submit' value='Отправить заявку')
    .confirm
      .jq-checkbox.accept.js-accept.checked(unselectable='on' style='user-select: none; display: inline-block; position: relative; overflow: hidden;')
        input.accept.js-accept(type='checkbox' name='agree_calls' value='Да' checked='checked' style='position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;')
        .jq-checkbox__div
      label.label-accept(for='accept')
        | Да, я согласен получать звонки от “Цветники России” и согласен на обработку своих персональных данных.
    .confirm
      .jq-checkbox.accept.checked(unselectable='on' style='user-select: none; display: inline-block; position: relative; overflow: hidden;')
        input.accept(type='checkbox' name='agree_actions' value='Да' checked='checked' style='position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;')
        .jq-checkbox__div
      label.label-accept(for='accept2') Я хочу получать email-письма об акциях и распродажах.
  span.close-popup.js-popupClose
