extends layout/main

block variables
  -var title = 'Каталог'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Каталог
            meta(itemprop='position' content='2')
  main
    section#catalog.page-section.catalog-section
      .container
        h1.section-title Каталог товаров
        .search
          input.search__field.field(type='text' name='' placeholder='Быстрый поиск по названию или артикулу товара')
          input.search__submit(type='submit' name='' value='')
        .catalog
          .catalog-items
            .catalog-block-items__list 
              h5.catalog-title Кора лиственница (мульча)
              include modules/catalog-item__list
              include modules/catalog-item__list
              include modules/catalog-item__list
            .catalog-block-items__list   
              h5.catalog-title Баня и сауна
              include modules/catalog-item__list
              include modules/catalog-item__list
              include modules/catalog-item__list
            .catalog-block-items__list   
              h5.catalog-title Укрывные материалы
              include modules/catalog-item__list
              include modules/catalog-item__list
              include modules/catalog-item__list
            .catalog-block-items__list
              h5.catalog-title Горшки и кашпо
              include modules/catalog-item__list
              include modules/catalog-item__list
              include modules/catalog-item__list
            .catalog-block-items__list
              h5.catalog-title Грунты, субстраты, дренаж
              include modules/catalog-item__list
              include modules/catalog-item__list
              include modules/catalog-item__list
    include modules/section-needhelp

block script