extends layout/main

block variables
  -var title = 'Контакты'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Контакты
            meta(itemprop='position' content='2')
  main
    .page-section.page-contacts
      .container
        h2.section-title Контакты
        .row
          .col-md-30
            .contact-item-body-title
              h3
                a.contact-item-body-title__link(href='#') Склад "Кулаково"
              p.contact-item-body-title__adres
                b Адрес: 
                | Московская область, Раменский район, деревня Кулаково, улица Тепличная, д. 10
              .contact-item-body-title__worktime
                p <b>Отдел продаж:</b> понедельник-пятница с 9:00 до 18:00
                p <b>Склад:</b> вторник-суббота с 8:00 до 17:00
              p.contact-item-body-title__description
                p
                  b Оформить заказ можно на сайте или по телефону. 
                p
                  b На складе производится только отгрузка оформленных заказов.
          .col-md-30
            .contact-item-body-info
              h3
                a(href='tel:+74952215116') 8 495 221 51 16
              p Москва и область
              p 
                b 
                  | Email: 
                  a(href='mailto:zakaz@tsvetniki.ru') zakaz@tsvetniki.ru
                span  - только для заказов
              a.button.js-popup(href='#' data-page='/local/ajax/callback.php') Заказать звонок
        .row
          .col-md-30
            h3.contact-item-body-map__title Как к нам проехать 
            p <b>Наш адрес:</b> Раменский район, деревня Кулаково, Тепличная, д. 10
            p <b>N</b> 55.5654215
            p <b>E</b> 38.0533748
          .col-md-30
            h3.contact-item-body-map__title Как проехать на общественном транспорте
            p от 
              b м. Котельники, 
              | Маршрутка №558к.
            p Ехать до остановки "Новые дома".
            p Далее 15 мин пешком  до ул. Тепличная д. 10.
        .map-buts
          a(href='https://yandex.ru/maps/-/CCvIaQlA').button.button__map
            img(src="static/images/img/b51.png", alt="", srcset="")
            | Открыть в Яндекс картах
          a(href='https://navi-share.webview.maps.yandex.net/?lat=55.559444&lon=37.885168&lang=ru&platform=android&desc=Цветники.ру&referrer=appmetrica_tracking_id%3D745803332332869252%26ym_tracking_id%3D14842327931174931395%26appmetrica_deep_link%3Dyandexnavi%253A%252F%252Fshow_point_on_map%253Flat%253D55.624807%2526lon%253D37.457741%2526zoom%2526no-balloon%2526desc%253D%2525D0%25259B%2525D0%2525BE%2525D0%2525B3%2525D0%2525B8%2525D1%252581%2525D1%252582%2525D0%2525B8%2525D1%252587%2525D0%2525B5%2525D1%252581%2525D0%2525BA%2525D0%2525B8%2525D0%2525B9%252520%2525D1%252586%2525D0%2525B5%2525D0%2525BD%2525D1%252582%2525D1%252580%252520%2525D0%2525A1%2525D0%2525BB%2525D0%2525B0%2525D0%2525B2%2525D1%25258F%2525D0%2525BD%2525D1%252581%2525D0%2525BA%2525D0%2525B8%2525D0%2525B9%252520%2525D0%25259C%2525D0%2525B8%2525D1%252580%2526source%253Dnavi_share').button.button__map
            img(src="static/images/img/b52.png", alt="", srcset="")
            | Открыть в Яндекс навигаторе
        .page-contacts__map
          iframe(src='https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=104128124715' width='100%' height='100%' frameborder='0')

block script