extends layout/main

block variables
  -var title = 'Доставка'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Доставка
            meta(itemprop='position' content='2')
  main
    section.page-section.delivery
      .container
        h2.section-title Доставка
        section.section.about-section
          p <strong>ЦВЕТНИКИ.РУ</strong> 
            | – оптовый дистрибьютор товаров для сада, дома и стройки.
          p 
            | В связи с тем, что мы продаём товары с минимальной наценкой оптом, стоимость доставки у нас зависит от веса заказа. Ведь это логично – чем тяжелее заказ, тем больше нужен автомобиль для его доставки. Мы предусмотрели бесплатный самовывоз с нашего склада для заказов, которые по каким-то причинам удобнее забрать самим. А ещё мы можем доставить Ваш заказ в любой из пунктов выдачи наших курьерских служб на территории России.
          p 
            | 80% наших клиентов – ландшафтные дизайнеры и строительно-монтажные бригады, садовые центры и строительные магазины, крупные федеральные сети и государственные заказчики, а также постоянные частные клиенты, которые делают заказы весом более 2-х тонн.
          p 
            | Это связано с тем, что на нашем сайте вы можете купить товары по тем же ценам, что и садовый центр рядом с вашей дачей, то есть по закупочным ценам торговых компаний.
          p 
            | Всё больше людей в нашей стране выбирают экономить на покупках. В связи с этим мы рекомендуем клиентам делать заказы сообща с вашими друзьями и родственниками. Скидки у нас накопительные и зависят от суммы всех ваших заказов.
          p 
            | Выбирайте удобный способ доставки и покупайте оптом.
          
        section.section.delivery-section  
          h2.title Доставка по Москве и Московской области
          ul
            li
              b Самовывоз со склада «Молоково»
          p 
            | Пункт выдачи заказов на нашем складе в с. Молоково работает со вторника по субботу с 09:00 до 17:00.
          .table
            table(border='1')
              tbody
                tr
                  th
                    | Склад
                  th
                    | Условия
                  th
                    | Стоимость
                tr
                  td
                    | Склад "Молоково"
                  td
                    | Нет
                  td
                    | Бесплатно
                tr
                  td
                    | Пункты выдачи СДЭК (более 3000 по РФ)
                  td
                    | Вес заказа до 30 кг
                  td
                    | По тарифам СДЭК. Рассчитывается при оформлении заказа
          i
            | Если заказ оформляется на юридическое лицо, то при получении груза необходим оригинал доверенности на получателя.
          ul
            li
              b Курьерская доставка
          p 
            | Стоимость доставки зависит от веса заказа и адреса доставки.
          p 
            | Срок доставки по Москве и Московской области 1-3 дня. Срок доставки может быть увеличен, в случае отсутствия товара на складе.
          h3 Наши тарифы доставки по Москве и Московской области:
          .table
            table(border='1')
              tbody
                tr
                  th
                    | Вес заказа
                  th
                    | В пределах МКАД
                  th
                    | Въезд в ТТК и Садовое кольцо с пропуском (надбавка), руб.
                  th
                    | Выезд за МКАД
                tr
                  td
                    | 0-100 кг
                  td
                    | 490 руб.
                  td
                    | -
                  td
                    | +30 руб./км
                tr
                  td
                    | 101-200 кг
                  td
                    | 790 руб.
                  td
                    | -
                  td
                    | +30 руб./км
                    br
                tr
                  td
                    | 201-500 кг
                  td
                    | 1200 руб.
                  td
                    | -
                  td
                    | +30 руб./км
                tr
                  td
                    | 501-1000 кг
                  td
                    | 1700 руб.
                  td
                    | +500 руб.
                  td
                    | +30 руб./км
                tr
                  td
                    | 1001-1500 кг
                  td
                    | 3500 руб.
                  td
                    | +500 руб.
                  td
                    | +35 руб./км
                tr
                  td
                    | 2001-3000 кг
                  td
                    | 5500 руб
                  td
                    | +1000 руб.
                  td
                    | +40 руб./км
                tr
                  td
                    | 5001-5000 кг
                  td
                    | 7500 руб.
                  td
                    | +2000 руб.
                  td
                    | +50 руб./км
                tr
                  td
                    | 7001-10000 кг
                  td
                    | 8900 руб.
                  td
                    | +2000 руб.
                  td
                    | +55 руб./км
                    br
                tr
                  td
                    | 10001-20000 кг
                  td
                    | 11500 руб.
                  td
                    | +2000 руб.
                  td
                    | +55 руб./км
          h3 Стоимость разгрузки и подъем на этаж:
          .table
            table(border='1')
              tbody
                tr
                  th
                    | Тип разгрузки
                  th
                    | Стоимость (за 1 кг товара)
                tr
                  td
                    | Разгрузка (включая подъем на лифте)*
                  td
                    | 2 руб.
                tr
                  td
                    | Разгрузка + подъем без лифта**
                  td
                    | 1 руб.
                    br
                tr
                  td
                    | Перенос за каждые дополнительные 25 метров от машины
                  td
                    | 1 руб.
          i *Или перенос от автомобиля не более 25 метров.
          i **Стоимость подъема на один этаж без лифта.
          i Минимальная стоимость разгрузки – 100 руб.
        
        section.section  
          h2.title Доставка в регионы и страны СНГ (кроме Москвы и МО)
          p 
            | Доставка по России и странам СНГ транспортной компанией производится после 100% оплаты заказа. Доставляем «до двери» или прямо на руки. Мы работаем только с крупными и проверенными транспортными компаниями: СДЭК, ПЭК, Деловые линии и Байкал-сервис. Подберем для вас самый выгодный способ доставки при крупных оптовых заказах.
          .table
            table(border='1')
              tbody
                tr
                  th
                    | Вес заказа
                  th
                    | Способ доставки
                  th
                    | Стоимость
                tr
                  td
                    | 0-30 кг
                  td
                    | Курьерская служба СДЭК
                  td
                    | -
                tr
                  td
                    | 31-700 кг
                  td
                    | ПЭК
                  td
                    | Рассчитывается при оформлении заказа.
                tr
                  td
                    | более 700 кг
                  td
                    | ТЭК Синергия
                  td
                    | Рассчитывается при оформлении заказа.
                tr
                  td
                    | Доставка крупных заказов коры сосны  и лиственницы (от 300 мешков).
                  td
                    | Еврофуры объемом 80 м
                    sup 3
                  td
                    | Бесплатно в более 35 городов  России. Уточняйте у менеджеров.

block script