.popup.popup-login
  span.popup-title-big Вход в Ваш личный кабинет
  span.popup-subtitle
    a(href='register__page.html') Зарегистрируйтесь
    |  - если Вы новый покупатель
  .popup-content
    span.popup-login__or Или
    form#form-login.popup-login-personal(data-ajax-url='/local/ajax/auth.php')
      span.popup-login-personal__title Авторизация с помощью электронной почты
      label.popup-login__user.valid-group.valid-group-3
        input.field.field__user(type='email' required='required' placeholder='E-mail' name='email')
      label.popup-login__password.valid-group.valid-group-3
        input.field.field__password(type='password' required='required' placeholder='Пароль' name='password')
      input.button.button__yellow.button-login__submit(type='submit' value='Войти')
      a.forgot-password-link.js-popup(href='/local/ajax/password_recovery.php') Забыли пароль?
    .popup-login-social
      span.popup-login-personal__title Войдите с помощью социальных сетей
      .login-social-buttons
        a#bx_socserv_icon_Facebook.login-social-buttons__fb(href='javascript:void(0)' onclick="BX.util.popup('https://www.facebook.com/dialog/oauth?client_id=465031873849318&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Ffacebook.php&scope=email,user_friends&display=popup&state=site_id%3Ds1%26backurl%3D%252Fcontacts%252F%253Fcheck_key%253D6f07f3f8db037c13d10e775e1cf32e96%26redirect_url%3D%252Fcontacts%252F', 680, 600)" title='Facebook')
        a#bx_socserv_icon_VKontakte.login-social-buttons__vk(href='javascript:void(0)' onclick="BX.util.popup('https://oauth.vk.com/authorize?client_id=6083937&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fvkontakte.php&scope=friends,offline,email&response_type=code&state=site_id%3Ds1%26backurl%3D%252Fcontacts%252F%253Fcheck_key%253D6f07f3f8db037c13d10e775e1cf32e96%26redirect_url%3D%252Fcontacts%252F', 660, 425)" title='ВКонтакте')
        a#bx_socserv_icon_GooglePlusOAuth.login-social-buttons__google(href='javascript:void(0)' onclick="BX.util.popup('https://accounts.google.com/o/oauth2/auth?client_id=1001750467216-o2c434r9i9bvu8ve49efsjkh9uq3ujet.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fgoogle.php&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.me&response_type=code&access_type=offline&state=provider%3DGooglePlusOAuth%26site_id%3Ds1%26backurl%3D%252Fcontacts%252F%253Fcheck_key%253D6f07f3f8db037c13d10e775e1cf32e96%26mode%3Dopener%26redirect_url%3D%252Fcontacts%252F', 580, 400)" title='Google+')
        a#bx_socserv_icon_Odnoklassniki.login-social-buttons__ok(href='javascript:void(0)' onclick="BX.util.popup('http://www.odnoklassniki.ru/oauth/authorize?client_id=1251545088&redirect_uri=https%3A%2F%2Ftsvetniki.ru%2Fbitrix%2Ftools%2Foauth%2Fodnoklassniki.php&response_type=code&state=site_id%3Ds1%26backurl%3D%252Fcontacts%252F%253Fcheck_key%253D6f07f3f8db037c13d10e775e1cf32e96%26redirect_url%3D%252Fcontacts%252F%26mode%3Dopener', 580, 400)" title='Одноклассники')
  span.close-popup.js-popupClose
