extends layout/main

block variables
	-var title = 'Купить Мульчу, Кору, Щепу в Москве, семена, искусственные цветы'

block content	
	main
		include modules/leftmenu
		.container
			.home-slider
				.home-slide(style='background-image: url(static/images/index/woman25_min.png);')
					.home-slide-text
						.home-slide-title
							| Хотите покупать товары по оптовым ценам ?
						p
							| Интернет магазин Цветники.ру, более 32 000 тыс. товаров
							| для дома и сада.
					p
						a.button.button-with-arrow.button__yellow(href='catalog__page.html') Начать покупать
				.home-slide(style='background-image: url(static/images/index/woman25_min.png);')
					.home-slide-text
						.home-slide-title
							| Хотите покупать товары по оптовым ценам ?
						p
							| Интернет магазин Цветники.ру, более 32 000 тыс. товаров
							| для дома и сада.
					p
						a.button.button-with-arrow.button__yellow(href='catalog__page.html') Начать покупать
				
			.row.section.section-items
				.col-md-30.spaced-xs.spaced-sm
					.links-block.spaced
						.links-block-title
							| Товары для сада и огорода
						ul.links-block-list
				.col-md-30.spaced-xs.spaced-sm
					.links-block.spaced
						.links-block-title
							| Ландшафтный дизайн и благоустройство
						ul.links-block-list
				.col-md-30.spaced-xs.spaced-sm
					.links-block
						.links-block-title
							| Все для дома и интерьера
						ul.links-block-list
				.col-md-30.spaced-xs.spaced-sm
					.links-block
						.links-block-title
							| Инструмент и оборудование
						ul.links-block-list

			section.catalog-section.bx-blue
				h2.title Хиты продаж
				.product-scroller.slick
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card

			section.catalog-section.bx-blue
				h2.title Новинки
				.product-scroller.slick
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card

			section.catalog-section.bx-blue
				h2.title Акции
				.product-scroller.slick
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card
					include modules/card

			section.section.review
				h2.title Отзывы наших клиентов
				.product-scroller.slick
					include modules/callback
					include modules/callback
					include modules/callback
					include modules/callback
					include modules/callback
					include modules/callback

			.section.section-promo
				a.js-popup.promo-start-coupon(href='#' data-page='popup-new-actions.html')
					.promo-start-coupon-text
						| Получите купон на 
						b 500 рублей
						|  при первом заказе!
					.promo-start-coupon-denomination 500 Р
					span.promo-start-coupon-button Получить
		
			.section.section-promocards
				.row
					.col-md-20
						a.promo-card(href='opt__page.html')
							img.lazy(data-src='static/images/index/promo_card_sales.jpg')
							.promo-card-overlay
								.promo-card-title
									| Предложение для оптовых клиентов
								.promo-card-desc
								.promo-card-desc
									| Найдём товар под ваш заказ. 
									br
									|                   Укомплектуем любой тендер.
					.col-md-20
						a.promo-card(href='https://tsvetniki.ru/catalog/6458-semena-i-lukovitsy/')
							img.lazy(data-src='static/images/index/tsvetnikiru.jpg')
							.promo-card-overlay
								.promo-card-title
									| Распродажа всех видов семян со скидкой до 30%!
								.promo-card-desc
								.promo-card-desc
									| Все виды Семян со скидкой 
									br
									|                   до 30%, до 10 мая.
					.col-md-20
						a.promo-card(href='https://tsvetniki.ru/catalog/3023-iskusstvennye-derevya/')
							img.lazy(data-src='static/images/index/17.png')
							.promo-card-overlay
								.promo-card-title
									| Искусственные растения - деревья, кусты, трава.
								.promo-card-desc
								.promo-card-desc
									| Более 1200 видов. Склад в Москве. Доставка от 2 дней
									br
		
			.section
				.section-title-new.title
					span.section-icon.section-icon-sale
					| Горящие скидки
				.product-row
					.product-row-tags
						.selectable-tags.selectable-tags-scrollable(data-filter-target='hot-product-scroller')
							a.selectable-tag.active(data-filter='') Показать все
							a.selectable-tag(data-filter='7547') Кора лиственницы Дизайнер Цветников
					#hot-product-scroller.product-scroller.slick
						include modules/card
						include modules/card
						include modules/card
						include modules/card
						include modules/card
			
		.section.section-features
			.container
				.section-title-new.title Почему выгодно работать с нами?
				.row
					.col-md-20
						.feature
							span.feature-icon.feature-icon-loyal
							.feature-title Программа лояльности
							p
								| Каждый клиент может стать оптовым. Размер скидки зависит от
								| суммы всех заказов. Все заказы суммируются.
						.feature
							span.feature-icon.feature-icon-car
							.feature-title Доставка по России и СНГ
							p Отправим оптовый заказ в любую точку России, СНГ и Европы
					.col-md-20
						.feature
							span.feature-icon.feature-icon-zakaz
							.feature-title Комплексный подход
							p
								| Укомплектуем любой оптовый заказ и тендер под ваши
								| потребности. Учтём все пожелания
						.feature
							span.feature-icon.feature-icon-thumbup
							.feature-title Качественная продукция
							p
								| Сертифицированная продукция. Двойной контроль качества товаров
								| при отгрузке
				.section-features__info
					include modules/button__callback
					span.support-info
						| Поможем быстро оформить заказ, расчитаем смету или найдем нужный
						| товар
			// /.container
		
		.section.section-service
			.container
				.section-title-extras
					span.service-icons-item
						span.icon.icon-car
						|  Доставим от 2 дней
					span.service-icons-item
						span.icon.icon-return
						|  15 дней на возврат
					span.service-icons-item
						span.icon.icon-shield
						|  Официальная гарантия РФ
		
		section.need-help
			.container
				.need-help-inner
					.title-custom.title Нужна помощь с выбором?
					.text
						| Свяжитесь с нами удобным способом и мы с радостью поможем!
					.callback
						include modules/button__callback
						.phone
							a(href='tel:+74952215116') 8 495 221-51-16
							span Офис: пн-пт с 9:00 до 18:00
							br
							span Склад: вт-сб с 8:00 до 17:00
		
		.section.section-advantages
			.container
				.section-title-new.title
					| Преимущества работы с нами
				.row
					.col-md-35.spaced-xs.spaced-sm
						p
							| ЦВЕТНИКИ.РУ (ранее "Цветники России") - оптовый интернет-магазин
							| товаров для дома, сада, стройки и декора. Всего более 32000
							| наименований товаров можно купить оптом и в розницу по низким
							| ценам на нашем сайте.
						p
							| Покупая товары у нас, Вы автоматически присоединяетесь к системе
							| лояльности. Оптовые цены и условия установлены для каждой
							| категории товаров, которые можно посмотреть в карточке товара.
							| Выбирайте удобный способ оплаты и доставки. Регистрируйтесь и
							| накапливайте ваши скидки.
						p
							| Купить оптом и в розницу товары для дома и сада в
							| интернет-магазине "ЦВЕТНИКИ.РУ" легко и удобно. ЦВЕТНИКИ.РУ
							| (ранее "Цветники России") - оптовый интернет-магазин товаров для
							| дома, сада, стройки и декора. Всего более 32000 наименований
							| товаров можно купить оптом и в розницу по низким ценам на нашем
							| сайте.
						p
							| Покупая товары у нас, Вы автоматически присоединяетесь к системе
							| лояльности. Оптовые цены и условия установлены для каждой
							| категории товаров, которые можно посмотреть в карточке
							| товара.Выбирайте удобный способ оплаты и доставки.
							| Регистрируйтесь и накапливайте ваши скидки. Купить оптом и в
							| розницу товары для дома и сада в интернет-магазине "ЦВЕТНИКИ.РУ"
							| легко и удобно.
					.col-md-25
						.media
							a(href='https://www.youtube.com/watch?time_continue=3&v=WCqcql4YHt8')
								img.lazy(data-src='static/images/index/banner0321.png')
		
		.section.section-clients
			.container
				.section-title-new.title
					| Наши клиенты
				div
					p
						| Работаем через Портал поставщиков и гос. закупки с Правительством
						| Москвы, Управлением делами Президента, ГБУ “Автомобильные дорогие”
						| и другими.
						br
						|             Нашу продукцию можно купить в Оби, Леруа Мерлен, Castorama и
						|             других магазинах.
					.our-clients
						// items-container
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №8')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №7')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №6')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №5')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №4')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №3')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №2')
						img.lazy(data-src='static/images/index/unnamed-_7_.png' alt='Клиент №1')
						// items-container
		
		include modules/section-subscribe

block script