extends layout/main

block variables
  -var title = 'Оптовикам'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Оптовикам
            meta(itemprop='position' content='2')
  main
    section.page-section.section-about-product
      .container
        h4.section-title
          | Оптовикам
        .about-product
          | На нашем сайте вы можете купить товары по оптовым ценам при заказе от 10000 руб. У нас действует накопительная система скидок. Поэтому у нас выгодно делать покупки. Каждый клиент может стать оптовым.
    section.page-section.section-stock.sale-tabs
      .container
        h4.section-title Сегодня у нас проходят акции
        section.catalog-section.bx-blue
          h2.title Распродажа товаров
            a.sale-info__link(href='/sale/60147/') №60147
          .product-scroller.slick
            include modules/card
            include modules/card
            include modules/card
            include modules/card
            include modules/card
            include modules/card
    include modules/section-banner
    .container
      section.catalog-section.bx-blue
        h2.title Персональные рекомендации
        .product-scroller.slick
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
      section.catalog-section.bx-blue
        h2.title Хиты продаж
        .product-scroller.slick
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
    include modules/pay-and-delivery
    section.page-section.page-section_lightgray
      .container
        .row
          .col-md-20
            h4.storage-content__title
              span.storage-icon
              | Наши склады
            article.storage-content-item
              a.content-item__title(href='/contacts/') Молоково
              br
              span.content-item__description Московская область, Ленинский район, с. Молоково, ул. Революционная
          .col-md-40
            <iframe src="https://yandex.ru/map-widget/v1/-/CCQvZXfgSA" width="100%" height="300px" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
    include modules/section-most-question
    include modules/section-needhelp

block script