extends layout/main

block variables
  -var title = 'Оплата'

block content
  include modules/leftmenu
  
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Оплата
            meta(itemprop='position' content='2')
  main
    section.page-section
      .container
        h2.section-title Оплата
        .about-product
          p
            | Высокий уровень сервиса, качественная продукция собственного производства и широкий ассортимент товаров по оптовым ценам – лишь немногие из причин, побудивших вас купить что-то в нашем интернет-магазине и посетить эту страницу.
          p
            |  Ориентируясь на вас и ваши предпочтения, мы стремимся сделать процедуру оплаты покупок в нашем интернет-магазине максимально простой и быстрой. Выбирайте самый удобный для себя способ оплаты заказа:
          p
            b
              | Наличными при получении (если выбрали доставку по Москве и Московской области)
          p
            img(width='150' alt='nalik.png' src=' static/images/index/nalik.png' height='89' title='nalik.png')
          p
            b
              | Оплата банковской картой
          p
            |   Для вашего удобства мы ввели возможность оплаты банковской картой VISA/MASTERCARD/МИР при самовывозе со склада и доставке курьером.
          p
            b
              | Гарантии безопасности
          p
            |  Данные Вашей платежной карты гарантировано защищены в соответствии со стандартами безопасности PCI DSS. Данные карты вводятся на защищенной банковской платежной странице, передача информации происходит с применением технологии шифрования SSL. 
          p
            |  Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Для дополнительной аутентификации Держателя карты используется протокол 3D-Secure. Если Эмитент поддерживает данную технологию, Вы будете перенаправлены на его сервер для ввода дополнительных реквизитов платежа.
          p
            img(width='150' alt='виза.jpg' src=' static/images/index/viza.jpg' height='70' title='виза.jpg')
            img(width='150' alt='мастеркард.jpg' src=' static/images/index/masterkard.jpg' height='70' title='мастеркард.jpg')
            img(width='150' alt='маэстро.jpg' src=' static/images/index/maestro.jpg' height='70' title='маэстро.jpg')
          p
            b
              | Оплата по счету (для юр. лиц и ИП)
          p
            | Производится в индивидуальном порядке в ходе уточнения деталей заказа с менеджером.
          p
            b
              | Возврат денежных средств или обмен товара
          p
            | Закон «О защите прав потребителей» дает право вернуть или обменять товар надлежащего качества, приобретенный в нашем магазине, в течение 14 дней, не считая дня покупки.
          p
            | Вы купили товар, но он не подошел по габаритам или характеристикам? Выбрали неудачный подарок? Хотите вернуть товар по другим причинам? Чтобы вам помочь, нам нужно детально разобраться в ситуации.
          p
            b Поможем с возвратом или ремонтом 
          p
            | Вы можете вернуть товар, если сохранен его товарный вид, упаковка и полная комплектация. Оставьте заявку на возврат через форму на сайте "Связаться с нами" с пометкой "Возврат" или позвоните по телефону 8 (495) 221-51-16.

block script