extends layout/main

block variables
  -var title = 'Личный кабинет'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Личный кабинет
            meta(itemprop='position' content='2')
  main
    .container
      .personal-wrapper
        include modules/personal-menu
        .tabs-content.is-active
          .profile
            .profile-header
              .profile-header-image
                .profile-header-image__photo
                  i.fa.fa-question
                  | Добавьте ваше фотo
                h4.profile-header-image__name
                  | Кособрюхов Арсений
                a.button-changered.js-changePhoto(href='#')
                  span.text
                    | Изменить
              .profile-header-info
                .profile-header-info__title Личные данные
                .info-item
                  .info-item__label Ваш ID
                  .info-item__text 110487
                #nameSecond.info-item
                  .info-item__label Фамилия
                  .info-item__text Фамилия
                #nameFirst.info-item
                  .info-item__label Имя
                  .info-item__text Фамилия
                #nameThrid.info-item
                  .info-item__label Отчество
                  .info-item__text
                .info-item-sex
                  .info-item__label Пол
                  .info-item__text.info-item__text_men Женский
                .info-item.info-item-type
                  .info-item__label Вы
                  .info-item-type__block
                    input#person_1(value='1' type='radio' name='ORDER_PERSON_TYPE' checked='checked')
                    label.info-item-check.js-individual(for='person_1')
                      | Частное лицо
                  .info-item-type__block
                    input#person_2(value='2' type='radio' name='ORDER_PERSON_TYPE')
                    label.info-item-check.js-organization(for='person_2')
                      | Организация или ИП
            .profile-body
              form.registration-form.individual(enctype='multipart/form-data' method='post' action='/personal/' style='display:block;')
                span.registration-form__subtitle Ваши контактные данные
                .registration-line
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Фамилия (необязательно)' data-group='name' name='PROP_1' value='Кособрюхов')
                    span.valid
                    span.unvalid
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Имя' data-group='name' required='required' name='PROP_2' value='Арсений')
                    span.valid
                    span.unvalid
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Отчество (необязательно)' data-group='name' name='PROP_3' value='')
                    span.valid
                    span.unvalid
                  .form-sex
                    input.form-sex__radio(type='radio' name='PROP_4' value='M' title='Мужской')
                    input.form-sex__radio(type='radio' name='PROP_4' value='W' title='Женский')
                  span.msg Чтобы знать как к вам обращаться
                .registration-line
                  .registration-line__div.phones_line.valid-group
                    input.field.dop-phone.validate(type='hidden' name='DOP_PROP_5[]')
                    input.field.registration__field(type='tel' required='required' name='PROP_5[]' value='+7 (222) 222-2222')
                    span.valid
                    span.unvalid
                    span.msg Мобильный телефон для подтверждения заказа
                    span.add-phone-field.js-add-phone(data-name='PROP_5[]') Добавить дополнительный телефон
                  .registration-line__div.valid-group
                    input.field.field-email.registration__field-email(type='email' required='required' placeholder='Электронная почта' name='PROP_6' value='kosob@mail.ru')
                    span.valid
                    span.unvalid
                    span.msg Для проверки статуса заказа
                div(style='display: none')
                  input.photoProfile(style='display: none' type='file' name='PROP_' value='')
                input(type='hidden' name='type' value='1')
                input(type='hidden' name='edit_profile' value='')
                div(style='text-align: center')
                  button.button.button__yellow(type='submit')
                    | Сохранить
              form.registration-form.organization(enctype='multipart/form-data' method='post' action='/personal/' style='display:none;')
                span.registration-form__subtitle
                  | Данные организации
                .registration-these-organizations
                  span.valid-group
                    input.field.these-organizations__field(type='text' placeholder='Введите название организации, ИП или магазина' name='PROP_7' value='')
                    span.valid
                    span.unvalid
                  span.registration-add-bank
                    span.registration-add-bank__link
                      | Заполните реквизиты
                    |             Для удобства выставления счетов
                  span.msg.mb0 Чтобы быстро найти Вас при повторном обращении
                .registration-edit-bank-container
                  table.registration-edit-bank
                    tbody
                      tr
                        td
                          span.edit-bank-one-element__name Название юр лица или ИП
                        td.valid-group(colspan='3')
                          input.field.edit-bank-one-element__field(required='required' name='PROP_8' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-one-element__name Юридический адрес
                        td.valid-group(colspan='3')
                          input.field.edit-bank-one-element__field(required='required' name='PROP_9' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-two-element__name ИНН
                        td.valid-group
                          input.field.edit-bank-two-element__field(required='required' name='PROP_10' data-type='number' type='text' value='')
                          span.valid
                          span.unvalid
                        td.edit-bank-two-element-td
                          span.edit-bank-two-element__name КПП
                        td.valid-group
                          input.field.edit-bank-two-element__field(name='PROP_11' data-type='number' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-two-element__name БИК
                        td.valid-group
                          input.field.edit-bank-two-element__field(required='required' name='PROP_12' data-type='number' type='text' value='')
                          span.valid
                          span.unvalid
                        td.edit-bank-two-element-td
                          span.edit-bank-two-element__name Банк
                        td.valid-group
                          input.field.edit-bank-two-element__field(required='required' name='PROP_13' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-one-element__name К/С
                        td.valid-group(colspan='3')
                          input.field.edit-bank-one-element__field(required='required' name='PROP_14' data-type='number' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-one-element__name Р/С
                        td.valid-group(colspan='3')
                          input.field.edit-bank-one-element__field(required='required' name='PROP_15' data-type='number' type='text' value='')
                          span.valid
                          span.unvalid
                      tr
                        td
                          span.edit-bank-one-element__name Телефон
                          span.edit-bank-one-element__desc необязательно
                        td.valid-group(colspan='3')
                          input.field.edit-bank-one-element__field(name='PROP_16' type='text' value='')
                          span.valid
                          span.unvalid
                span.registration-form__subtitle Ваши контактные данные
                .registration-line
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Фамилия (необязательно)' data-group='name' name='PROP_18' value='')
                    span.valid
                    span.unvalid
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Имя' data-group='name' required='required' name='PROP_19' value='')
                    span.valid
                    span.unvalid
                  .valid-group.valid-group-3
                    input.field.registration__field(type='text' placeholder='Отчество (необязательно)' data-group='name' name='PROP_20' value='')
                    span.valid
                    span.unvalid
                  .form-sex
                    input.form-sex__radio(type='radio' checked='checked' name='PROP_21' value='M' title='Мужской')
                    input.form-sex__radio(type='radio' name='PROP_21' value='W' title='Женский')
                  span.msg Что бы знать как к вам обращаться
                .registration-line
                  .registration-line__div.phones_line.valid-group
                    input.field.dop-phone.validate(type='hidden' name='DOP_PROP_22[]')
                    input.js-phone.field.registration__field(type='tel' required='required' name='PROP_22[]' value='')
                    span.valid
                    span.unvalid
                    span.msg Мобильный телефон для подтверждения заказа
                    span.add-phone-field.js-add-phone(data-name='PROP_22[]') Добавить дополнительный телефон
                  .registration-line__div.valid-group
                    input.field.field-email.registration__field-email(type='email' required='required' placeholder='Электронная почта' name='PROP_23' value='')
                    span.valid
                    span.unvalid
                    span.msg Для проверки статуса заказа
                div(style='display: none')
                  input.photoProfile(style='display: none' type='file' name='PROP_' value='')
                input(type='hidden' name='type' value='2')
                input(type='hidden' name='edit_profile' value='')
                div(style='text-align: center')
                  button.button.button__yellow(type='submit')
                    | Сохранить


block script