extends layout/main

block variables
  -var title = 'Личный кабинет'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Личный кабинет
            meta(itemprop='position' content='2')
  main
    .container
      .personal-wrapper
        include modules/personal-menu
        .tabs-content.is-active.animated.fadeIn
          .order
            .order-header
              .order-header__number Номер заказа
              .order-header__date Дата заказа
              .order-header__status Статус
              .order-header__price Сумма
              .order-header__repeat
              .order-header__arrow
            .order-body.js-products-container
              // items-container
              style.
                .order-item-1012058::before {background-color: #bdc4cb;}
                .order-item-1012058 .status-item {background-color: #bdc4cb;}
              .order-item.order-item-1012058
                .order-item-header
                  .order-item__number № 1012058
                  .order-item__date 05.06.2020
                  .order-item__status
                    .status-item Принят
                  .order-item__price 1 020,00 ₽
                  .order-item__repeat
                    a.button-small(href='?COPY_ORDER=Y&ID=1012058') Повторить заказ
                  .order-item__arrow.order-item__arrow1
                    span.icon.icon-arrow-down.js-showContent
                .order-item-content
                  .order-content-header
                    .order-content__image
                    .order-content__name Название товара
                    .order-content__price-sale Цена с учетом скидок
                    .order-content__size Количество
                    .order-content__price-final Сумма с учетом скидок
                  .order-content-item
                    .order-content__image
                      img.photo(src='/static/images/index/kora_sosny_mulcha_frakts_2_6_sm_bez_markirovki_60_l.jpg', alt='Кора лиственницы (Мульча) (фракция более 10 см) Дизайнер Цветников 60 л')
                    .order-content__name
                      span.name Кора лиственницы (Мульча) (фракция более 10 см) Дизайнер Цветников 60 л
                      span.article Артикул: 540654
                    .order-content__price-sale 340,00 ₽
                    .order-content__size 3 шт.
                    .order-content__price-final 1 020,00 ₽
              // items-container


block script