extends layout/main

block variables
  -var title = 'Политика конфиденциальности'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') О компании
            meta(itemprop='position' content='2')
  main
    section.page-section
      .container
        h4.section-title Политика конфиденциальности
        .about-product
          p 
            | г. Москва                                  «01» июля 2017 г.
          p 
            | Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-магазин «Цветники», расположенный на доменном имени 
            a(href='http://www.tsvetniki.ru') www.tsvetniki.ru
            | , может получить о Пользователе во время использования сайта Интернет-магазина, программ и продуктов Интернет-магазина.
          p 
            b 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
          p 
            | 1.1 В настоящей Политике конфиденциальности используются следующие термины:
          p 
            | 1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени ИП Брянский Антон Юрьевич, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
          p 
            | 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
          p 
            | 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
          p 
            | 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
          p 
            | 1.1.5. «Пользователь сайта Интернет-магазина (далее ? Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.
          p 
            | 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
          p 
            | 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
          p 
            b 2. ОБЩИЕ ПОЛОЖЕНИЯ
          p 
            | 2.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
          p 
            | 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.
          p 
            | 2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина "Цветники". Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.
          p 
            | 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.
          p 
            b 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
          p 
            | 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.
          p 
            | 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте интернет-магазина "Цветники" на странице "Оформление заказа" и включают в себя следующую информацию:
          p 
            | 3.2.1. фамилию, имя, отчество Пользователя;
          p 
            | 3.2.2. контактный телефон Пользователя;
          p 
            | 3.2.3. адрес электронной почты (e-mail);
          p 
            | 3.2.4. город доставки Товара;
          p 
            | 3.3. Интернет-магазин защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
          ul 
            li IP адрес;
            li информация из cookies;
            li
              | информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
            li время доступа;
            li адрес страницы, на которой расположен рекламный блок;
            li реферер (адрес предыдущей страницы).
          p 
            | 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-магазина, требующим авторизации.
          p 
            | 3.3.2. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
          p 
            | 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
          p 
            b 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
          p 
            | 4.1. Персональные данные Пользователя Администрация сайта интернет-магазина может использовать в целях:
          p 
            | 4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазина, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с "Цветники".
          p 
            | 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.
          p 
            | 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя.
          p 
            | 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
          p 
            | 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
          p 
            | 4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
          p 
            | 4.1.7. Уведомления Пользователя Сайта интернет-магазина о состоянии Заказа.
          p 
            | 4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
          p 
            | 4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта интернет-магазина.
          p 
            | 4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-магазина или от имени партнеров Интернет-магазина.
          p 
            | 4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
          p 
            | 4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-магазина с целью получения продуктов, обновлений и услуг.
          p 
            b 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
          p 
            | 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
          p 
            | 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте интернет-магазина «Цветники», включая доставку Товара.
          p 
            | 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
          p 
            | 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
          p 
            | 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
          p 
            | 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
          p 
            b 6. ОБЯЗАТЕЛЬСТВА СТОРОН
          p 
            | 6.1. Пользователь обязан:
          p 
            | 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина.
          p 
            | 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
          p 
            | 6.2. Администрация сайта обязана:
          p 
            | 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
          p 
            | 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
          p 
            | 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
          p 
            | 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
          p 
            b 7. ОТВЕТСТВЕННОСТЬ СТОРОН
          p 
            | 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
          p 
            | 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
          p 
            | 7.2.1. Стала публичным достоянием до её утраты или разглашения.
          p 
            | 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
          p 
            | 7.2.3. Была разглашена с согласия Пользователя.
          p 
            b 8. РАЗРЕШЕНИЕ СПОРОВ
          p 
            | 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
          p 
            | 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
          p 
            | 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
          p 
            | 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
          p 
            b 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
          p 
            | 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
          p 
            | 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.
          p 
            | 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронной почте 
            a(href='mailto:info@tsvetniki.ru') info@tsvetniki.ru
            | .
          p 
            | 9.4. Действующая Политика конфиденциальности размещена на странице по адресу 
            a(href='https://tsvetniki.ru/about/politika-konfidentsialnosti.php?clear_cache=Y') https://tsvetniki.ru/about/politika-konfidentsialnosti.php?clear_cache=Y
          p 
            | Я осознаю, что проставление отметки слева от фразы «Я принимаю условия "Соглашения на обработку персональных данных"» при регистрации на веб-сайте 
            a(href='http://www.tsvetniki.ru') www.tsvetniki.ru
            |  либо нажатие кнопки «Принимаю условия "Соглашения на обработку персональных данных" и даю согласие на обработку моих персональных данных» ниже текста настоящего Соглашения, либо обращение по контактному телефону, указанному на веб-сайте 
            a(href='http://www.tsvetniki.ru') www.tsvetniki.ru
            |  означает мое письменное согласие с условиями, описанными в нём. Я, регистрируясь и/или вводя свои данные в форму на сайте 
            a(href='http://www.tsvetniki.ru') www.tsvetniki.ru
            |  с целью осуществления покупки любого из предложенных товаров либо в иных целях даю своё согласие на получение рассылки материалов рекламного и/или информационного характера от сайта tsvetniki.ru. Давая такое согласие, я подтверждаю, что действую по своей воле и в своем интересе, а также обязуюсь предоставить достоверные данные, необходимые для регистрации и/или осуществления покупки или иных необходимых действий.

block script