.popup.popup-new-actions
  .left-col
    ul
      li
        span.icon-pp.icon-1
      li
        span.icon-pp.icon-2
      li
        span.icon-pp.icon-3
  .right-col
    .icon-holder
      span.gift-icon
    span.popup-title-big
      | Получите 
      span купон
      br
      | 500 рублей на первый заказ сейчас
    span.popup-subtitle
      | Скидка изчезнет через 
      span.timer.js-custom-timer
        span.js-minutes 09
        |  мин. 
        span.js-seconds 36
        |  сек.
    form#form-coupon.banner-form(data-ajax-url='/local/ajax/form_new_actions.php')
      .valid-group.valid-group-1
        input.field.name(required='', type='text', placeholder='Ваше имя', name='')
        span.valid
        span.unvalid
      .valid-group.valid-group-2
        input.field(required='', type='email', placeholder='Ваш E-mail', name='email')
        span.valid
        span.unvalid
      input.button.button__yellow(type='submit', value='Получить купон')
      .confirm
        .jq-checkbox.accept.checked(unselectable='on', style='user-select: none; display: inline-block; position: relative; overflow: hidden;')
          input.accept(required='', type='checkbox', name='', value='Да', checked='checked', style='position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;')
          .jq-checkbox__div
        label.label-accept(for='accept2') Я согласен получать рассылки от Цветники.ру 
    span.close-popup.js-popupClose
