extends layout/main

block variables
  -var title = 'Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='catalog__page.html' title='Каталог' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Каталог
            meta(itemprop='position' content='2')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/catalog/8006-kora-sosny-mulcha/' title='Кора сосны (мульча)' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Кора сосны (мульча)
            meta(itemprop='position' content='3')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/catalog/7551-kora-sosny-dizayner-tsvetnikov/' title='Кора сосны Дизайнер Цветников' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Кора сосны Дизайнер Цветников
            meta(itemprop='position' content='4')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л
            meta(itemprop='position' content='5')
  main
    .container
      h1.product-title Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л
      .product-wrapper(itemscope='' itemtype='http://schema.org/Product')
        div(style='display:none')
          span(itemprop='name') Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л
          p(itemprop='description')
            | С каждым годом всё большее количество землевладельцев, садоводов и огородников понимает важность мульчирования почвы для поддержания ее здоровья и плодородия. Этот незамысловатый процесс позволяет упростить уход за растениями, наделить их дополнительной защитой и позаботиться о том, что почва не только не истощалась, но и всегда была насыщена полезными минеральными веществами. Здесь и сейчас вы видите кору сосны 1-3 см - один из самых востребованных органических материалов для мульчирования. Использовать древесные фракции такого размера можно как самостоятельно, так и в качестве подложки для более крупных (от 6 см) обломков коры.
            | Без мульчи и жизнь не та
            | Представленная у нас кора сосны 1-3 см оптом обойдётся покупателю гораздо выгоднее, ведь, при условии набора определенного количества товара, можно получить дополнительную скидку, которая рассчитывается автоматически в зависимости от мелкого, среднего или крупного опта. Тем не менее, нельзя не отметить очевидные преимущества сосновой коры в мульчировании:
            | Пористая структура, благодаря которой она отлично пропускает воздух и удерживает влагу;
            | Неприятные «сюрпризы» в виде сорняков отныне начнут обходить ваш участок стороной;
            | Прекрасный естественный декор, как нельзя лучше подходящий в качестве составного элемента ландшафтного дизайна.
            | Покупайте с выгодой уже сейчас
            | «Цветники.ру» - крупнейший производитель органической мульчи в России. Наш опыт насчитывает не одну сотню частных, оптовых и даже государственных заказчиков. Купив кору сосны 1-3 см у нас, вы получаете уникальную возможность стать еще одним любимым для нас клиентом, накапливать скидки и принимать участие в регулярных акциях. Для заказа просто добавьте выбранный товар в корзину, после чего вам потребуется всего-навсего ввести имя и телефон.
          div(itemscope='' itemtype='http://schema.org/Offer' itemprop='offers')
            span(itemprop='price') 178
            // Цена
            meta(itemprop='priceCurrency' content='RUB')
          div(itemscope='' itemtype='http://schema.org/AggregateRating' itemprop='aggregateRating')
            // Начало РЕЙТИНГА
            div(itemprop='ratingValue') 4
            div(itemprop='bestRating') 5
            div(itemprop='worstRating') 2
            div(itemprop='ratingCount') 212
            div(itemprop='reviewCount') 9
        .product-left-wrapper
          .product-gallery
            .product-image
              .product-image-preload
              a.product-image__photo.js-productGallery(href='static/images/index/kora_sosny_mulcha_frakts_1_3_sm_dizayner_tsvetnikov_60_l.jpg' data-thumbnail='static/images/index/kora_sosny_mulcha_frakts_1_3_sm_dizayner_tsvetnikov_60_l.jpg' rel='product-fancy')
                img.product-image__photo-image(src='static/images/index/kora_sosny_mulcha_frakts_1_3_sm_dizayner_tsvetnikov_60_l.jpg' alt='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л' title='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л')
                .product-image__photo-overlay
                  span.icon.icon-lupa
        .product-content
          .product-content-info
            span.article Артикул 530555
          .js-product-prices.product-content-price(data-id='21')
            .js-price-row.list-item-content-price__item(data-price-id='1')
              span.your-price Ваша цена
              span.icon-question.js-popup(href='/include/price_info.php')
              .price-body
                .price-rozn
                  .price-title
                    | Розничная цена
                  .dotted
                  span.item-price_norm
                    | 285.00 
                    sup ₽
                .price-description
                  .price-title
              span.price-type /шт
            .js-price-row.list-item-content-price__item(data-price-id='2')
              span.your-price Ваша цена
              span.icon-question.js-popup(href='/include/price_info.php')
              .price-body
                .price-rozn
                  .price-title
                    | Мелкий опт                                                                    
                    span.price-title-subling
                      | -18                                        %  Экономия 50.00 ₽
                  .dotted
                  span.item-price_norm
                    | 235.00 
                    sup ₽
                .price-description
                  .price-title
                    | При сумме покупок от 10 000.00 ₽ (~43 шт)
              span.price-type /шт
            .js-price-row.list-item-content-price__item(data-price-id='3')
              span.your-price Ваша цена
              span.icon-question.js-popup(href='/include/price_info.php')
              .price-body
                .price-rozn
                  .price-title
                    | Средний опт                                                                    
                    span.price-title-subling
                      | -32                                        %  Экономия 90.00 ₽
                  .dotted
                  span.item-price_norm
                    | 195.00 
                    sup ₽
                .price-description
                  .price-title
                    | При сумме покупок от 20 000.00 ₽ (~103 шт)
              span.price-type /шт
            .js-price-row.list-item-content-price__item(data-price-id='4')
              span.your-price Ваша цена
              span.icon-question.js-popup(href='/include/price_info.php')
              .price-body
                .price-rozn
                  .price-title
                    | Крупный опт                                                                    
                    span.price-title-subling
                      | -38                                        %  Экономия 107.00 ₽
                  .dotted
                  span.item-price_norm
                    | 178.00 
                    sup ₽
                .price-description
                  .price-title
                    | При сумме покупок от 40 000.00 ₽ (~225 шт)
              span.price-type /шт
          .js-element-action-block.product-content-action
            div.product-content__count
              .field-group
                a.priceMinus.js-priceMinus
                  span.icon-price-minus
                input.field-price.card-field-price.js-priceField.js-product-quantity(name='itemprice' value='1' min='1' maxlength='5' data-ratio='1')
                a.pricePlus.js-pricePlus
                  span.icon-price-plus
              span.price-type /шт.
            a.js-add2basket.button.button-transparent(href='#' data-id='21' data-quantity='1' data-name='Кора сосны (Мульча) (фракц. 1-3 см) Дизайнер Цветников 60 л')
              span.icon-buy
              span В корзину
            a.button.button-transparent.js-popup(href='#' data-page='/local/ajax/quick.php?product=21') Купить в 1 клик
          .product-content-pereference
            .pereference-nalich
              span.label
                | Наличие
              .selected
                .status
                  span.status-item.status-item_est
                    | В наличии
          .js-product-deliveries.product-deliveries(style='display: none')

    section#description.section.description-product
      .container
        h4.section-title Описание товара
        .description-product__text
          p С каждым годом всё большее количество землевладельцев, садоводов и огородников понимает важность мульчирования почвы для поддержания ее здоровья и плодородия. Этот незамысловатый процесс позволяет упростить уход за растениями, наделить их дополнительной защитой и позаботиться о том, что почва не только не истощалась, но и всегда была насыщена полезными минеральными веществами. Здесь и сейчас вы видите кору сосны 1-3 см - один из самых востребованных органических материалов для мульчирования. Использовать древесные фракции такого размера можно как самостоятельно, так и в качестве подложки для более крупных (от 6 см) обломков коры. 
          h3 Без мульчи и жизнь не та
          p Представленная у нас кора сосны 1-3 см оптом обойдётся покупателю гораздо выгоднее, ведь, при условии набора определенного количества товара, можно получить дополнительную скидку, которая рассчитывается автоматически в зависимости от мелкого, среднего или крупного опта. Тем не менее, нельзя не отметить очевидные преимущества сосновой коры в мульчировании:
          ul
            li
              | Пористая структура, благодаря которой она отлично пропускает воздух и удерживает влагу;
            li
              | Неприятные «сюрпризы» в виде сорняков отныне начнут обходить ваш участок стороной;
            li
              | Прекрасный естественный декор, как нельзя лучше подходящий в качестве составного элемента ландшафтного дизайна.
          h3 Покупайте с выгодой уже сейчас
          p «Цветники.ру» - крупнейший производитель органической мульчи в России. Наш опыт насчитывает не одну сотню частных, оптовых и даже государственных заказчиков. Купив кору сосны 1-3 см у нас, вы получаете уникальную возможность стать еще одним любимым для нас клиентом, накапливать скидки и принимать участие в регулярных акциях. Для заказа просто добавьте выбранный товар в корзину, после чего вам потребуется всего-навсего ввести имя и телефон.
        .flex-wrapper
          .flex-column
            .spec
              span.label Вес товара (Вес нетто), кг
              span.value 12
            .spec
              span.label Длина, см
              span.value 40
            .spec
              span.label Высота, см
              span.value 90
          .flex-column
            .spec
              span.label Ширина, см
              span.value 20
            .spec
              span.label Доступен для маркета
              span.value Да
            .spec
              span.label Акция
              span.value Да
    .container
      section.catalog-section.bx-blue
        h2.title С этим товаром часто покупают
        .product-scroller.slick
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
    include modules/section-banner
    .container
      section.catalog-section.bx-blue
        h2.title Персональные рекомендации
        .product-scroller.slick
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
    include modules/pay-and-delivery
    include modules/section-most-question
    include modules/section-needhelp

block script