extends layout/main

block variables
  -var title = 'Пользовательское соглашение'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') О компании
            meta(itemprop='position' content='2')
  main
    section.page-section
      .container
        h4.section-title Пользовательское соглашение
        .about-product(style='max-height: none;')
          div
          div(style='text-align: justify;')
            | Настоящее пользовательское Соглашение, далее "Соглашение", заключается между интернет-магазином "Цветники", имеющим адрес в интернете 
            a(href='http://tsvetniki.ru') http://tsvetniki.ru
            | , далее "Интернет-магазин", и Пользователем услуг Интернет-магазина, далее "Покупатель", и определяет условия приобретения последним товаров в магазине.
          p(style='text-align: justify;')
            br
            b 1. 
            b ОСНОВНЫЕ ПОЛОЖЕНИЯ
            br
            | 	 1.1. Настоящее Соглашение заключается между Покупателем и Интернет-магазином в момент оформления заказа. Покупатель подтверждает свое согласие с условиями, установленными настоящим Соглашением.
            br
            | 	 1.2. Настоящие Соглашение, а также информация о товаре, представленная на Сайте, являются публичной офертой.
            br
            | 	 1.3. Покупателем может быть любое физическое или юридическое лицо, способное принять и оплатить заказанный им товар в порядке и на условиях, установленных настоящим Соглашением.
            br
            | 	 1.4. Интернет-магазин оставляет за собой право вносить изменения в настоящее Соглашение и осуществляет продажу различных товаров от поставщиков в результате договора между Покупателем и Интернет-магазином, который заключается посредством Акцепта Оферты.
            br
            | 	 1.5. Конечный пользователь может быть юридическим или физическим лицом (гражданином любой страны или лицом без гражданства), при возрастном цензе – восемнадцати лет и/или имеющей по возрасту права и обязанности гражданской дееспособности в полном объёме.
            br
            br
            b 2. ТОВАРЫ И СОВЕРШЕНИЕ ПОКУПКИ
            br
            | 	 2.1. Доступность товаров Интернет-магазина,  в редких случаях, может измениться по техническим проблемам склада или программных неполадок интернет-магазина.
            br
            | 	 2.2. Интернет-магазин работает с дополнительными сервисами оплаты товара и может дополнять и изменять список дополнительных сервисов с отображением на страницах интернет-магазина.
            br
            | 	 2.3. В случае если товар по каким-то объективным причинам отсутствует на складе, и заказ невозможно выполнить полностью или частично, оператор Интернет-магазина связывается с Покупателем и предлагает, по возможности, другое время поставки или замену на другой товар. Интернет-магазин правомочен уведомить Покупателя о данных обстоятельствах на страницах сайта с предложением связаться по определенным каналам.
            br
            | 	 2.4. Сопровождающие товар фотографии являются только иллюстрациями и могут различаться с действительным товаром. Сопровождающие товар описания или характеристики не претендуют на исчерпывающую информативность и могут содержать неточности. Изменение информации в Интернет-магазине производится периодически.
            br
            | 	 2.5. Покупатель несет ответственность за корректность наименований и количества выбранных товаров. Выбрав желаемый товар, Покупатель обязан заполнить требуемые данные, указанные в форме регистрации. Покупатель должен предоставить при оформлении действительные данные, которые необходимы для выполнения заказа. Интернет-магазин не отвечает за правильность и соответствие действительности предоставленных Клиентом данных и последствия вызванные этим.
            br
            | 	 2.6. Приемка товара Покупателем по количеству, качеству, ассортименту и комплектности считается совершенной с момента передачи заказанного товара от Поставщика к Покупателю. Покупатель (или уполномоченный представитель) обязан совершить все необходимые действия, обеспечивающие принятие Товара: осуществить осмотр Товара, провести проверку качества, ассортимента и комплектности Товара, передать Поставщику оригиналы надлежащим образом оформленных отгрузочных документов и доверенности на получение товарно-материальных ценностей, если Товар получает представитель Покупателя. Ответственность за Товар переходит от Поставщика к Покупателю с момента передачи Товара. Осуществляется в рамках Договора публичной оферты и при условии, что Покупатель выражает намерение заключить Договор, а именно приобрести и оплатить выбранный товар в системе и посредствам дополнительных сервисов оплаты в порядке условий, предусмотренных правилами работы Интернет-магазина в рамках настоящей оферты.
            br
            br
            b 3. ЗАКЛЮЧЕНИЕ ДОГОВОРА
            br
            | 	 3.1. Договор публичной оферты об оказании услуг Интернет-магазина по продаже товаров предоставленных сервисом магазина на ресурсе tsvetniki.ru в Интернет в порядке и на условиях предусмотренных правилами работы. Настоящий Договор заключается путем акцепта Покупателями настоящей публичной Оферты, содержащей все существенные условия Договора, без подписания Сторонами и без указания каких либо реквизитов.
            br
            | 	 3.2. Договор считается заключенным, если достигнуто Соглашение по всем существенным условиям. В случае отсутствия такого требования, предъявляемого к Оферте, и в каком-либо случае предложение заключить Договор не содержало бы всех существенных условий Договора, то принятие такого предложения не влекло бы правовых последствий-признания того, что Договор не заключен.
            br
            | 	 3.3. Полным и безоговорочным акцептом настоящей публичной Оферты в соответствии с общепринятыми правилами и в соответствии условий настоящего Договора является достижение результата определенного Покупателем при оказании услуг Интернет-магазина с предварительным совершением действий направленных на установление дистанционного взаимодействия.
            br
            | 	 3.4. Обязательными действиями Интернет-магазина, предшествующими оказанию услуг являются:  ознакомление с условиями настоящей Оферты;  самостоятельное определение Покупателем при осуществлении покупок в Интернет-магазине используемых любых данные в процессе оплаты товара.
            br
            | 	 3.5. В случае возникновения проблем с товаром, которые возникли заведомо до получения товара, Покупатель в обязательном порядке связывается с менеджерами по указанным определённым контактам Интернет-магазина в течение 24 часов после оплаты – проведения транзакции и соответствующего поступления денежной суммы.
            br
            | 	 3.6. Деятельность Интернет-магазина определяется настоящим Соглашением, т.е. при обязательном условии осуществления исключительных продаж товара от различных поставщиков, с обязательным условием исключения какого-либо обмена, скупки и т.п.
            br
            br
            b 4. ПОРЯДОК ПРЕДОСТАВЛЕНИЯ УСЛУГ ИНТЕРНЕТ-МАГАЗИНА 
            br
            | 	 4.1. Моментом ознакомления с условиями настоящего Соглашения и элементов оферты является совершение Покупателем всех действий направленных для совершения покупки. Заключение Договора оферты означает, что Покупатель полностью ознакомился с условиями предоставления услуг, функционированием системы продаж Интернет-магазина, безусловно, признает результат оказания услуг, описанных на сайте магазина в соответствии с условиями настоящего Соглашения и элементов оферты.
            br
            | 	 4.2. Настоящий документ, действующий на момент покупки, в виде электронного документа, доступен Покупателю на сайте Интернет-магазина.
            br
            | 	 4.3. Ведение статистики оказания услуг и предоставление Покупателю доступа к ней осуществляется сервисом Интернет-магазина. Доступ к статистике оказания услуг осуществляется посредством пользовательского интерфейса на сайте Интернет-магазина с использованием средств идентификации покупателя в соответствии с выбранным способом оплаты.
            br
            | 	 4.4. В рамках настоящего Соглашения предусматривается информационная поддержка Покупателей Интернет-магазином в части касающейся его функционирования, сервиса оплаты и других вопросов.
            br
            | 	 4.5. Получение приобретенного товара происходит исключительно через строго определённый сервис. Способы оплаты представлены сервисом приёма платежей, с которыми работает Интернет-магазин. При возникновении проблем с процессом оплаты необходимо обращаться к менеджерам магазина. Интернет-магазин не несёт ответственность за задержки денежных операций. В том числе осуществления транзакций через терминалы, посредством других платежных систем и т.п.
            br
            | 	 4.6. Интернет-магазин осуществляет свою деятельность 24 часа в сутки. Информационная поддержка работает по нерегулируемому графику.
            br
            | 	 4.7. Информационная поддержка Интернет-магазина правомочна запросить у Покупателя любые данные по совершенной покупке.
            br
            | 	 4.8. Расчет стоимости оказанных Интернет-магазином услуг осуществляется и применяется по ставкам вознаграждения указанных на сайте магазина. Кроме того право регулирования скидок для постоянных Покупателей закрепляется данным Соглашением за сервисом Интернет-магазина.
            br
            br
            b 5. ПРАВА И ОБЯЗАННОСТИ СТОРОН 
            br
            | 	 5.1. Интернет-магазин обязуется:
            br
            | 	 5.2. Соблюдать требования принятого делового оборота, условий настоящего Соглашения и элементов оферты, приобщенных к нему Соглашений либо Приложений, а так же утвержденных Правил работы Интернет-магазина, если таковые имеются.
            br
            | 	 5.3. Не способствовать осуществлению иными лицами несанкционированного доступа к пользовательскому оборудованию, в том числе доступу к информационным массивам Покупателей.
            br
            | 	 5.4. При нижеприведенных и определённых обстоятельствах Интернет-магазин правомочен отказать в обслуживании Покупателю.
            br
            | 	 5.5. Перечень причин отказа в обслуживании может быть, но не ограничивается перечисленным, случаи:  выявление умышленного обмана сервиса Интернет-магазина; распространение информации третьим лицам о совершенной покупке, в том числе оглашение номера счёта, время покупки и т. п.; любые проявления угроз в сторону сервиса Интернет-магазина;  нанесение вреда сервису, даже незначительного, а так же попытки в нанесении вреда;  распространение ложной информации о сервисе Интернет-магазина;  использование различных вариантов флуда: обычный флуд, ник-флуд, смайл-флуд, вайп и т.п. по любым контактам сервиса, включая администрацию, информационную поддержку и так далее; обращение одного физического или юридического лица с нескольких номеров различных контактов; распространение, в том числе порочащей, информации о каком-либо сотрудничестве с сервисом Интернет-магазина.
            br
            | 	 5.6. В случае отказа в обслуживании: сервис магазина прекращает осуществлять какие-либо консультации по любым вопросам; информационная поддержка в категорической форме не осуществляется;  осуществляются мероприятия по запрету новых покупок.
            br
            | 	 5.7. Покупатель имеет право:
            br
            | 	 5.7.1. Получать необходимую информацию о любых изменениях Услуг сервиса Интернет-магазина в рамках настоящего Соглашения и элементов публичной оферты;
            br
            | 	 5.7.2. Отказаться в любое время в одностороннем порядке от исполнения настоящего Соглашения при условии оплаты фактически понесенных другой Стороной расходов по оказанию соответствующих услуг.
            br
            | 	 5.8. Права и обязанности Покупателя по настоящему Соглашению не могут быть переданы другим лицам без письменного предварительного согласия другой Стороны.
            br
            | 	 5.9. Покупатель вправе:
            br
            | 	 5.9.1. Уступать право требования по своим обязательствам третьим лицам, уведомив об этом сервис Интернет-магазина посредством пользовательского интерфейса сайта или иными возможными способами кумулятивной связи;
            br
            | 	 5.9.2. Передать обязанность по оплате оказанных Интернет-магазином услуг третьему лицу.
            br
            | 	 5.10. На Покупателя возлагается следовать не только Соглашению Интернет-магазина, но и по каждой категории приобретенного товара Соглашениями производителей. Причем ознакомление с указанными Соглашениями Покупатель производит самостоятельно.
            br
            | 	 5.11. Покупатель обязан выполнять оговоренные условия Соглашения после получения приобретенного товара. Процесс общения с информационной поддержкой, в том числе и Интернет-магазином, осуществляется исключительно по предоставленной информации для контактов на страницах сайта.
            br
            | 	 5.8. Стороны не несут ответственности за недоставку сообщений посредствам любых средств связи, в том числе электронной почтой по причине технических проблем в сети Интернет, нарушением связи, проблемами хостинга, работой антиспам-фильтров и другими причинами.
            br
            br
            b
              | 6. ФОРС-МАЖОР 
              br
            | 6.1. Стороны освобождаются от ответственности за полное либо частичное неисполнение обязательств по настоящему Соглашению, в случае если такое неисполнение было связано с действием обстоятельств непреодолимой силы, а именно: стихийных бедствий, войны, блокады, актов органов власти, влияющих на исполнение Сторонами обязательств по настоящему Соглашению, иных обстоятельств непреодолимой силы. При этом срок исполнения обязательств по настоящему Соглашению откладывается соразмерно времени, в течение которого будут действовать такие обстоятельства.
            br
            | 	 6.2. К обстоятельствам непреодолимой силы относятся события, на которые Стороны не могут оказывать влияния и за возникновение которых не несут ответственности.
            br
            | 	 6.3. В период действия непреодолимой силы и других обстоятельств, освобождающих от ответственности, обязательства Сторон приостанавливаются. Санкции за неисполнение обязательств в установленные сроки не применяются.
            br
            | 	 6.4. Сторона, для которой создалась невозможность исполнения обязательств по настоящему Соглашению, обязана незамедлительно в письменной форме информировать другую Сторону о наступлении вышеуказанных обстоятельств. Несвоевременное, свыше 10 дней, извещение о наступлении обстоятельств непреодолимой силы лишает Сторону, в отношении которой действуют такие обстоятельства, права ссылаться на них в будущем, как на причину неисполнения или ненадлежащего исполнения обязательств по настоящему Соглашению.
            br
            br
            b
              | 7. СПОРЫ СТОРОН
              br
            | 7.1. Все споры и разногласия, которые могут возникнуть по настоящему Соглашению или в связи с ним, разрешаются Сторонами путем переговоров. Все возникающие разногласия могут быть решены в рамках правил сервиса.
            br
            br
            b 8. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ 
            br
            | 	 8.1. Настоящее Соглашение вступает в силу с момента регистрации, оформления покупки и\или ознакомления с содержанием Соглашения. Заключение оферты означает, что Покупатель полностью ознакомился с условиями предоставления услуг, функционированием системы Интернет-магазина, признает безусловную её пригодность для достижения результата оказания услуг, описанных на сайте Интернет-магазина в соответствии с условиями настоящего Соглашения. При полном и безоговорочном принятии настоящей Оферты. Акцепт Оферты создает настоящие договорные отношения в рамках указанного Соглашения.
            br
            | 	 8.2. Действие настоящего Соглашения прекращается в момент отправки в адрес Интернет-магазина подписанного Покупателем документа, заменяющего все ранее достигнутые Сторонами договоренности.
            br
            br
            b 9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ 
            br
            | 	 9.1. Настоящие Соглашение составлено на русском языке и обязательно для ознакомления всеми участниками данного Соглашения.
            br
            | 	 9.2. В случае если по тем или иным причинам одно или несколько положений настоящих условий Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.

block script