extends layout/main

block variables
  -var title = 'Регистрация'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='personal__page.html' title='Личный кабинет' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Личный кабинет
            meta(itemprop='position' content='2')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Регистрация
            meta(itemprop='position' content='3')
  main.page-section.page-section_lightgray.page-registration.registration-section
    .container
      h2.section-title Регистрация
      p.section-description Заполните поля ниже и покупайте товары по отптовым ценам
      div
        .registration-block
          .registration.registration-banner
            .registration-select-form
              span.registration-select-form__title
                i.registration-select-form__i Вы
                label.registration-select-form__label.js-individual
                  input.registration-select-form_radio(value='1' type='radio' checked='checked' name='ORDER_PERSON_TYPE')
                  span.registration-select-form_span Частное лицо
                label.registration-select-form__label.js-organization
                  input.registration-select-form_radio(value='2' type='radio' name='ORDER_PERSON_TYPE')
                  span.registration-select-form_span Организация или ИП
            form.registration-form.individual(method='post' action='/personal/register/' style='display:block;')
              span.registration-form__subtitle Ваши контактные данные
              .registration-line
                .valid-group.valid-group-3
                  | Фамилия (необязательно)        
                  input.field.registration__field(type='text' data-group='name' name='PROP_1' value='')
                  span.valid
                  span.unvalid
                .valid-group.valid-group-3
                  | Имя        
                  input.field.registration__field(type='text' data-group='name' required='required' name='PROP_2' value='')
                  span.valid
                  span.unvalid
                  span.vName(style='display:none; color:red;') Введите минимум 2 символа
                .valid-group.valid-group-3
                  | Отчество (необязательно)        
                  input.field.registration__field(type='text' data-group='name' name='PROP_3' value='')
                  span.valid
                  span.unvalid
                .form-sex(style='margin-top:22px;')
                  input.form-sex__radio(type='radio' name='PROP_4' value='M' title='Мужской')
                  input.form-sex__radio(type='radio' name='PROP_4' value='W' title='Женский')
                span.msg Чтобы знать как к вам обращаться
              .registration-line
                .registration-line__div.phones_line.valid-group
                  span(style='color:white') Tel
                  input.field.dop-phone.validate(type='hidden' name='DOP_PROP_5[]')
                  input.js-phone.field.registration__field(type='tel' required='required' name='PROP_5[]' value='')
                  span.valid
                  span.unvalid
                  span.msg Мобильный телефон для подтверждения заказа
                  span.add-phone-field.js-add-phone(data-name='PROP_5[]') Добавить дополнительный телефон
                .registration-line__div.valid-group
                  | Email
                  input.field.field-email.registration__field-email(type='email' required='required' placeholder='exemple@exemple.com' name='PROP_6' value='')
                  span.valid
                  span.unvalid
                  span.vEmail(style='display:none; color:red;') Проверьте правильность ввода email
                  span.msg Для проверки статуса заказа
              input(type='hidden' name='step' value='')
              input(type='hidden' name='type' value='1')
              .registration-submit
                input.button.button__yellow(type='submit' value='Зарегистрироваться')
            form.registration-form.organization(method='post' action='/personal/register/' style='display:none;')
              span.registration-form__subtitle
                | Данные организации
              .registration-these-organizations
                div(style='display:block;')   
                span.valid-group
                  .block(style='display: inline-block;')
                    label(style='display: block;')
                      | Введите название организации, ИП или магазина: 
                      input.field.these-organizations__field(style='display: block;' type='text' name='PROP_7' value='')
                  span.valid
                  span.unvalid
                span.registration-add-bank
                  span.registration-add-bank__link
                    | Заполните реквизиты
                  |             Для удобства выставления счетов
                span.msg.mb0 Чтобы быстро найти Вас при повторном обращении
              .registration-edit-bank-container
                table.registration-edit-bank
                  tbody
                    tr
                      td
                        span.edit-bank-one-element__name Название юр лица или ИП
                      td.valid-group(colspan='3')
                        input.field.edit-bank-one-element__field(required='required' name='PROP_8' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-one-element__name Юридический адрес
                      td.valid-group(colspan='3')
                        input.field.edit-bank-one-element__field(required='required' name='PROP_9' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-two-element__name ИНН
                      td.valid-group
                        input.field.edit-bank-two-element__field(required='required' name='PROP_10' data-type='number' type='text' value='')
                        span.valid
                        span.unvalid
                      td.edit-bank-two-element-td
                        span.edit-bank-two-element__name КПП
                      td.valid-group
                        input.field.edit-bank-two-element__field(name='PROP_11' data-type='number' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-two-element__name БИК
                      td.valid-group
                        input.field.edit-bank-two-element__field(required='required' name='PROP_12' data-type='number' type='text' value='')
                        span.valid
                        span.unvalid
                      td.edit-bank-two-element-td
                        span.edit-bank-two-element__name Банк
                      td.valid-group
                        input.field.edit-bank-two-element__field(required='required' name='PROP_13' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-one-element__name К/С
                      td.valid-group(colspan='3')
                        input.field.edit-bank-one-element__field(required='required' name='PROP_14' data-type='number' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-one-element__name Р/С
                      td.valid-group(colspan='3')
                        input.field.edit-bank-one-element__field(required='required' name='PROP_15' data-type='number' type='text' value='')
                        span.valid
                        span.unvalid
                    tr
                      td
                        span.edit-bank-one-element__name Телефон
                        span.edit-bank-one-element__desc необязательно
                      td.valid-group(colspan='3')
                        input.field.edit-bank-one-element__field(name='PROP_16' type='text' value='')
                        span.valid
                        span.unvalid
              span.registration-form__subtitle Ваши контактные данные
              .registration-line
                .valid-group.valid-group-3
                  | Фамилия (необязательно)        
                  input.field.registration__field(type='text' data-group='name' name='PROP_18' value='')
                  span.valid
                  span.unvalid
                .valid-group.valid-group-3
                  | Имя        
                  input.field.registration__field(type='text' data-group='name' required='required' name='PROP_19' value='')
                  span.valid
                  span.unvalid
                  span.vName(style='display:none; color:red;') Введите минимум 2 символа
                .valid-group.valid-group-3
                  | Отчество (необязательно)        
                  input.field.registration__field(type='text' data-group='name' name='PROP_20' value='')
                  span.valid
                  span.unvalid
                .form-sex(style='margin-top: 22px;')
                  input.form-sex__radio(type='radio' checked='checked' name='PROP_21' value='M' title='Мужской')
                  input.form-sex__radio(type='radio' name='PROP_21' value='W' title='Женский')
                span.msg Что бы знать как к вам обращаться
              .registration-line
                .registration-line__div.phones_line.valid-group
                  span(style='color:white') Tel
                  input.field.dop-phone.validate(type='hidden' name='DOP_PROP_22[]')
                  input.js-phone.field.registration__field(type='tel' required='required' name='PROP_22[]' value='')
                  span.valid
                  span.unvalid
                  span.msg Мобильный телефон для подтверждения заказа
                  span.add-phone-field.js-add-phone(data-name='PROP_22[]') Добавить дополнительный телефон
                .registration-line__div.valid-group
                  | Электронная почта        
                  input.field.field-email.registration__field-email(type='email' required='required' placeholder='exemple@exemple.com' name='PROP_23' value='')
                  span.valid
                  span.unvalid
                  span.msg Для проверки статуса заказа
                  span.vEmail(style='display:none; color:red;') Проверьте правильность ввода email
              input(type='hidden' name='step' value='')
              input(type='hidden' name='type' value='2')
              .registration-submit
                input.button.button__yellow(type='submit' value='Зарегистрироваться')

block script