extends layout/main

block variables
  -var title = 'Акции'

block content
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='index.html' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/shots/' title='Акции' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Акции
            meta(itemprop='position' content='2')
  main
    section.shots-header
      .container
        h1 Горячие скидки
        p успейте купить сейчас
    include modules/banner
    .section
      .container
        .section-title-new.title
          span.section-icon.section-icon-sale
          | Горящие скидки
        .product-row
          .product-row-tags
            .selectable-tags.selectable-tags-scrollable(data-filter-target='hot-product-scroller')
              a.selectable-tag.active(data-filter='') Показать все
              a.selectable-tag(data-filter='7547') Кора лиственницы Дизайнер Цветников
          #hot-product-scroller.product-scroller.slick
            include modules/card
            include modules/card
            include modules/card
            include modules/card
            include modules/card
    .section.short-banner
      .container
        // begin docs
        .row
          .col-md-20
            a.promo-card(href='')
              img.lazy(data-src='static/images/index/17.png')
              .promo-card-overlay
                .promo-card-title Скидки для каждого
                .promo-card-desc
                .promo-card-desc Ищите себя и экономьте
          .col-md-20
            a.promo-card(href='')
              img.lazy(data-src='static/images/index/promo_card_sales.jpg')
              .promo-card-overlay
                .promo-card-title Маст Хэв
                .promo-card-desc
                .promo-card-desc
                  | Выбирайте популярные
                  br
                  | товары
          .col-md-20
            a.promo-card(href='')
              img.lazy(data-src='static/images/index/tsvetnikiru.jpg')
              .promo-card-overlay
                .promo-card-title Бренд фокус
                .promo-card-desc
                .promo-card-desc
                  | Лучшие бренды по 
                  br
                  | суперценам
    include modules/section-needhelp

block script