extends layout/main

block variables
  -var title = 'Список избранного'

block content	
  include modules/leftmenu
  .page-section.page-section_white.page-section_breadcrumbs.breadcrumbs
    .container
      .content
        ul.breadcrumbs-block(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a.breadcrumbs-item__link(href='/' title='Главная' itemprop='url')
              i.fa.fa-angle-right
              span(itemprop='name') Главная
            meta(itemprop='position' content='1')
          li.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            i.fa.fa-angle-right
            span(itemprop='name') Список избранного
            meta(itemprop='position' content='2')
  main
    .wishlist
      .container
        h2.wishlist-title Список избранного
        .product-scroller.slick
          include modules/card
          include modules/card
          include modules/card
          include modules/card
          include modules/card
      include modules/banner
      include modules/section-subscribe

block script