#top {
  z-index: 2;
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 13px;
  outline: none;
  & img{
    transform: rotate(90deg);
    margin: 4px 0 0 0;
  }
}