.title{
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  color: #363637;
}

.section{
  padding: 30px 0;
}

.about-product{
  font-size: 18px;
  line-height: 1.5;
  & p{
    text-align: justify;
  }
}

.button__yellow{
  background: #ffe153;
  border: 1px solid transparent;
  transition: .3s;
  &:hover{
    background: #ffffff;
    border: 1px solid #ffe153;
  }
}

.breadcrumbs-item{
  margin: 0;
}

.fa{
  margin: 0 10px;
}

.field-group{
  display: inline-block;
}

.intl-tel-input{
  margin-bottom: 10px;
}

.bold{
  font-weight: 700;
}

@media(max-width: 576px){
  .popup-menu{
    width: 290px;
    left: 50%;
    transform: translateX(-50%);
  }
  .title{
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }
  .small-contacts{
    text-align: center;
  }
  .about-product{
    font-size: 14px;
  }
  .leftmenu{
    width: 290px;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
  }
  .button{
    font-size: 14px;
  }
  .popup-new-actions .left-col{
    display: none;
  }
}

