@media(max-width: 992px){
  .footer{
    text-align: center;
    &-desc{
      margin-right: 0;
      text-align: justify;
    }
    & .social-link{
      &s{
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      margin: 0;
    }
    &-nav{
      & li{
        margin-bottom: 10px;
      }
    }
    & .button-accent{
      width: unset;
    }
  }
}
