.header{
  padding: 15px 0;
  &-slogan{
    & h1{
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
    }
  }
}

@media(max-width: 780px){
  .header{
    &-slogan{
      & h1{
        text-align: center;
      }
    }
    & .pull-left{
      width: 100%;
    }
    .pull-right{
      width: 100%;
    }
    &-layout-fixed{
      width: 100%;
    }
    &-callblock{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-contacts{
      text-align: center;
    }
  }
}