.home-slider{
  margin-bottom: 30px;
}

.catalog-section{
  padding: 30px 0 60px 0;
  margin-bottom: 30px;
  & .product-scroller{
    margin-bottom: 30px;
  }
}

.product-custom-inner{
  padding: 15px;
}

.favorites{
  width: 45%;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.review{
  & .reviews-slider-item{
    margin: 0 10px 0 0; 
  }
}

.product-scroller{
  & .slick-list{
    padding: 10px 0 10px 10px;
    margin: -10px 0 -10px -10px;
  }
  & .slick-prev{
    left: 5px;
  }
  & .slick-next{
    right: 5px;
  }
  & .product-custom{
    margin: 0 5px;
    &:first-child{
      margin: 0 5px 0 0;
    }
  }
}
.product-scroller .slick-track{
  height: 100%;
  margin-left: 0
}

.section-title-extras{
  width: 100%;
  display: flex;
  justify-content: space-around;
};
.service-icons-item{
  font-size: 16px;
}

.section-service{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

@media(max-width: 576px){
  .section-items{
    display: none;
  }
  .promo-start-coupon{
    padding-left: 0;
    padding: 10px;
    background: #ff2c29;
  }
  .promo-card{
    &-overlay{
      padding: 15px;
    }
    &-title{
      font-size: 22px;
    }
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &-icon{
      margin-right: 0;
    }
    &-title{
      width: 100%;
      margin-bottom: 5px;
    }
    & p {
      width: 100%;
    }
    &:last-child{
      margin-bottom: 30px;
    }
  }
  .section-features{
    &__info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .section-title-extras{
    flex-direction: column;
    align-items: center;
  }
  .need-help{
    & .callback{
      flex-direction: column;
      text-align: center;
      & .phone{
        margin-top: 27px;
      }
    }
  } 
}