.navbar{
  background: #f5f5f5;
  padding: 10px 0;
}

.navbar-cabinet{
  text-align: right;
  color: #717c98;
  line-height: 34px;
}
.navbar-cabinet .icon{
  margin-right: 5px;
}
.navbar-nav{
  margin: 0 0 1px;
  padding: 0;
  clear: both;
  & li {
    list-style: none;
    display: block;
    margin: 10px 0;
    &:first-child{
      margin: 0 10px 0 0;
    }
  }
  a {
    text-decoration: none;
    color: #515151;
    font-size: 1em;
    display: block;
    padding: 5px 0;
    border-color: #ccc;
    &:hover{
      color: #e7302d;
    }
  }
}

.navbar-cabinet a{
  color: #717c98;
}

.navbar-nav li .selectes{color: #ffe153;}

@media (max-width: 780px){
  .navbar-nav {
    margin-top: 10px;
    & li{
      width: 100%;
      & a{
        padding: 5px 0;
        font-size: 14px;
      }
    }
  }
  .navbar-cabinet a{
    font-size: 14px;
  }
}
