html {
    font-size: 16px !important;
}

.white-overlay {
    background: url('../img/rolling.svg') no-repeat center #FFF;
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_white .header-logo__text {
    letter-spacing: normal;
}

.header.header_white.header-basket .header-center {
    padding: 0;
}

.basket-item__body .title a:hover {
    text-decoration: underline;
}

.basket__result {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.basket__result span {
    font-size: 20px;
}

.ajax_container {
    position: relative;
}

a.courier_calc {
    font-size: 1.2rem;
    font-weight: normal;
    border-bottom: 1px dotted #68a8de;
}

a.courier_calc:hover {
    border-bottom: none;
}

.basket-item .size {
    position: relative;
}

.basket-item .size .errorNote {
    position: absolute;
    top: 40px;
    left: 0;
    width: 220px;
    color: red;
    font-size: 13px;
}

.delivery-item_courier select {
    position: relative;
    padding: 2px;
    margin: 0 5px;
    border-radius: 5px;
    top: 1px;
}

.header:before, .header:after {
    display: none;
}

body.page-catalog-category .breadcrumbs-block,
body.page-catalog-category-video .breadcrumbs-block {
    margin-bottom: 0;
}

body .header-bg {
    overflow: hidden;
}

body .header-bg img {
    min-width: 100%;
    height: inherit;
    min-height: 100%;
    /*object-fit: fill;*/
}

body .city-quastion:before {
    left: 10px;
}

.bx-touch body .city-quastion {
    right: inherit;
    left: 0;
}

.bx-touch body .city-quastion:before {
    right: 10px;
    left: inherit;
}

.help-block__title {
    font-weight: bold;
}

// body .popup {
//     top: inherit;
//     position: absolute;
// }

.popup-buy-fast .confirm {
    position: relative;
    margin-bottom: 5px;
}

.popup-buy-fast .accept {
    position: absolute !important;
    top: 0;
    left: 0;
}

.popup-buy-fast .label-accept {
    font-size: 11px;
    font-weight: 700;
    font-family: "Exo 2", Arial, sans-serif;
    color: #71747f;
    display: inline-block;
    padding-left: 30px;
}

// .popup-callback .intl-tel-input {
//     margin: 0 0 10px 0;
// }

body .filter-simptoms {
    padding-bottom: 20px;
}

body .product-filter-footer {
    padding-top: 25px;
    padding-bottom: 30px;
}

.product-filter-body .selectbox__dropdown {
    left: 5px;
    right: 5px;
}

.product-filter-header .label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.product-filter-header.others-num-filter {
    padding-top: 0;
}

.product-filter-body_left, .product-filter-header_left {
    max-width: 290px;
}

.product-filter-body_right, .product-filter-header_right {
    max-width: 520px;
}

.product-item-block-wrapper .item-title:hover,
.product-item-block-wrapper .list-item-content__title:hover,
.product-item-block-wrapper .table-item-title:hover,
.product-item-block-wrapper .item-popular-content__title:hover,
.popup-basket-container .name a:hover,
.sentence-item-content__title a:hover,
.section-slider-list .item-title:hover {
    text-decoration: underline;
    color: #e02a29;
}

body .breadcrumbs-item {
    display: inline;
}

.page-catalog-category-video #page-section_adventages {
    padding-bottom: 30px;
}

.section-product-item-block .show-more {
    margin-bottom: 0;
}

.pagination {
    margin-top: 30px;
}

.list-item-image__photo {
    max-width: 200px;
    max-height: 220px;
}

.card-items-wrapper .item-title {
    height: 50px;
    overflow: hidden;
}

body .table-item-price {
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 10px;
}

.table-item-image__photo {
    max-height: 45px;
}

.products-right-side.is-search {
    width: 100%;
}

.products-right-side.is-search .card-item {
    max-width: 188px;
}

.products-right-side.is-search .card-items-wrapper .card-item-wrapper:nth-child(-n+5) .card-item {
    border-top: 1px solid #e2e7f0;
}

.card-item-image {
    margin-top: 10px;
    padding: 0 5px;
}

.card-item-image__photo {
    max-height: 100%;
}

body .list-item-content-price__item .your-condition {
    width: 130px;
}

.popup-buy-fast.popup-buy-full .accept {
    position: relative !important;
    top: inherit;
    left: inherit;
    z-index: 9999;
}

.popup-buy-fast.popup-buy-full .label-accept {
    font-weight: normal;
    left: 0;
}

.left-catalog-menu_left .left-catalog-header-submenu3__link {

    font-size: 15px;
}

.left-catalog-block__submenu_li.active > .left-catalog-header-submenu1__link,
.hasSub.active > .left-catalog-header-submenu2__link {
    color: #e41d00;
}

.left-catalog-block__submenu_li a:hover {
    color: #e41d00;
    text-decoration: underline;
}

.list-item-content-footer .button-like {
    margin-left: 9px;
}

.popup-buy-full .jq-checkbox.checked .jq-checkbox__div {
    margin-top: -14px;
}

.popup-buy-full {
    margin-left: -365px;
}

.popup-buy-full .popup-header .order-items .popup-buy-full_image {
    max-height: 100%;
}

.selectbox__dropdown-items {
    max-height: 380px;
    overflow-y: auto;
}

.page-catalog-category .video-body .video-body-wrapper {
    flex-wrap: wrap;
}

body .basket-nav__link::after {
    border-left-width: 27px;
}

body .basket-nav__link:not(:first-child)::before {
    border-left-style: outset;
    border-left-color: #f6f8f9;
}

body .basket-nav__link.is-check:not(:first-child)::before {
    border-left-color: rgb(249, 213, 126);
}

body .order-header__number {
    width: 97px;
}

.catalog-block-navigation__link.hover {
    background-color: #fbcc3f;
    border-bottom: 0;
    color: #000;
}

body .catalog-block__item_2 {
    min-height: 0;
}

.center-container,
.center-container-headers {
    background: #FFF;
}

.left-catalog-block__item_4 {
    display: none;
}

.left-catalog-menu_left .left-catalog-block__item_4 {
    margin: 15px 0 0 5px;
}

.left-catalog-header-submenu3__link.active + .left-catalog-block__item_4 {
    display: block;
}

.left-catalog-menu_left .show-list-more:after {
    display: none;
}

.left-catalog-block__item_4 .show-list-more.more-chars {
    margin-bottom: 20px;
}

.header_white .top-menu__link.top-menu__link_delivery {
    margin-right: 55px;
}

.sentence-item-content__title {
    min-height: 36px;
    text-align: center;
}

body .question-block-body .question-item-wrapper {
    justify-content: flex-start;
}

.card-items-wrapper {
    width: 100%;
}

body .card-item-image .sale-time {
    width: 92%;
}

body .sale-time .js-time .countdown-item:last-child .countdown-item-time:after {
    display: none;
}

body .sale-time .js-time .countdown-item-time {
    font-size: 14px;
}

body.page-basket .city-list {
    position: absolute;
}

.header-bottom__left.fullWidth {
    width: 100%;
}

.header-bottom__right.hiddenBlock {
    display: none;
}

.header-middle .content {
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.item-price_old.no-through {
    text-decoration: none;
}

.slick-slider .card-item-footer .button {
    max-width: 140px;
    width: 135px;
}

body.page-catalog-category .header-bg-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-catalog-category .section-slider-list {
    margin-bottom: 60px;
}

.page-catalog-category .section-slider-list .card-item-wrapper {
    width: inherit;
    height: inherit;
    display: block;
}

.page-catalog-category .section-slider-list .card-item-wrapper .card-item {
    max-width: none;
    width: auto;
}

.page-product .category-viewed-slider {
    width: 100%;
}

.page-product .section-slider-list {
    width: 100%;
}

.page-product .section-slider-list .card-item-wrapper {
    height: auto;
}

.page-product .section-slider-list h4.section-title {
    font-size: 25px;
    text-align: left;
    padding-left: 35px;
}

.page-product .section-slider-list h4.section-title:after {
    left: 35px;
    margin-left: 0;
}

body .section-slider-list .slick-prev,
body .section-slider-list .slick-next {
    margin-top: -25px;
}

.basket__result, .basket__result_coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket__result_coupon input {
    height: 36px;
    width: 228px;
    margin-right: 10px;
}

.coupon_input_bad {
    border-color: red;
}

.coupon_input_good {
    border-color: green;
}

.header-basketn {
    cursor: pointer;
}

body .product-image {
    position: relative;
}

body .product-image .product-image-preload {
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

body .product-image__photo {
    position: relative;
}

body .product-image__photo.others-photo {
    display: none !important;
}

.delivery-item .item-city .field__city {
    width: 525px;
}

body .delivery-item .item-city {
    justify-content: flex-start;
}

body .order-item__status .status-item {
    padding-bottom: 2px;
    padding-top: 2px;
    height: auto;
    min-height: 24px;
}

body .order-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

body .order-item-header {
    height: auto;
}

.catalog-block-wrapper .icon-dom,
.catalog-block-wrapper .icon-banya {
    content: '';
    position: relative;
    background-image: url(../img/dom.png);
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
    left: 20px
}

.catalog-block-wrapper .icon-banya {
    background-image: url(../img/banya.png);
    left: 17px;
}

/*body .section-social .social-wrapper .social-item{
    width: 50%;
    max-width: 450px;
}*/
.actions-slider {
    width: 940px;
    border-left: 1px solid #e2e7f0;
    margin-left: 10px;
}

.actions-slider.more-then-5 {
    border-right: 1px solid #e2e7f0;
}

body .sentence-item {
    flex-basis: 170px;
    max-width: 170px;
}

.sentence-item-image {
    text-align: center;
}

body .sentence-item-image__photo {
    max-width: 90%;
}

.sliders-block .slick-slider {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.profile-header-image__photo img {
    max-width: none;
    border-radius: 50%;
}

body .popup-support textarea.textarea {
    min-height: 200px;
}

body .catalog-block-wrapper .icon-arrow-link {
    right: 10px;
}

body .catalog-block-wrapper .icon-lopata,
body .catalog-block-wrapper .icon-dom,
body .catalog-block-wrapper .icon-banya,
body .catalog-block-wrapper .icon-drel {
    left: 10px;
}

body.page-home .header-bg-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body .about-product {
    max-height: none;
}

.whatsapp-icon {
    position: fixed;
    bottom: -5px;
    right: 25%;
    z-index: 9999;
}

.whatsapp-icon img {
    transition: 0.5s;
}

.whatsapp-icon img.hidden {
    display: none;
}

.whatsapp-icon:hover img {
    display: none;
}

.whatsapp-icon:hover img.hidden {
    display: inline;
}

.bx-touch .whatsapp-icon img {
    display: none;
}

.bx-touch .whatsapp-icon img.hidden {
    display: inline;
}

.css-youtubeLink {
    position: relative;
}

.css-youtubeLink:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 40px;
    margin-left: -35px;
    margin-top: -20px;
    content: '';
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/youtube-btn.png');
}

.product-deliveries {
    margin-left: 30px;
    margin-bottom: 30px;
}

.product-deliveries-title {
    margin-bottom: 10px;
}

.product-deliveries-list-item {
    margin-bottom: 10px;
    color: #000;
    font-family: "Exo 2";
    font-size: 15px;
    line-height: 20px;
}

.product-deliveries-list-item a {
    text-decoration: underline;
}

.product-deliveries-list-item a:hover {
    text-decoration: none;
}

.icon-wrapper {
    display: inline-block;
    width: 40px;
    text-align: center;
    transform: translateY(7px);
    margin-right: 10px;
}

.product-deliveries-list-item .icon.self-delivery {
    background-image: url(../img/icon-delivery5.png);
    background-size: cover;
    width: 35px;
    height: 25px;
}

.product-deliveries-list-item .icon.courier {
    background-image: url(../img/icon-delivery4.png);
    background-size: cover;
    width: 38px;
    height: 25px;
}

.product-deliveries-list-item .icon.pickup {
    background-image: url(/local/templates/main/build/img/new-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 25px;
}

.product-deliveries-list-item .icon.pecom {
    background-image: url(../img/icon-delivery6.png);
    background-size: cover;
    width: 38px;
    height: 25px;
}

.min-len-4 .irs-from,
.min-len-4 .irs-from {
    transform: translateX(5px);
}

.max-len-4 .irs-to {
    transform: translateX(-10px);
}

.max-len-5 .irs-to {
    transform: translateX(-15px);
}

.max-len-6 .irs-to {
    transform: translateX(-20px);
}

body .product-image__photo {
    min-width: 300px;
}

.section-photogallery .photogallery__item {
    max-width: 208px;
    height: 208px;
}

.bx-touch .page-basket .breadcrumbs .content {
    width: unset;
}

.js-search-block {
    position: relative;
}

.header-search-block-button {
    display: block;
    position: absolute;
    right: 1%;
    top: 13px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(../images/icon-search.png) no-repeat;
}

.feature-icon-loyal {
    background: url(../images/icon-feature-loyal.png) no-repeat;
}

.feature-icon-zakaz {
    background: url(../images/icon-feature-zakaz.png) no-repeat;
}

.menu-link-button-more a {
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    color: #18191c;
    width: 137px;
    margin-left: 15px;
    background: #ffe153;
    border-color: transparent;
    margin-top: 10px;
}

.menu-link-button-more a:hover {
    border-color: #ffe153;
    background: transparent;
    color: #18191c;
    text-decoration: none !important;
}

.menu-link-button-more a:hover span {
    text-decoration: none !important;
}

.input-search {
    background: none;
}

.main-home .links-block.with-bg {
    background-repeat: no-repeat;
    background-position: 100% 50px;
    padding-right: 5em !important;
}

.mainpage-section-icon img {
    max-height: 30px;
    transform: translateY(-3px);
}
.promo-card-title{
    font-size: 1.6rem;
}
@media (min-width: 1300px){
    body .promo-card-overlay {
        padding-top: 2em;
    }
}
body .links-block-title{
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
}