.catalog-new {
    padding-top: 30px;
    margin-bottom: 50px;
}

.catalog-new-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.catalog-new .catalog-menu {
    background: #fafafa;
    border: 1px solid #dcdcdc;
    padding: 0 40px;
    margin-bottom: 30px;
}

.catalog-new .catalog-menu .menu-title {
    font-size: 14px;
    color: #838487;
    text-align: center;
    padding: 18px 5px;
    margin: 0 -17px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 25px;
}

.catalog-menu-block {
    margin-bottom: 30px;
}

.catalog-menu-block .menu-block-title {
    font-size: 15px;
    color: #18191c;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.catalog-menu-block .menu-block-title:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/img/cat_menu_arrow.png);
    width: 12px;
    height: 8px;
    left: -20px;
    top: 7px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block .menu-block-title.active:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.catalog-menu-block .menu-block-content {
    /*    display: none;*/
}

.catalog-menu-block .menu-block-content {}

.catalog-menu-block.selected .menu-block-content {
    display: block;
}

.catalog-menu-block .filter-interval {
    margin-bottom: 17px;
}

.catalog-menu-block .filter-interval .ui-slider {
    height: 16px;
    position: relative;
    margin-right: 0;
    background: transparent;
    border: 0;
    margin-bottom: 10px;
}

.catalog-menu-block .filter-interval .ui-slider:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #e5e5e5;
    position: absolute;
    top: 50%;
}

.catalog-menu-block .filter-interval .ui-slider-range {
    height: 3px;
    background: #ffe153;
    position: absolute;
    top: 50%;
}

.catalog-menu-block .filter-interval .ui-slider-handle {
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    background: #fff;
    border: 1px solid #c4c4c4;
    top: 2px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
}

.catalog-menu-block .filter-interval .ui-slider-handle:focus {
    border-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13);
}

.catalog-menu-block .filter-interval .inputDiv {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.catalog-menu-block .filter-interval .range {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.catalog-menu-block .filter-interval label {
    margin-right: 3px;
    font-size: 15px;
    color: #18191c;
}

.catalog-menu-block .filter-interval input {
    height: 30px;
    width: 58px;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    padding-left: 8px;
    font-size: 15px;
    color: #18191c;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block .filter-interval input:hover,
.catalog-menu-block .filter-interval input:focus {
    border-color: #087a37;
}

.catalog-menu-block .menu-block-content .jq-radio {
    display: none !important;
}

.catalog-menu-block .menu-block-content .radio-block .jq-radio {
    display: inline-block !important;
    border: 1px solid #a29f9f;
}

.catalog-menu-block .radio-block {
    padding-left: 10px;
}

.catalog-menu-block .radio-block label {
    display: block;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
    color: #5c5f67;
    font-weight: 300;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block .radio-block label span {
    color: #c9c9c9;
}

.catalog-menu-block .radio-block label:hover {
    color: #e13c39;
}

.catalog-menu-block .radio-block .jq-radio {
    height: 18px;
    width: 18px;
    border: 2px solid #e0e0e0;
    background: #fff;
    position: relative;
    top: -1px;
    margin-right: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block .radio-block .jq-radio:hover {
    border-color: #666;
}

.catalog-menu-block .radio-block .jq-radio.checked {
    background-color: #ffe153;
    /*! border: 1px solid; */
}

.catalog-menu-block .radio-block .jq-radio .jq-radio__div {
    height: 6px;
    width: 6px;
    background: #888888;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block .radio-block .jq-radio.checked .jq-radio__div {
    opacity: 1;
}

.catalog-menu-block ul {
    margin: 0;
    padding: 0;
}

.catalog-menu-block li {
    margin: 0 -30px 6px -5px;
    list-style-type: none;
    line-height: 1.4;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block li a {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #27292d;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block li a:hover {
    color: #e7302d;
}

.catalog-menu-block li a span:first-child {
    border-bottom: 1px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-menu-block li a:hover span:first-child {
    border-color: #e7302d;
}

.catalog-menu-block li label input {
    display: none;
}

.catalog-menu-block li label .jq-checkbox {
    display: none !important;
}

.catalog-menu-block li:hover span:first-child,
.catalog-menu-block li label.active span:first-child {
    color: #e7302d;
    border-color: #e7302d;
}

.catalog-menu-block li span:last-child {
    color: #c9c9c9;
    font-size: 15px;
    /*    margin-left: 6px;*/
}

.catalog-menu-block li.active a {
    background: #dcdcdc;
}

.catalog-menu-block li.active span:last-child {
    display: none;
}

.catalog-menu-block li.active:hover span:first-child {
    color: #27292d;
    border-color: transparent;
}

.catalog-menu-block li.active a {
    background: #dcdcdc;
}

.catalog-menu-block li.active a:hover {
    background: #dcdcdc !important;
    color: #27292d;
}

.catalog-menu-block li.active a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/img/x.png);
    width: 7px;
    height: 7px;
    position: relative;
    top: -4px;
}

.catalog-feedback {
    padding: 28px;
    border: 2px solid #ffe153;
}


.catalog-feedback .catalog-feedback-title {
    font-size: 18px;
    color: #18191c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.catalog-feedback .catalog-feedback-caption {
    text-align: center;
    color: #6f6f70;
    display: 10px;
    margin-bottom: 17px;
}

.catalog-feedback input:not([type="submit"]) {
    height: 40px;
    padding: 0 17px;
    border: 1px solid #e4e6ef;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 6px;
}

.catalog-feedback input:not([type="submit"]).error {
    border-color: red;
}

.catalog-feedback input[type="submit"] {
    height: 40px;
    display: block;
    margin: 13px auto;
    width: 122px;
    text-align: center;
    border: 2px solid #ffe153;
    font-size: 15px;
    color: #1e1d1d;
    border-radius: 3px;
    background: #fff;
    outline: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-feedback input[type="submit"]:hover {
    background: #ffe153;
}

.catalog-feedback .accept {
    padding-left: 28px;
    position: relative;
    color: #8f9194;
    font-size: 12px;
    line-height: 1.6;
}

.catalog-feedback .accept label {
    display: block;
    cursor: pointer;
}

.catalog-feedback .accept.error {
    color: red;
}

.catalog-feedback .accept .jq-checkbox {
    position: absolute !important;
    left: 3px;
    top: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
    background: #fff;
    position: relative;
}

.catalog-feedback .accept .jq-checkbox .jq-checkbox__div {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    background: url(../images/img/chk.png) !important;
    width: 8px;
    height: 6px;
    opacity: 0;
    margin: 0 !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-feedback .accept .jq-checkbox.checked .jq-checkbox__div {
    opacity: 1;
}

.catalog-feedback a {
    color: #4f68bf;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.catalog-feedback a:hover {
    border-color: transparent;
}

.products-block {}

.products-block .filter-tags {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
}

.products-block .filter-tag {
    background: #dcdcdc;
    font-weight: 300;
    font-size: 15px;
    color: #27292d;
    padding: 0 5px;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.products-block .filter-tag:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../images/img/x.png);
    width: 7px;
    height: 7px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

.products-block .clear-tags {
    cursor: pointer;
    font-size: 14px;
    color: #3a58ba;
    margin-bottom: 15px;
}

.products-block .filter-cats {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.products-block .filter-cat {
    height: 40px;
    line-height: 36px;
    border: 2px solid #e9ebf1;
    border-radius: 36px;
    font-size: 15px;
    color: #18191c;
    position: relative;
    cursor: pointer;
    padding: 0 25px;
    text-decoration: none !important;
    margin: 0 10px 10px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-cats > .filter-cat:nth-child(n + 5) {
    display: none !important;
}

.products-block .filter-cat.active {
    border-color: #ffe153;
    background: #ffe153 !important;
}

.products-block .filter-cat:hover {
    border-color: #ffe153;
}

.products-block .clear-cat {
    flex-grow: 1;
    text-align: right;
    position: relative;
    top: -4px;
}

.products-block .clear-cat i {
    font-size: 14px;
    color: #3a58ba;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
}

.products-block .clear-cat i:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    background: url(../images/img/prod-filter-arrow.png);
    width: 9px;
    height: 6px;
    margin-left: 5px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .clear-cat.active i:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.products-block .clear-cat.active i {
    font-size: 0;
}

.products-block .clear-cat.active i:before {
    content: 'Свернуть';
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.products-block .custom-cats-block {
    width: 100%;
    display: none;
    z-index: 10;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .custom-cats-block.active {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.products-block .custom-cats-block a {}

.products-block .filter-views {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 30px;
}

.products-block .filter-sort {
    font-size: 15px;
    color: #555659;
    font-weight: 300;
    margin-right: 20px;
    position: relative;
}

.products-block .filter-sort span {
    color: #3a58ba;
    display: inline-block;
    cursor: pointer;
    min-width: 180px;
}

.products-block .filter-sort span:after {
    content: '';
    display: inline-block;
    background: url(../images/img/prod-filter-arrow.png);
    width: 9px;
    height: 6px;
    position: relative;
    top: -1px;
    margin-left: 5px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-sort.active span:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.products-block .filter-sort .radio-block {
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 17px;
    border: 1px solid #d0d0d0;
    margin-top: 11px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-sort.active .radio-block {
    opacity: 1;
    visibility: visible;
}

.products-block .filter-sort .radio-block:before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 11px solid #d0d0d0;
}

.products-block .filter-sort .radio-block:after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 11px solid #fff;
}

.products-block .filter-group {
    font-size: 15px;
    color: #555659;
    font-weight: 300;
    margin-right: 20px;
    position: relative;
}

.products-block .filter-group span {
    color: #3a58ba;
    display: inline-block;
    cursor: pointer;
}

.products-block .filter-group span:after {
    content: '';
    display: inline-block;
    background: url(../images/img/prod-filter-arrow.png);
    width: 9px;
    height: 6px;
    position: relative;
    top: -1px;
    margin-left: 5px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-group.active span:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.products-block .filter-group .radio-block {
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 17px;
    border: 1px solid #d0d0d0;
    margin-top: 11px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-group.active .radio-block {
    opacity: 1;
    visibility: visible;
}

.products-block .filter-group .radio-block:before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 11px solid #d0d0d0;
}

.products-block .filter-group .radio-block:after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 11px solid #fff;
}

.products-block .radio-block label {
    display: block;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 8px;
    color: #5c5f67;
    font-weight: 300;
    padding: 3px 0 3px 12px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.products-block .radio-block label.filter_sort_label{}
.products-block .radio-block label.filter_sort_label .filter_sort_input{user-select: none;display: inline-block;position: relative;}

.products-block .radio-block label:hover {
    background-color: #e7e5e5;
}

.products-block .radio-block .jq-radio {
    height: 18px;
    width: 18px;
    border: 2px solid #e0e0e0;
    background: #fff;
    position: relative;
    top: -1px;
    margin-right: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .radio-block .jq-radio:hover {
    border-color: #666;
}

.products-block .radio-block .jq-radio.checked {
    background-color: #ffe153;
}

.products-block .radio-block .jq-radio .jq-radio__div {
    height: 6px;
    width: 6px;
    background: #888888;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .radio-block .jq-radio.checked .jq-radio__div {
    opacity: 1;
}

.products-block .filter-view {
    flex-grow: 1;
    text-align: right;
    font-size: 15px;
    color: #7a7d86;
}

.products-block .filter-view-var {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-left: 20px;
}

.products-block .filter-view-var img {
    display: inline-block;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.products-block .filter-view-var img + img {
    margin-left: 15px;
}

.products-block .filter-view-var img.active {
    opacity: 1;
}

.products-custom {
    margin-bottom: 55px;
}

.products-custom .card-items-wrapper {
    border: 0;
    /*    display: block;*/
}

.products-custom .card-items-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.product-custom {
    width: 24%;
    max-width: 230px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom .product-custom-inner {
    padding: 15px;
    border: 1px solid #e9ebf1;
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-custom:hover .product-custom-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    z-index: 1;
}

.product-custom .product-custom-inner:hover .product-item-title .ellipsis-ellipse {
    display: none;
}

.product-custom .product-custom-inner:hover .product-item-title .ellipsis-cut {
    display: inline;
}

.product-custom .image {
    width: 100%;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    min-height: 200px;
}

.product-custom .image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
}

.product-custom .sale-time {
    height: 28px;
    border-radius: 15px;
    color: #fff;
    width: 105px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    justify-content: center;
    margin: 0 auto;
}

.product-custom .sale-time__end {
    display: none;
}

.product-custom .sale-time .countdown-item {}

.product-custom .sale-time .countdown-item span {
    font-family: 'Exo 2', 'Arial', sans-serif !important;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.product-custom .sale-time .countdown-item span:after {
    padding: 0 3px !important;
    top: 0 !important;
}

.product-custom .title {
    line-height: 1.4;
    margin-bottom: 10px;
    min-height: 62px;
}

.slick-slide .product-custom .title {
    margin-bottom: 20px;
}

.product-custom .title a {
    display: block;
    height: 80px;
    text-decoration: none;
    font-size: 15px;
    color: #18191c;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom .title a:hover {
    color: #e7302d;
    text-decoration: underline;
}

.product-custom .rating-custom {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.slick-slide .product-custom .rating-custom {
    /*    padding-top: 20px;*/
}

.product-custom .stars-custom img {
    display: inline;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.product-custom .available-custom {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.product-custom .available-custom:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #7fca6d;
    margin-right: 5px;
}

.product-custom .available-custom.not-available:before {
    background: #e7302d;
}

.product-custom .available-custom.under-order:before {
    background: #b9b9b9;
}

.product-custom .discount {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(../images/img/percent.jpg);
    width: 28px;
    height: 27px;
    z-index: 9;
}

.product-custom .price-custom {
    display: flex;
    flex-direction: column;
    height: 44px;
    margin-bottom: 15px;
}

.product-custom .price-custom-inner {
    width: 100%;
}

.product-custom .price-custom {
    font-family: 'Exo 2', sans-serif;
}

.product-custom .price-custom span {
    display: block;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 18px;
    color: #18191c;
}
.product-custom .price-custom span.item-price_old{font-size: 13px;color: #a8b1c4;}

.product-custom .price-custom small {
    display: block;
    color: #7e8086;
    font-size: 12px;
    text-decoration: line-through;
}

.product-custom .btns-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-custom .quantity {
    width: 45%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: space-around;
}

.product-custom .quantity button {
    width: 17px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom .quantity button:hover {
    opacity: .5;
}

.product-custom .quantity .minus {
    background: url(../images/img/minus.png) no-repeat right center transparent;
}

.product-custom .quantity .plus {
    background: url(../images/img/plus.png) no-repeat left center transparent;
}

.product-custom .quantity input[type=text] {
    width: 30px;
    font-size: 14px;
    color: #18191c;
    border: 0;
    text-align: center;
}

.product-custom .btns-block .cart {
    margin-top: 10px;
    width: 100%;
}

.product-custom .btns-block .cart a {
    background: transparent;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #202023;
    line-height: 38px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    text-decoration: none !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.product-custom .btns-block .subscribe{margin: auto;}
.product-custom .btns-block .subscribe a {
	background: transparent;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #202023;
	line-height: 38px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	text-decoration: none !important;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	padding: 0 14px;
}
.product-custom .btns-block .subscribe a:hover {
	background: #ffe153;
}
.product-custom .btns-block .cart a:hover {
    background: #ffe153;
}

.product-custom .btns-block .cart a:before {
    content: '';
    display: inline-block;
    background: url(../images/img/cart.png);
    width: 14px;
    height: 14px;
    position: relative;
    margin-right: 10px;
}

.product-custom-more {
    margin-top: 10px;
    height: 55px;
    line-height: 55px;
    width: 100%;
    background: #e8e8e8;
    text-align: center;
    font-size: 16px;
    color: #18191c;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom-more:hover {
    background: #ffe153;
}

.product-custom-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
}

.product-custom-nav .product-custom-pag {}

.product-custom-nav ul {
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.product-custom-nav li {
    list-style-type: none;
    display: block;
    margin-right: 10px;
}

.product-custom-nav li span {
    display: block;
    font-size: 15px;
    color: #202023;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #ffe153;
}

.product-custom-nav li:not(.btn) a {
    display: block;
    font-size: 15px;
    color: #202023;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #fafafa;
    text-decoration: none !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom-nav li:not(.btn) a:hover {
    background: #ffe153;
}

.product-custom-nav li.btn a {
    display: block;
    text-decoration: none !important;
    height: 40px;
    line-height: 36px;
    font-size: 15px;
    color: #202023;
    padding: 0 15px;
    border: 2px solid #ffe153;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom-nav li.btn a:hover {
    background: #ffe153;
}


.product-custom-nav .num-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

}

.product-custom-nav .num-list a {
    padding: 0 5px;
}

.product-custom-nav .num-list a + a {
    margin-left: 5px;
}

.product-custom-nav .label {
    font-size: 16px;
    color: #18191c;
    font-weight: 300;
    margin: 0;
    margin-right: 10px;
}

.product-custom-nav .num {
    margin-left: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.product-custom-nav .num span,
.product-custom-nav .num-list a {
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none !important;
    font-weight: 300;
    color: #3a58ba;
    font-weight: normal !important;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.product-custom-nav .num-list a:hover,
.product-custom-nav .num-list a.active {
    border-color: #c4c4c4;
    color: #18191c;
}

.product-custom-nav .pereference-view__item_active {
    border-color: #c4c4c4 !important;
    color: #18191c !important;
    background: transparent !important;
}

.content-custom {
    font-size: 17px;
    color: #5c5f67;
    margin: 55px 0 20px 0;
}

.photo-gallery-custom {
    margin: 20px 0 20px 0;
}

.content-custom p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.content-custom a {
    text-decoration: none !important;
    color: #2a57d0;
    border-bottom: 1px solid transparent;
}

.content-custom a:hover {
    color: #2a57d0;
}

.content-custom h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
    color: #363637;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.photo-gallery-custom {
    margin-bottom: 60px;
}

.photo-gallery-custom .title-custom {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 30px;
}

.photo-gallery-custom .items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery-custom a {
    margin-bottom: 20px;
    height: 240px;
    overflow: hidden;
    width: 23.23232323232323%;
    -webkit-background-size: cover;
    background-size: cover;
}

.photo-gallery-custom img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.video-gallery-custom {
    margin-top: 60px;
}

.video-gallery-custom .title-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 30px;
}

.video-gallery-custom .title-custom span {
    font-size: 16px;
    font-weight: 300;
    color: #76777b;
}

.video-gallery-custom img {
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
    top: -2px;
}

.video-gallery-custom .items {
    /*display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    */
}

.video-gallery-custom .item {
    width: 45%;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 270px;
    float: left;
}

.video-gallery-custom iframe {
    width: 100% !important;
    height: 100% !important;
}

.related-custom,
.recommended-custom {
    margin-bottom: 30px;
}

.related-custom h2,
.recommended-custom h2 {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 30px;
}

.recommended-custom h2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url(../images/img/last.png) no-repeat center center;
    width: 44px;
    height: 31px;
    position: relative;
    top: -3px;
}

.related-custom h2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: url(../images/img/recomm.png) no-repeat center center;
    width: 44px;
    height: 31px;
}

.related-custom-slider .slick-list,
.recommended-custom-slider .slick-list {
    padding-bottom: 30px;
    margin-right: -1px !important;
}

.related-custom-slider .slick-arrow,
.recommended-custom-slider .slick-arrow {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.related-custom-slider .slick-arrow:hover,
.recommended-custom-slider .slick-arrow:hover {
    opacity: .5;
}

.related-custom-slider .slick-prev,
.recommended-custom-slider .slick-prev {
    background-image: url(../images/img/arrow-left.png);
}

.related-custom-slider .slick-next,
.recommended-custom-slider .slick-next {
    background-image: url(../images/img/arrow-right.png);
}

.related-custom-slider .slick-slide,
.recommended-custom-slider .slick-slide {
    margin-right: -1px;
}

.related-custom-slider .product-custom,
.recommended-custom-slider .product-custom {
    width: 100%;
    position: relative;
    margin: 0;
}

.related-custom-slider .product-custom .image,
.recommended-custom-slider .product-custom .image {
    height: 168px !important;
}

.related-custom-slider .slick-slide img,
.recommended-custom-slider .slick-slide img {
    display: inline-block !important;
}

.related-custom-slider .product-custom .price-custom,
.recommended-custom-slider .product-custom .price-custom {
    height: 44px;
}

.need-help {
    padding: 50px 0;
    background: url(../images/img/need-help.jpg) no-repeat #fafafa;
    background-position: center center;
}

.need-help .text {
    font-size: 15px;
    color: #5c5f67;
    margin-bottom: 20px;
}

.need-help .callback {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.need-help .btn {
    margin-right: 25px;
    padding: 0;
}

.need-help .btn a {
    display: block;
    text-decoration: none !important;
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    border: 2px solid #ffe153;
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.need-help .btn a:before {
    content: '';
    display: inline-block;
    background: url(../images/img/callback.png);
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.need-help .btn a:hover {
    background: #ffe153;
}

.need-help .phone a {
    position: relative;
    top: 1px;
    font-family: 'Exo 2.0', 'Arial', sans-serif;
    display: block;
    text-decoration: none !important;
    font-size: 22px;
    color: #161616;
    font-weight: bold;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.need-help .phone a:hover {
    opacity: .5;
}

.faq-custom {
    margin-bottom: 60px;
}

.faq-custom .title-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.faq-custom h2 {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 0;
}

.faq-custom h2:before {
    content: '';
    display: inline-block;
    background: url(../images/img/faq.png);
    width: 7px;
    height: 31px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.faq-custom .title-custom .btn a {
    display: block;
    text-decoration: none !important;
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    border: 2px solid #ffe153;
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.faq-custom .title-custom .btn a:before {
    content: '';
    display: inline-block;
    background: url(../images/img/faq-btn.png);
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.faq-custom .title-custom .btn a:hover {
    background: #ffe153;
}

.faq-custom .faq-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.faq-custom .faq-inner {
    border: 1px dashed #d0d0d0;
}

.faq-custom .faq-block {
    width: 50%;
}

.faq-custom .faq-block {
    padding: 33px 5px 33px 33px;
}

.faq-custom .faq-block + .faq-block {
    border-left: 1px dashed #d0d0d0;
}

.faq-custom .faq-block .faq-title {
    font-weight: bold;
    font-size: 20px;
    color: #38393a;
    margin-bottom: 30px;
}

.faq-custom .faq-content-title {
    font-size: 18px;
    font-weight: bold;
    color: #38393a;
    margin-bottom: 15px;
}

.faq-custom .accordeon {
    margin-bottom: 15px;
}

.faq-custom .acc-head {
    font-weight: 500;
    cursor: pointer;
    color: #3a58ba;
    font-size: 18px;
    margin-left: 16px;
    position: relative;
    margin-bottom: 15px;
    /*    display: inline-block;*/
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.faq-custom .acc-head:hover,
.faq-custom .acc-head.active {
    /*    border-color: #3a58ba;*/
}

.faq-custom .acc-head span {
    /*    border-bottom: 1px dashed transparent;*/
    position: relative;
}

.faq-custom .acc-head:hover span,
.faq-custom .acc-head.active span {
    /*        border-color: #3a58ba;*/
}

.faq-custom .acc-head:before {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    position: absolute;
    left: -16px;
    top: 9px;
    background: url(../images/img/faw-arrow.png);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.faq-custom .acc-head.active:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.faq-custom .acc-head span:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: -1px;
    background: url(../images/img/dashed.png) repeat-x;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.faq-custom .acc-head:hover span:after,
.faq-custom .acc-head.active span:after {
    opacity: 1;
}

.faq-custom .acc-body {
    display: none;
    padding: 5px 16px 20px;
}

.faq-custom .faq-more a {
    color: #18191c;
    font-size: 15px;
    text-decoration: none !important;
}

.faq-custom .faq-more a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 10px;
    background: url(../images/img/cat_menu_arrow.png) no-repeat center center #efefef;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.faq-custom .faq-more a:hover:after {
    background-color: #ffe153;
}

.faq-custom .faq-more a:hover:after {
    background-color: #ffe153;
}

.faq-custom .faq-more a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.faq-custom .faq-more a.active span:first-child:nth-child(1) {
    display: none;
}

.faq-custom .faq-more a span:nth-child(2) {
    display: none;
}

.faq-custom .faq-more a.active span:last-child {
    display: inline;
}

.faq-custom .faq-custom-hidden {
    display: none;
}

.articles-custom {
    background: #fafafa;
    padding: 60px 0;
    margin-bottom: 60px;
}

.articles-custom .title-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.articles-custom h2 {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 30px;
}

.articles-custom .see-more a {
    font-size: 15px;
    color: #3a58ba;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.articles-custom .see-more a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../images/img/art-arrow.png) no-repeat;
    width: 6px;
    height: 11px;
    position: relative;
    top: -1px;
}

.articles-custom .see-more a:hover {
    color: #606164;
}

.articles-custom .items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.articles-custom .items:after {
    content: '';
    display: table;
    clear: both;
}

.articles-custom .item {
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(21, 22, 24, 0.04);
}

.articles-custom .items-col:nth-child(-n+2) {
    width: 24%;
}

.articles-custom .items-col:nth-child(-n+2) .item {
    height: 100%;
}

.articles-custom .items-col:nth-child(n+3) {
    width: 49%;
}

.articles-custom .items-col:nth-child(n+3) .item + .item {
    margin-top: 20px;
}

.articles-custom .items-col + .items-col {
    margin-left: 1.5%;
}

.articles-custom .items-col:nth-child(n+3) .text {
    display: none;
}

.articles-custom .item .info {
    padding: 20px 18px;
    width: 100%;
}

.articles-custom .item .image {
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.articles-custom .item .date {
    color: #9ca3ba;
    font-size: 14px;
}

.articles-custom .item .title {
    margin-bottom: 15px;
}

.articles-custom .item .title a {
    color: #3a58ba;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.articles-custom .item .title a:hover {
    border-color: #3a58ba;
}

.articles-custom .item .text {
    color: #5c5f67;
    font-size: 14px;
    line-height: 1.4;
}

.articles-custom .items-col:nth-child(-n+2) .item {
    line-height: 1.25;
}

.articles-custom .items-col:nth-child(-n+2) .info {
    padding-bottom: 40px;
}

.articles-custom .items-col:nth-child(-n+2) .image {
    height: 120px;
}

.articles-custom .items-col:nth-child(-n+2) .date {
    margin-bottom: 16px;
}

.articles-custom .items-col:nth-child(-n+2) .title {
    margin-bottom: 16px;
}

.articles-custom .items-col:nth-child(n+3) .item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.articles-custom .items-col:nth-child(n+3) .info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
}

.articles-custom .items-col:nth-child(n+3) .image {
    width: 106px;
    height: 106px;
    flex-shrink: 0;
    flex-basis: 106px;
}

.articles-custom .items-col:nth-child(n+3) .title {
    width: 100%;
}

.articles-custom .items-col:nth-child(n+3) .date {
    width: 100%;
    order: 1;
}

.reviews-custom {
    margin-bottom: 60px;
}

.reviews-custom .title-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reviews-custom h2 {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 0;
}

.reviews-custom .title-custom .btn a {
    display: block;
    text-decoration: none !important;
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    border: 2px solid #ffe153;
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.reviews-custom .title-custom .btn a:before {
    content: '';
    display: inline-block;
    background: url(../images/img/rev-btn.png);
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.reviews-custom .title-custom .btn a:hover {
    background: #ffe153;
}

.reviews-info {
    max-width: 830px;
    color: #5c5f67;
    font-size: 15px;
    margin-bottom: 30px;
}

.reviews-tabs {}

.reviews-tabs .tabs__titles {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 40px;
}

.reviews-tabs .tabs__title {}

.reviews-tabs .tabs__title {
    height: 40px;
    line-height: 36px;
    border: 1px solid #e9ebf1;
    border-radius: 36px;
    font-size: 15px;
    color: #18191c;
    position: relative;
    cursor: pointer;
    padding: 0 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.reviews-tabs .tabs__title:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ffe153;
    border-radius: 36px;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.reviews-tabs .tabs__title:hover:before,
.reviews-tabs .tabs__title.active:before {
    opacity: 1;
}

.reviews-tabs .tabs__title + .tabs__title {
    margin-left: 12px;
}

.reviews-tabs .tabs__title:hover {
    border-color: #ffe153;
}

.reviews-tabs .tabs__title.active {
    border-color: #ffe153;
}

.reviews-tabs .tabs__title .stars-custom {
    position: relative;
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 0;
    vertical-align: middle;
    margin-left: 10px;
}

.reviews-tabs .tabs__title .stars-custom img + img {
    margin-left: 5px;
}

.reviews-tabs .tabs__titles .see-more {
    flex-grow: 1;
    text-align: right;
}

.reviews-tabs .tabs__titles .see-more a {
    font-size: 15px;
    color: #3a58ba;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.reviews-tabs .tabs__titles .see-more a:hover {
    color: #606164;
}

.reviews-tabs .tabs__titles .see-more a:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../images/img/art-arrow.png) no-repeat;
    width: 6px;
    height: 11px;
    position: relative;
    top: -1px;
}

.reviews-tabs .tabs__content {
    display: block;
    height: 0;
    overflow: hidden;
}

.reviews-tabs .tabs__content.active {
    height: auto;
    overflow: visible;
}

.reviews-custom {}

.reviews-custom .slick-arrow {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.reviews-custom .slick-arrow:hover {
    opacity: .5;
}

.reviews-tabs .slick-slider {
    margin: 0 -10px;
}

.reviews-custom .slick-prev {
    background-image: url(../images/img/arrow-left.png);
    left: -8px;
}

.reviews-custom .slick-next {
    background-image: url(../images/img/arrow-right.png);
    right: -8px;
}

.review-custom {
    box-shadow: 0px 3px 10px 0px rgba(21, 22, 24, 0.1);
    margin: 0 10px 10px;
    padding: 30px;
    background: #fff;
}

.review-custom .review-content {
    font-size: 15px;
    color: #5c5f67;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.review-custom .name {
    font-size: 16px;
    font-weight: 600;
    color: #18191c;
    margin-bottom: 10px;
}

.review-custom .fields {
    font-size: 15px;
    color: #9ea0ab;
    margin-bottom: 10px;
}

.review-custom .text {
    font-size: 15px;
    color: #5c5f67;
}

.review-custom .btn {}

.review-custom .btn a {
    display: inline-block;
    text-decoration: none !important;
    height: 40px;
    line-height: 36px;
    font-size: 15px;
    color: #000;
    padding: 0 15px;
    border: 2px solid #ffe153;
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.review-custom .btn a:hover {
    background: #ffe153;
}

.review-custom .audio-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.review-custom .audio-custom audio {
    display: none;
}

.review-custom .audio-custom .play-control {
    margin-right: 20px;
}

.review-custom .audio-custom .play-control .btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.review-custom .audio-custom .play-control .btn:hover {
    opacity: .5;
}

.review-custom .audio-custom .play-control .btn.active {
    display: block;
}

.review-custom .audio-custom .play-control .play-custom {
    background: url(../images/img/play-rev.png) no-repeat 21px center #ffe153;
}

.review-custom .audio-custom .play-control .stop-custom {
    background: url(../images/img/stop-rev.png) no-repeat center center #ffe153;
}

.review-custom .audio-custom .label-custom {
    font-size: 14px;
    color: #4c4f57;
}

.review-custom .video-custom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.review-custom .video-custom .video-review {
    /*    height: 83px;*/
    width: 163px;
    margin-right: 20px;
    position: relative;
}

.review-custom .video-custom iframe {
    width: 100%;
    height: 100%;
}

.review-custom .video-custom .label-custom {
    font-size: 14px;
    color: #4c4f57;
}

.review-custom .video-custom .js-youtube-popup {
    display: block;
    overflow: hidden;
    /*    height: 83px !important;*/
    width: 100%;
    position: relative;
}

.review-custom .video-custom .js-youtube-popup:after {
    content: '';
    display: block;
    background: url(../images/img/play-rev.png) no-repeat 21px center #ffe153;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.review-custom .video-custom .js-youtube-popup img {
    width: 100% !important;
    height: auto !important;
}

.why-we {
    padding: 60px 0;
    background: #fafafa;
}

.why-we h2 {
    font-size: 28px;
    font-weight: bold;
    color: #363637;
    margin-bottom: 60px;
    text-align: center;
}

.why-we .items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.why-we .item {
    width: 25%;
    padding: 0 20px;
    text-align: center;
}

.why-we .item + .item {
    border-left: 1px solid #c4c4c4;
}

.why-we .image {
    height: 47px;
    text-align: center;
    line-height: 47px;
    margin-bottom: 40px;
}

.why-we img {
    vertical-align: middle;
    max-width: 100%;
    height: auto !important;
    width: auto !important;
}

.why-we .title-custom {
    font-size: 18px;
    font-weight: 600;
    color: #18191c;
    margin-bottom: 10px;
}

.why-we .desc {
    font-size: 15px;
    color: #5c5f67;
}

.mobile-filter-custom {
    display: none;
}

.mobile-filter-close {
    display: none;
}

.table-item {
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .products-block .filter-cat {
        font-size: 13px;
        padding: 0 10px;
    }
    .photo-gallery-custom a {
        height: 200px;
    }
}

@media (max-width: 1023px) {
    .header-bg-bottom .banner-top-inner {
        padding: 0 30px;
    }
    .header-bg-bottom h1 {
        line-height: 1.1;
    }
    .header-bg-bottom p {
        text-shadow: 1px 1px 0 #fff;
    }
    .mobile-filter-custom {
        background: #ffe153;
        border-radius: 4px;
        display: block;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
    .catalog-new {
        position: relative;
    }
    .catalog-new .catalog-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
    }
    body.mobile-filter-open .catalog-new .catalog-sidebar {
        opacity: 1;
        visibility: visible;
    }
    .mobile-filter-close {
        display: block;
        text-align: right;
        padding-right: 10px;
    }
    .mobile-filter-close span {
        display: inline-block;
        font-weight: bold;
        cursor: pointer;
        font-size: 30px;
    }
    .catalog-new .catalog-menu {
        padding: 0 30px;
    }
    .product-custom {
        width: 33%;
        border: 1px solid #e9ebf1;
    }
    .need-help {
        background-image: none !important;
    }
    .reviews-tabs .tabs__title {
        font-size: 13px;
        padding: 0 10px;
    }
    .why-we .item {
        padding: 0 10px;
    }
    .why-we .title-custom {
        font-size: 17px;
    }
    .why-we .desc {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .header-bg-bottom .banner-top {
        height: auto;
        padding: 20px 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .header-bg-bottom .banner-top-inner {
        display: block;
    }
    .header-bg-bottom .banner-video {
        margin-top: 20px;
    }
    .products-block .filter-tags {
        display: block;
    }
    .products-block .filter-tag {
        display: inline-block;
    }
    .products-block .clear-tags {
        display: inline-block;
    }
    .products-block .filter-cats {
        display: block;
    }
    .products-block .filter-cat {
        display: inline-block;
        margin-right: 10px;
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
    .products-block .clear-cat {
        display: inline-block;
    }
    .products-block .filter-views {
        display: block;
    }
    .products-block .filter-sort,
    .products-block .filter-group,
    .products-block .filter-view {
        display: inline-block;
        margin-bottom: 15px;
    }
    .product-custom {
        width: 100%;
    }
    .product-custom-nav {
        display: block;
    }
    .product-custom-nav .product-custom-pag {
        margin-bottom: 15px;
    }
    .product-custom-nav ul {
        justify-content: center;
    }
    .product-custom-nav .num-list {
        justify-content: center;
    }
    .photo-gallery-custom a {
        width: 49%;
    }
    .video-gallery-custom .items {
        display: block;
    }
    .video-gallery-custom .item {
        width: 100%;
        margin-bottom: 15px;
    }
    .need-help {
        height: auto;
        padding: 10px 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .need-help .callback {
        flex-wrap: wrap;
    }
    .need-help .title-custom {
        line-height: 1.1;
    }
    .need-help .btn {
        width: 100%;
        padding-top: 15px;
        order: 1;
    }
    .need-help .btn a {
        display: inline-block;
    }
    .faq-custom .title-custom {
        display: block;
    }
    .faq-custom h2 {
        margin-bottom: 20px;
    }
    .faq-custom .title-custom .btn a {
        display: inline-block;
    }
    .faq-custom .faq-inner {
        flex-wrap: wrap;
    }
    .faq-custom .faq-block {
        width: 100%;
        padding: 10px;
    }
    .articles-custom .title-custom {
        display: block;
        margin-bottom: 20px;
    }
    .articles-custom h2 {
        margin-bottom: 10px;
    }
    .articles-custom .item {
        width: 100% !important;
        margin: 0 0 20px !important;
    }
    .reviews-custom .title-custom {
        display: block;
    }
    .reviews-custom h2 {
        line-height: 1.1;
        margin-bottom: 10px;
    }
    .reviews-custom .title-custom .btn a {
        display: inline-block;
    }
    .reviews-tabs .tabs__titles {
        display: block;
    }
    .reviews-tabs .tabs__title {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px !important;
        margin-left: 0 !important;
    }
    .reviews-tabs .tabs__titles .see-more {
        text-align: left;
    }
    .why-we h2 {
        line-height: 1.1;
    }
    .why-we .items {
        flex-wrap: wrap;
    }
    .why-we .item {
        width: 100%;
        border: 0 !important;
        padding: 0;
        margin-bottom: 30px;
    }
    .catalog-new .products-block {
        padding-left: 0;
    }
    .wrap {
        padding: 0 10px;
    }
    .reviews-custom .slick-next {
        right: 0;
    }
    .reviews-custom .slick-prev {
        left: 0;
    }
}

.button-show-more.show-more .button-show-more_counter {
    font-weight: normal;
    margin: 0 5px;
}

// .col-md-10 {
//     width: 16.66666667% !important;
// }
.catalog-block-items__img
{
	background-size: contain;
	width: auto;
	height: 70px;
	background-position: center center;
	background-repeat: no-repeat;
}
.catalog-block-items__item a
{
	display:block;
}