html {
    font: 'Exo 2', 'Arial', sans-serif;
}
body{
    font: 12px/16px 'Exo 2', 'Arial', sans-serif;
    /* display: flex; */
    flex-direction: column; font-display:swap;
}

a{
    color: #3a58ba;
}
a:hover{
    color: #e7302d;
    text-decoration: underline;
}

img, iframe{
    vertical-align: middle;
    max-width: 100%;
}

p{
    margin: 0 0 20px;
}




.logo{
    text-align: center;
}

.main{
    flex: 1;
}


.footer-primary{
    background: #6b717c;
    color: #fff;
    font-size: 13px;
    padding: 60px 0;
}
.footer-primary a{
    color: #d7dde9;
}
.footer-secondary{
    background: #595e68;
    color: #a8aebb;
    font-size: 13px;
    padding: 24px 0;
}


.promo-start-coupon{
    background: #ff2c29 url(../images/banner-first-order-bg.png) no-repeat 0 100%;
    color: #fff;
    padding: 10px;
    min-height: 70px;
    padding-left: 8em;
    /* margin-bottom: 20px; */
    display: block;
    color: #fff;
    text-align: center;
}

.promo-start-coupon:hover{
    color: #fff;
    text-decoration: none;
}
.promo-start-coupon:hover .promo-start-coupon-text{
    transform: scale(1.02);
}
.promo-start-coupon-text{
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.5em;
    transition: transform 0.2s;
}
.promo-start-coupon-denomination{
    height: 50px;
    width: 110px;
    display: inline-block;
    background: url(../images/price-label.png);
    color: #e7302d;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 14px 0;
    vertical-align: middle;
    margin: 0 10px;
    margin-bottom: 10px;
}
.promo-start-coupon-button{
    font-size: 1.6em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 10px;
    vertical-align: middle;
    min-width: 6em;
    text-align: center;
}
.promo-start-coupon-button:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 8px white;
    text-shadow: 0 0 3px white;
}



.input{
    height: 40px;
    border: 1px solid #e4e6ef;
    padding: 0 15px;
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
    color: black;
}

.input:focus{
    border-color: #ffe153;
    outline: none;
}
.button{
    height: 40px;
    border: 1px solid #e4e6ef;
    padding: 0 15px;
    border-radius: 3px;
    background: none;
    display: inline-block;
    line-height: 39px;
    position: relative;
    cursor: pointer;
    color: #18191c;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    outline: none;
    background: transparent;
    white-space: inherit;
    transition: .3s;
}
.button-only-icon{
    padding: 0 30px;
}

.button .icon + span{
    margin-left: 8px;
}

.button:hover,
.button:focus{
    text-decoration: none;
    border-color: transparent;
    background: #ffe153;
    color: #18191c;
}
.button-notification{
    background: #e7302d;
    color: #fff;
    padding: 3px 7px;
    border-radius: 12px;
    line-height: 1;
    display: inline-block;
    font-size: 10px;
    top: -9px;
    right: -10px;
    position: absolute;
}
.button-notification:empty{
    display: none;
}



.button-menu{
    background: #f5f5f5;
    border-color: #ccc;
    width: 100%;
    text-align: left;
}

.toolset{
    display: flex;
    margin: 0 -10px;
}
.toolset-item{
    margin: 0 10px;
}
.toolset-item-wide{
    flex: 1;
}
.toolset-item-wide .button{
    width: 100%;
}

.sidebar{
    border: 1px solid #e9ebf1;
    border-radius: 2px;
    padding: 10px 0px;
    height: 100%;
    /* margin: 0 0 20px; */
    position: relative;
}

.sidebar-menu{
    margin: -1px 0px 0;
    padding: 0;
    line-height: 17px;
    background: #fff;
}
.sidebar-menu li{
    list-style: none;
    padding: 0;
}
/*.sidebar-menu .parent{
    padding: 0 10px;
}*/
.sidebar-menu a{
    display: block;
    color: #18191c;
    position: relative;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.5);
    padding: 9px 5px;
}
.sidebar-menu .parent > a:after{
    content: '';
    display: inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    background: url(../images/more.png) no-repeat;
    margin: 0.5em 0;
    margin-left: 0px;
    float: right;
}
.sidebar-menu span{
    vertical-align: middle;
}
.sidebar-menu li>a{
    line-height: 22px;
    font-size: 13px;
}
.sidebar-menu .icon{
    margin-right: 0px;
    display: none;
}
.sidebar-menu a:hover,
.sidebar-menu .active > a{
    text-decoration: none;
    color: #e7302d;
    text-shadow: 0 0 0.1px rgba(255, 0, 0, 0.1);
    background: #f5f5f5;
    text-decoration: none;
}
.sidebar-menu a:hover span,
.sidebar-menu .active > a span{
    text-decoration: underline;
}
.sidebar-menu a:hover .icon{
    filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);
}
.sidebar-menu-popup{
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    top: -1px;
    left: 102%;
    z-index: 10;
    background: #fff;
    width: 600px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    margin-left: -1px;
}
.sidebar-menu-popup > div:last-child {
    height: auto;
}
/*.sidebar-menu-popup::-webkit-scrollbar { width: 0; }
.sidebar-menu-popup { -ms-overflow-style: none; }
.sidebar-menu-popup { overflow: -moz-scrollbars-none; }
*/
.sidebar-menu .active .sidebar-menu-popup{
    display: block;
}
.sidebar-menu .active:nth-child(n+10) .sidebar-menu-popup{
    bottom: 0;
    top: auto;
}
.sidebar-menu-popup-title{
    font-weight: 700;
    font-size: 19px;
    margin-left: 15px;
}
.sidebar-menu-popup-header{
    margin: 0 0 10px;
    background: #F5F5F5;
}
.sidebar-menu-popup-list{
    padding: 0;
    width: 50%;
    height: auto;
    margin-top: auto;
    /*border-right: 1px solid #e9ebf1;*/
    position: relative;
    line-height: 15px;
}
.sidebar-menu-popup-list .active {
    position: relative;
}
.menu-link-button-more .dropdown__list-item-link {
    padding-bottom: 10px;
}
.sidebar-menu-popup-list .active .sidebar-menu-popup-sublist{
    display: block;
}
.sidebar-menu-popup-sublist.level3
{
	margin-top:-10px;
}
.sidebar-menu-popup-sublist{
    position: absolute;
    background: #fff;
    top: 0%;
    left: 101%;
    padding-left: 5px;
    white-space: nowrap;
    display: none;
    /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);*/
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 7px;
}
.sidebar-menu-popup-list .active:nth-child(n+11) .sidebar-menu-popup-sublist{
    bottom: 0;
    top: auto;
}
.sidebar-menu-popup-sublist a{
    color: #3a58ba;
    text-shadow: 0 0 0.1px rgba(58, 88, 186, 0.21);
}
.sidebar-menu .sidebar-menu-popup-sublist a{
    padding-left: 15px;
}
.sidebar-menu-popup-sublist .sidebar-menu-popup-sublist{
    margin: 10px;
}
.menu-link-button-more a{
    margin: 15px 20px 15px 10px;
}
.sidebar-menu-popup-sublist a:hover{
    background: none;
}
.header-row{
    margin-bottom: 20px;
}

.home-slider{
    border: 1px solid #e9ebf1;
    border-radius: 2px;
    /* height: 268px; */
    /* margin: 0 0 20px; */
    overflow: hidden;
    max-width: calc(100vw - 20px);
}
.home-slider .slick-list, .home-slider .slick-track{
    height: 100%;
}

.home-slide{
    padding: 20px 30px 10px;
    background: white no-repeat 100% 100%;
    height: 100%;
    background-size: auto 42%;
}
.home-slide + .home-slide{
    /*display: none;*/
}
.home-slide-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.home-slide .button{
    line-height: 37px;
    background: #ffe153;
    border: none;
    border: 2px solid transparent;
}
.home-slide .button:hover,
.home-slide .button:focus{
    background: none;
    border: 2px solid #ffe153;
}

.home-slide-text{
    max-width: 20em;
    margin: 0 0 30px;
}

.home-slide-title{
    margin: 0 0 15px;
}


.button-with-arrow:after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/more.png) no-repeat;
    margin-left: 10px;
}

.icon{
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: -4px;
    /*background: none no-repeat center;*/
    background-repeat: no-repeat;
}


.icon-car{
    background: url(../images/icon-car.png);
    width: 24px;
}
.icon-return{
    background: url(../images/icon-return.png);
}
.icon-shield{
    background: url(../images/icon-shield.png);
    height: 21px;
}

.icon-user{
    background: url(../images/icon-user.png);
}
.icon-hamburger{
    background: url(../images/icon-hamburger.png);
}


.icon-search{
    background-image: url(../images/icon-search.png);
}
.icon-card{
    background-image: url(../images/icon-card.png);
}
.icon-cart{
    background-image: url(../images/icon-cart.png);
}
.icon-favourite{
    background-image: url(../images/icon-favourite.png);
}

.icon-call{
    background-image: url(../images/icon-call.png);
}

.icon-email{
    background-image: url(../images/icon-email.png);
}


.icon-leaf{
    background-image: url(../images/icon-leaf.png);
}
.icon-home{
    background-image: url(../images/icon-home.png);
}
.icon-spoon{
    background-image: url(../images/icon-spoon.png);
}
.icon-drop{
    background-image: url(../images/icon-drop.png);
}
.icon-bolt{
    background-image: url(../images/icon-bolt.png);
}
.icon-crown{
    background-image: url(../images/icon-crown.png);
}
.icon-thumbup{
    background-image: url(../images/icon-thumbup.png);
}
.icon-new{
    background-image: url(../images/icon-new.png);
    width: 26px;
    height: 26px;
}



.links-block{
    border: 1px solid #e9ebf1;
    border-radius: 2px;
    padding: 20px !important;
}
.links-block-title{
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 10px;
}
.links-block-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.links-block-list li + li{
    margin-top: 5px;
}

.links-block-garden{
    padding-right: 5em;
    background: url(../images/links-garden-bg.jpg) no-repeat 100% 50px;
    /* height: 260px; */
    /* margin: 0 0 20px; */
}
.links-block-dishes{
    padding-right: 5em;
    background: url(../images/links-dishes-bg.jpg) no-repeat 100% 50px;
    /* height: 259px; */
}
.links-block-list-columns{
    column-count: 2;
    white-space: nowrap;
    column-gap: 0;
}

.cell{
    /* margin-bottom: 20px; */
}

.cell:after{
    content: ' ';
    display: table;
    clear: both;
}


.header-layout{
    /* display: flex; */
    width: 100%;
}
.header-layout-fixed{
    /* width: 417px; */
    /* margin-left: 20px; */
}
.header-layout-flex{
    flex: 1;
}

.input-search{
    width: 100%;
    // background: url(../images/icon-search.png) no-repeat 98%;
}


.header-slogan{
    color: #18191c;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.4);
    padding: 0 15px;
    /* height: 44px; */
    margin: 27px 0 0;
}


.header-contacts{
    color: #18191c;
    margin: 27px 0 -2px;
    text-align: right;
}
.small-contacts{
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.4);
    line-height: 1.4;
}
.small-contacts a{
    font-size: 1.5em;
    color: inherit;
    line-height: 1.1;
}


.header-callblock{
    margin: 18px 0 0;
}
.button-accent{
    border: 2px solid #ffe153;
    height: 44px;
}

.button-accent:focus{
    outline: none;
    border-color: #ffc900;
}
.button-accent:hover,.button.button-toggle-open{
    background: #ffe153;
    border-color: transparent;
}
.button-toggle:after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/dropdown.png) no-repeat;
    margin-left: 10px;
    transition: transform 0.2s;
}
.button + .button{
    margin-left: 12px;
}
.button-toggle-open:after{
    transform: rotate(180deg);
}

.footer-nav{
    margin: 13px 0 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}
.footer-nav li{
    margin-bottom: 7px;
}
.footer-nav:first-child{
    margin: 0;
}

.social-link{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #595e68 no-repeat center;
    margin-top: 25px;
    margin-right: 10px;
}

.social-link-facebook{
    background-image: url(../images/icon-social-facebook.png);
}
.social-link-youtube{
    background-image: url(../images/icon-social-youtube.png);
}
.social-link-vkontakte{
    background-image: url(../images/icon-social-vkontakte.png);
}
.social-link-instagram{
    background-image: url(../images/icon-social-instagram.png);
}
.social-link-ok{
    background-image: url(../images/icon-social-ok2.png);
}

.footer-logo{
    margin-bottom: 25px;
}
.footer-desc{
    margin-right: 30px;
}


.home-slider{
    position: relative;
}
.slick-dots{
    margin: 25px 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.slick-dots li{
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
    line-height: 0;
}
.slick-dots button{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #c4c5ca;
    text-indent: 100px;
    overflow: hidden;
    padding: 0;
    border: 4px solid white;
    border-radius: 13px;
    vertical-align: middle;
    outline: none;
}
.slick-dots .slick-active button{
    background: #fff;
    border-color: #ffe153;
}
.slick-prev,
.slick-next{
    position: absolute;
    bottom: 20%;
    overflow: hidden;
    display: inline-block;
    background: #fff no-repeat center;
    text-indent: 99px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 35px;
    box-shadow: 0 5px 13px #0000001f;
    z-index: 1;
    outline: none;
    top: 50%;
    margin-top: -18px;
    bottom: auto;
    bottom: 12px !important;
}
.slick-prev{
    background-image: url(../images/arrow-left.png);
    left: -5px;
}
.slick-next{
    background-image: url(../images/arrow-right.png);
    right: -5px;
}
.slick-disabled{
    opacity: 0.5;
}



.home-slider .slick-prev{
    right: 51%;
    left: 20PX;
    bottom: 50px;
    top: auto;
}
.home-slider .slick-next{
    right: 20PX;
    left: auto;
    bottom: 50px;
    top: auto;
}

.button-cart .button-notification{
    right: auto;
    left: 39px;
}
.button-cart:after{
    content: '';
    width: 45px;
    height: 40px;
    display: inline-block;
    background: #6a707c url(../images/arrow-right-white.png) no-repeat center;
    float: right;
    border-radius: 0 3px 3px 0;
    margin-top: -1px;
    margin-right: -16px;
	transition: .3s;
}
.button-cart:hover:after{
    background-color: #31cc37;
}
// .button-cart{
// 	transition: none;
// }

.footer .button-accent{
    color: #fff;
    margin: 13px 0 0;
    width: 90%;
    /* background-color: transparent; */
    // &:after{
    //     transform: rotate(180deg);
    // }
}
.footer .popup-menu{
    bottom: 35px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.42);
}

.footer .button-accent .icon,
.footer .button-accent:after{
    filter: brightness(100);
}
.footer .button-accent:hover,
.footer .button-accent:focus{
    color: #18191c;
}
.footer .button-accent:hover .icon,
.footer .button-accent:focus .icon,
.footer .button-accent:hover:after,
.footer .button-accent:focus:after{
    filter: none;
}

.product-scroller:after{
    content: ' ';
    display: table;
    clear:both;
}
.product-item{
    float: left;
    width: 248px;
    /* height: auto !important; */
    text-align: center;
    position: relative;
    background: #fff;
}
.product-item-box{
    border: 1px solid #e9ebf1;
    /* background: #fff; */
    padding: 20px;
    display: block;
    position: relative;
    padding-bottom: 60px;
    height: 100%;
    min-height: 400px;
}

.product-item-box:focus{
    outline: none;
}
.product-item-form{
    position: absolute;
    padding: 0 20px 20px;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.product-item-title{
    color: #000000;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.39);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 3px 0;
}

.product-item-title .ellipsis-cut{
    display: none;
}

.product-item{
    margin-right: -1px;
    outline: none;
}

.product-item-price{
    margin: 0 0 15px;
    /* height: 3.067em; */
}

.product-item-state{
    margin: 0 0 10px;
}
.product-item-state > * + *{
    margin-left: 8px;
}


.price-old{
    font-size: 13px;
    text-decoration: line-through;
    color: #7e8086;
}
.price-new{
    font-weight: 700;
    color: #e7302d;
    font-size: 17px;
}
.price-default{
    font-weight: 700;
    color: #18191c;
    font-size: 17px;
}

.input-number{
    width: 60px;
    text-align: center;
}
input::-webkit-inner-spin-button{
    display: none;
}

.product-item-form > *{
    z-index: 1;
    pointer-events: auto;
}

.product-item-form > * + *{
    margin-left: 10px;
}


.stock-status-indicator{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    vertical-align: middle;
    margin-right: 7px;
}
.stock-status-indicator-unavailable{
    background: #e7302d;
}
.stock-status-indicator-available{
    background: #31cc37;
}
.stock-status-indicator-preorder{
    background: #b9b9b9;
}
.stock-status{
    color: #6a6f7c;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}
.stock-status span{
    vertical-align: middle;
}


.rating{
    display: inline-block;
    white-space: nowrap;
    line-height: 0;
    vertical-align: middle;
}
.rating > *{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
}
.rating .star-full{
    background: url(../images/star-full.png);
}
.rating .star-empty{
    background: url(../images/star-empty.png);
}

.product-item-form .button{
}
.product-item-form .button:hover{
    background-color: #ffe153;
    border-color: transparent;
}
.product-item-form .input:hover,
.product-item-form .input:focus{
    border-color: #ffe153;
}


.product-item-title:hover{
    color: #ea3d30;
    text-decoration: underline;
}

.product-item:hover{
    height: auto;
    min-height: 100%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-item:hover .product-item-title .ellipsis-ellipse{
    display: none;
}
.product-item:hover .product-item-title .ellipsis-cut{
    display: inline;
}

.product-item-image{
    position: relative;
	display:table;
	margin:0 auto;
}
.product-item-image div.holder{
	display:table-cell;
	vertical-align:middle;	
	text-align:center;
	height:180px;
}


.product-item-image img{
    margin: 0 auto;
}
.product-item-countdown{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 8em;
    color: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    display: block;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 13px;
    text-align: center;
}
.product-item-labels{
    position: absolute;
    width: 28px;
    z-index: 1;
}

.product-item-labels .label{
    display: inline-block;
    width: 28px;
    height: 28px;
}
.label-sale{
    background: url(../images/sale-small.png);
}
.label-recommended{
    background: url(../images/thumbup-small.png);
}

.section-title-new{
    color: #18191c;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 35px;
}
.section-title span{
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.section-icon{
    margin-right: 0.2em;
    vertical-align: -55%;
    /* margin-bottom: -2px; */
    display: none;
}
.section-icon-eye{
    width: 36px;
    height: 38px;
    background: url(../images/eye.png) no-repeat center;
}
.section-icon-sale{
    width: 38px;
    height: 38px;
    background: url(../images/sale.png) no-repeat center;
}
.section-icon-star{
    width: 32px;
    height: 38px;
    background: url(../images/star.png) no-repeat center;
}
.section-title-extras{
    line-height: 2.5em;
    margin: 0 0 1em;
    display: block;
}

.promo-card{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    margin: 0 0 20px;
}
.promo-card img{
    width: 100%;
    display: block;
}
.promo-card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3em 2.9em 2em;
    background: transparent;
    transition: all 0.2s;
    color: #fff;
}

.promo-card-title{
    font-weight: 700;
    font-size: 1.9em;
    line-height: 1.1;
    margin: 0 0 0.2em;
}
.promo-card-desc{
    font-size: 1.2em;
    max-width: 15em;
}

.promo-card:hover .promo-card-overlay{
    padding-left: 3.9em;
    padding-right: 1.9em;
    background: rgba(0, 0, 0, 0.15);
}

.selectable-tags{
    margin: 0 0 40px;
    white-space: nowrap;
    overflow: hidden;
}
.selectable-tags:after{
    content: ' ';
    display: table;
    clear: both;
}
.selectable-tag{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background: #fff;
    color: #18191c;
    border: 1px solid #e9ebf1;
    padding: 6px 20px;
    line-height: 25px;
    border-radius: 50px;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.35);
    margin: 0 5px;
    float: left;
    outline: none !important;
    text-decoration: none;
}
.selectable-tag .rating{
    vertical-align: -1px;
}
.selectable-tag.active{
    border-width: 2px;
    background: #ffe153;
    border-color: transparent;
/*     border-color: #ffe153; */
    padding: 5px 19px;
}
.selectable-tag:hover,
.selectable-tag:focus{
    border-color: #ffe153;
    color: #18191c;
    text-decoration: none;
}
.selectable-tag .icon{
    margin-right: 5px;
    height: 26px;
    vertical-align: -8px;
}
/*.selectable-tag.active .icon{
    filter: grayscale(100%) brightness(1000%) sepia(100%) hue-rotate(15deg) saturate(900%) contrast(1);
}
*/
.selectable-tag span{
    vertical-align: -1px;
}

.selectable-tags .slick-list{
    padding-left: 30px;
    padding-right: 30px;
}
.selectable-tags .slick-slide:first-child{
    /* margin-left: 30px; */
}
.selectable-tags .slick-list:before,
.selectable-tags .slick-list:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    background: white;
    z-index: 1;
}

.selectable-tags .slick-list:before{
    background: linear-gradient(to left, transparent, white 70%);
    left: 0;
}

.selectable-tags .slick-list:after{
    background: linear-gradient(to right, transparent, white 30%);
    right: 0;
}

.section{
    padding: 30px 0;
}
.section-promo{
    padding: 30px 0;
}
.section-promocards{
    padding: 0;
}
.section-features{
    background: #fafafa url(../images/babulya.jpg) no-repeat right bottom;
    background-position: calc(50% - -405px) 100%;
    /* margin: 20px 0; */
}

.feature-icon{
    float: left;
    width: 48px;
    height: 48px;
    /* margin-top: 10px; */
    margin-right: 10px;
	
}


.feature-icon-thumbup{
    background: url(../images/icon-feature-thumbup.png) no-repeat;
}
.feature-icon-car{
    background: url(../images/icon-feature-car.png) no-repeat;
}
.feature-icon-wallet{
    background: url(../images/icon-feature-wallet.png) no-repeat;
}

.feature-title{
    font-weight: 700;
    font-size: 16px;
	float: left;
	width:60%;
}
.feature p{
    margin: 0;
    font-size: 14px;
	float: left;
	width:60%;
}
.feature{
    margin: 0 0 30px;
	float: left;
}
.feature:last-child{
    margin: 0 0 60px;
}


.top-category-card{

margin: 0 0 30px;
}
.top-category-card-header{
    padding: 16px 20px;
    color: #fff;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.top-category-card-title{
    font-weight: 700;
    float: left;
}
.top-category-card-all{
    float: right;
    color: #fff;
}
.top-category-card-all:hover{
    color: #fff;
}
.top-category-card-all:after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/more-white.png);
    margin-left: 10px;
    vertical-align: -1px;
}
.top-category-card-style1 .top-category-card-header{
    background: #7fca6d;
}
.top-category-card-style2 .top-category-card-header{
    background: #ea3b30;
}
.top-category-card-style3 .top-category-card-header{
    background: #2e77da;
}

.top-category-card-body{
    border: 1px solid #e9ebf1;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    flex: 1;
}
.top-category-card-item{
    display: block;
    padding: 3px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.top-category-card-item +  *{
    border-top: 1px solid #e9ebf1;
}

.top-category-card-item img{
    float: right;
    justify-self: flex-end;
    margin-left: auto;
}

.top-category-card-item span{
    display: inline-block;
    margin-right: 10px;
}


.section-subscribe{
    background: #ffe153 url(../images/subscribe-bg.png) no-repeat 58%;
    padding: 30px 0;
}
.section-subscribe .section-title-new{
    margin: 0 0 5px;
}
.section-subscribe p{
    margin: 0;
}

.section-subscribe form{
    /* float: right; */
    margin: 0.3em 0;
}
.section-subscribe .button{
   background: #e7302d;
   border: 1px solid red;
   color: #fff;
}
.section-subscribe .button:hover,
.section-subscribe .button:focus{
   background: #ff2824;
}
.section-subscribe input{
    border: none;
    margin-right: 10px;
}

.section-advantages{
    background: #fafafa;
}
.section-advantages p{
    margin: 0 0 5px;
}
.section-articles{
    background: #fafafa;
}

.section-clients .section-title-new{
    margin: 0 0 20px;
}

.article-card{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
}
.article-card-image img{
    width: 100%;
}
.article-card-body{
    padding: 15px 25px;
}
.article-card-meta{
    color: #9ca3ba;
    font-size: 13px;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
    margin: 0 0 10px;
}

.article-card-title{
    display: inline-block;
    font-weight: 700;
    margin: 0 0 10px;
}

.article-card-intro{
    font-size: 13px;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
}

.article-card-small .article-card-image{
    float: left;
}
.article-card-small .article-card-meta{
    margin: 0;
}
.article-card-body{
    /* display: table; */
    overflow: hidden;
}
.our-clients{
    white-space: nowrap;
    overflow: hidden;
}
.our-clients .slick-list{
    margin-left: 30px;
    margin-right: 30px;
}
.our-clients .slick-track{
    /* display: flex; */
}
.our-clients img{
    margin: 0 20px;
}

.section-reviews{
    background: #fafafa;
}
.section-reviews .section-title-new{
    margin: 0 0 20px;
}

.reviews-scroller{
    /* display: flex; */
    height: 320px;
}
.reviews-scroller .slick-list{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.reviews-scroller .slick-track{
    height: 100%;
}
.review-card{
    padding: 30px 30px;
    background: #ffffff;
    margin: 0 15px;
    font-size: 14px;
    box-shadow: 0 0 30px #0000000d;
}


.review-card-author{
    font-weight: 700;
    margin: 0 0 10px;
}
.review-card-represent{
    color: #9ea0ab;
    margin: 0 0 10px;
}
.review-card-content{
    margin: 0 0 20px;
    height: 96px;
}

.review-card .button{
    border-color: #ffe153;
    border-width: 2px;
    line-height: 37px;
}
.review-card .button:hover,
.review-card .button:focus{
    background-color: #ffe153;
}



.section-catalog{
    background: #fafafa;
    display: none;
}
.catalog-columns{
    margin: 0 -15px;
}

.catalog-section-title{
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 8px;
}
.catalog-section-desc{
    margin: 0 0 1.2em;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
}
.catalog-section-categories{
    margin: 0 0 30px;
    list-style: none;
    padding: 0;
    font-size: 1em;
}
.catalog-section-categories li{
    margin: 0 0 0.6em;
    text-shadow: 0 0 0.1px rgba(58, 88, 186, 0.25);
}

.catalog-section-all{
    color: #18191c;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
}
.catalog-section-all:after{
    content: '';
    display: inline-block;
    background: #efefef url(../images/more.png) no-repeat center;
    width: 26px;
    height: 26px;
    vertical-align: text-top;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 25px;
}

.catalog-section-icon{
    height: 30px;
    margin: 0 0 8px;
    display: inline-block;
}
.catalog-section-icon-leaf{
    width: 36px;
    background: url(../images/icon-large-leaf.png);
}
.catalog-section-icon-home{
    width: 46px;
    background: url(../images/icon-large-home.png);
}
.catalog-section-icon-spoon{
    width: 24px;
    background: url(../images/icon-large-spoon.png);
}
.catalog-section-icon-drop{
    width: 34px;
    background: url(../images/icon-large-drop.png);
}
.catalog-section-icon-bolt{
    width: 25px;
    background: url(../images/icon-large-bolt.png);
}



.section-support{
    background: url(../images/support3.png) no-repeat;
    padding: 20px 0 75px;
    background-size: 200px;
    background-position: 100% 100%;
}

.section-support .section-title-new{
    margin: 0 0 20px;
}


.section-support .button{
    border: 2px solid #ffe153;
}
.section-support .small-contacts{
    display: block;
    vertical-align: middle;
    margin-top: 30px;
}





.readmore-wrapper{
    float: right;
    padding: 7px 0;
    display: none;
}

.readmore{
    color: #3a58ba;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: 23px;
    display: inline-block;
}
.readmore:after{
    content: '';
    display: inline-block;
    background: #efefef url(../images/more.png) no-repeat center;
    width: 26px;
    height: 26px;
    vertical-align: top;
    margin-top: -2px;
    margin-left: 10px;
    border-radius: 25px;
}


.footer-subscribe .input{
    width: 48%;
}
.footer-subscribe .button{
    vertical-align: top;
    margin-left: 10px;
}

.footer-subscribe-form{
    margin: 0 0 10px;
}
.footer-subscribe-title{
    margin: 0 0 5px;
    font-size: 19px;
    text-shadow: 0 0 1px #ffffff61;
    padding-bottom: 8px;
}
.footer-subscribe-agreement{
    margin: 0 0 10px;
    line-height: 1.4;
}
.footer-subscribe-agreement a{
    text-decoration: underline;
}

.number-input{
    position: relative;
    width: 60px;
    display: inline-block;
}
.number-input-input{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    -moz-appearance:textfield;
}

.number-input-button{
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Verdana';
    line-height: 1;
    height: 100%;
    display: block;
    padding: 14px 10px;
    cursor: pointer;
}
.number-input-inc{
    right: 0;
    padding-left: 3px;
}
.number-input-dec{
    left: 0;
    padding-right: 3px;
}


.support-info{
    display: inline-block;
    width: 25em;
    vertical-align: middle;
}

.section-features .support-info{
    margin-top: 30px;
}

.service-icons{
    font-weight: 400;
    display: block;
}
.service-icons-item{
    color: #5c5f67;
    display: block;
}
.service-icons-item .icon{
    margin-right: 5px;
}

.review-video{
    padding: 2px 0;
}
.review-content-label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.review-audio{
    padding: 15px 0;
}

.review-audio-button{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background: #ffe153;
    border: none;
    border-radius: 50px;
    text-align: center;
    position: relative;
}
.review-audio-button:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 13.6px;
    border-color: transparent transparent transparent #000000;
}

.review-video-preview{
    width: 164px;
    height: 90px;
    display: inline-block;
    background: #3a3c40;
    position: relative;
    vertical-align: middle;
}
.review-video-button{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffe153;
    border-radius: 40px;
    text-align: center;
}
.review-video-button:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #000000;
}


.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 7px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: #6d7d9b;
    /* border-radius: 50%; */
    border-radius: 3px;
    float: left;
}
.hamburger:active,.hamburger:focus{
    outline: none;
    background-color: #a9bad9;
}

.hamburger-box {
    position: relative;
    display: block;
    width: 21px;
    height: 19px;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
    background-color: #fff;
}

.hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 21px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}
.hamburger .hamburger-inner:before {
    transition: top 75ms ease .12s,opacity 75ms ease;
}
.hamburger-inner:before {
    top: -8px;
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger .hamburger-inner:after {
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}
.hamburger-inner:after {
    bottom: -8px;
}

.hamburger.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}
.hamburger.is-active .hamburger-inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0;
}
.hamburger.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}

.mobile-open{
    display: block !important;
}

.media{
    /* margin: 0 0 20px; */
    display: block;
    transition: all 0.1s ease-in-out;
}
.media > * {
    width: 100%;
    display: block;
}

.media:hover{
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30196078431372547);
}

.main-home .media{
    /* margin: 0; */
}

.popup-control-wrap{
    position: relative;
    display: inline;
}
.popup-menu{
    position: absolute;
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 30px #e9ebf1;
    padding: 5px 25px;
    white-space: nowrap;
    margin-top: 15px;
    display: none;
}
.popup-menu.open{
    display: block;
}
.popup-menu-section{
    padding: 5px 0;
}
.popup-menu-section + .popup-menu-section{
    border-top: 1px solid #e6e6e6;
}
.popup-menu a{
    cursor: pointer;
    display: block;
    padding: 8px 0;
    padding-left: 30px;
    text-decoration: none;
    position: relative;
    color: #3a58ba;
}
.popup-menu a:hover{
    text-decoration: underline;
    color: #e7302d;
}

.popup-menu .icon{
    width: 24px;
    height: 24px;
    position: absolute;
    left: -5px;
}
.icon-contact-phone{
    background: url(../images/icon-contact-phone.png);
}
.icon-contact-email{
    background: url(../images/icon-contact-email.png);
}
.icon-contact-viber{
    background: url(../images/icon-contact-viber.png);
}
.icon-contact-whatsapp{
    background: url(../images/icon-contact-whatsapp.png);
}
.icon-contact-feedback{
    background: url(../images/icon-contact-feedback.png);
}


.main-home{
    display: flex;
    margin-bottom: 20px;
}

.spaced{
    margin-bottom: 20px !important;
}


.section-catalog .catalog-section {
	background-image:none;
	padding-bottom:0;
}

header .button.button-menu:hover + div.leftmenu, div.leftmenu:hover{
	display:block;
}	


.leftmenu {
    border: 1px solid #e9ebf1;
    border-radius: 2px;
    padding: 10px 0px;
    height: auto;
	width:253px;
	background-color:#fff;
    position: absolute;
	display:none;
	z-index:100;
}

.popup-new-actions {
    position: fixed;
    z-index: 1000;
    width: 620px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.popup-new-actions .left-col, .popup-new-actions .right-col {
	display:block;
	float:left;
}
.popup-new-actions .left-col{
	width:220px;
	height:524px;
	background-color:#e41d00;
	padding: 25px 0;
}

.popup-new-actions .right-col{
	width:360px;
	height:524px;
	padding: 0px 20px;
}


.popup-new-actions .left-col ul{
	list-style:none;
	text-align:center;
	color:#fff;
}

.popup-new-actions .left-col ul li span.icon-pp{
	display:block;
	background-image:url(../images/promo-popup-icons.png);
	background-repeat:no-repeat;
	width:148px;
	height:148px;
}

.popup-new-actions .left-col ul li span.icon-1{
	background-position: center 0;
}

.popup-new-actions .left-col ul li span.icon-2{
	background-position: center -148px ;
}


.popup-new-actions .left-col ul li span.icon-3{
	background-position: center -296px;
}

.popup-new-actions .right-col .icon-holder{
	width:100%;
	padding-top:35px;
	padding-bottom:20px;
	text-align:center;
}


.popup-new-actions .right-col span.gift-icon{
	display:block;
	background-image:url(../images/gift-popup-icons.png);
	background-repeat:no-repeat;
	width:59px;
	height:59px;
	margin:0 auto;
}

.popup-new-actions .right-col .popup-title-big{
	font-size:28px;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	line-height:30px;
}
.popup-new-actions .right-col .popup-subtitle{
	font-family: "Exo 2", sans-serif;
	font-size:16px;
	color:#000;
}
.popup-new-actions .right-col .popup-subtitle span.timer{
	font-size:26px;
	display:block;
	margin-top:10px;
}
.popup-new-actions .right-col .popup-title-big span{
	color:#e41d00;
}

.popup-new-actions .right-col form{
	width:267px;
	margin:0 auto;
}

.popup-new-actions .right-col form input.field, .popup-new-actions .right-col form input.button{
	width:247px;
}
.popup-new-actions .right-col form input.button{
	font-family: "Exo 2", Arial, sans-serif;
	font-weight:bold;
	font-size:18px;
	border-radius:5px;
	height:50px;
	margin-top:10px;
}
.popup-new-actions .right-col form  .confirm{
		margin-top:20px;
	}
.popup-new-actions .right-col form  .confirm label{
	font-family: "Exo 2", Arial, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#71747f;
}

.catalog-block-items__item a{
	display:inline-block;
	margin:0 auto;
}








