@media (min-width: 768px) {
    .header-layout {
        display: flex;
    }

    .header-layout-fixed {
        width: 417px;
        margin-left: 20px;
    }

    .promo-start-coupon-denomination {
        margin-bottom: 0;
    }

    .promo-start-coupon-text {
        margin-bottom: 0;
    }

    .home-slider {
        height: 263px;
    }

    .home-slide {
        background-position: 70% 100%;
        background-size: contain;
    }

    .readmore-wrapper {
        display: block;
    }

    .navbar-nav {
        margin: 0 0 1px;
        padding: 0;
        clear: both;
    }

    .navbar-nav li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
    }

    .navbar-nav a {
        font-size: 1em;
        padding: 0;
        display: inline;
    }

    .navbar-cabinet {
        line-height: inherit;
    }

    .slick-prev {
        left: -16px;
    }

    .slick-next {
        right: -16px;
    }

    .section-icon {
        display: inline-block;
    }

    .service-icons-item {
        display: inline-block;
    }

    .service-icons-item+* {
        margin-left: 1.4em;
    }

    .footer-copyright {
        float: right;
    }

}

@media (min-width: 992px) {

    .section-support {
        padding: 50px 0;
    }

    .promo-start-coupon {
        margin: 0;
    }

    .section {
        padding: 40px 0;
    }

    .section-promo {
        padding: 30px 0;
    }

    .section-promocards {
        padding: 0 0 5px;
    }

    .section-support {
        background-size: auto;
        background-position: calc(50% + 290px) 100%;
    }

    .section-features {
        padding: 40px 0 50px;
    }

    .section-articles .row {
        display: flex;
    }

    .article-card {
        height: 100%;
        margin: 0;
    }

    .article-card-small {
        height: auto;
    }

    .article-card-small+.article-card-small {
        margin-top: 20px;
    }


    .section-title-extras {
        float: right;
        margin: 0.6em 0;
    }

    .home-slider {
        height: 100%;
    }

    .sidebar {
        /* height: 517px; */
    }

    .header-layout-fixed {
        width: 393px;
    }

    .links-block-garden {
        padding-right: 2em !important;
        background-position: 120% 50px;
        height: 100%;
    }

    .links-block-dishes {
        padding-right: 2em !important;
        background-position: 130% 50px;
        height: 100%;
    }

    .section-support .small-contacts {
        margin-top: 0;
        margin-left: 25px;
        display: inline-block;
    }

    .section-features .support-info {
        margin-top: 0;
        margin-left: 30px;
    }

    .section-catalog {
        display: block;
    }

    // .section-title {
    //     font-size: 1.85em;
    // }

    .section-icon {
        vertical-align: -44%;
    }

    .section-subscribe form {
        text-align: right;
    }

    .reviews-scroller {
        display: flex;
    }

    .promo-card {
        margin: 0;
    }

    .promo-card-overlay {
        padding-left: 1.7em;
    }

    .promo-card:hover .promo-card-overlay {
        padding-left: 2.5em;
    }

    .top-category-card {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .feature-icon {
        margin-top: 10px;
        margin-right: 26px;
    }
}

@media (min-width: 1300px) {
    .section {
        padding: 70px 0;
    }

    .section-promo {
        padding: 30px 0;
    }

    .section-promocards {
        padding: 0;
    }

    .section-support {
        padding: 75px 0;
    }

    .section-features {
        padding: 70px 0 80px;
    }

    .section-title-extras {
        margin: 0;
    }

    .footer-subscribe .input {
        width: 60%;
    }

    .top-category-card-item {
        padding: 8px 20px;
    }

    .home-slider {
        /* height: 285px; */
    }

    body {
        font-size: 14px;
        line-height: 22px;
    }

    .header-slogan {
        /* height: 54px; */
        margin: 41px 0 0;
    }

    .header-callblock {
        margin: 41px 0 0;
    }

    .header-contacts {
        margin: 41px 0 -3px;
    }

    .header-layout-fixed {
        width: 400px;
    }

    .sidebar-menu a {
        padding: 6px 15px 6px 15px;
    }

    .sidebar-menu .icon {
        margin-right: 8px;
    }

    .promo-start-coupon {
        padding-left: 14.5em;
        background-position: 4em 100%;
    }

    .home-slide {
        padding: 30px 100px 0;
        background-size: auto;
        /* height: 0 !important; */
    }

    .links-block-garden {
        background-position: 100% 50px;
        padding-right: 5em !important;
    }

    .links-block-dishes {
        padding-right: 2em !important;
        background-position: 100% 50px;
    }

    .sidebar {
        /* height: 576px; */
    }

    .promo-card-overlay {
        padding-top: 4em;
        padding-left: 2.9em;
    }

    .promo-card:hover .promo-card-overlay {
        padding-left: 3.9em;
        padding-right: 1.9em;
    }

    .button-cart:after {
        width: 60px;
    }
}

@media (max-width: 767px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-13,
    .col-sm-14,
    .col-sm-15,
    .col-sm-16,
    .col-sm-17,
    .col-sm-18,
    .col-sm-19,
    .col-sm-20,
    .col-sm-21,
    .col-sm-22,
    .col-sm-23,
    .col-sm-24 {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-13,
    .col-md-14,
    .col-md-15,
    .col-md-16,
    .col-md-17,
    .col-md-18,
    .col-md-19,
    .col-md-20,
    .col-md-21,
    .col-md-22,
    .col-md-23,
    .col-md-24,
    .col-md-25,
    .col-md-26,
    .col-md-27,
    .col-md-28,
    .col-md-29,
    .col-md-30,
    .col-md-31,
    .col-md-32,
    .col-md-33,
    .col-md-34,
    .col-md-35,
    .col-md-36,
    .col-md-37,
    .col-md-38,
    .col-md-39,
    .col-md-40,
    .col-md-41,
    .col-md-42,
    .col-md-43,
    .col-md-44,
    .col-md-45,
    .col-md-46,
    .col-md-47,
    .col-md-48,
    .col-md-49,
    .col-md-50,
    .col-md-51,
    .col-md-52,
    .col-md-53,
    .col-md-54,
    .col-md-55,
    .col-md-56,
    .col-md-57,
    .col-md-58,
    .col-md-59,
    .col-md-60 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .spaced-sm {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .spaced-xs {
        margin-bottom: 20px;
    }

    .header-bg-bottom .text {
        padding-right: 0 !important;
    }

    .popup-buy-full .form .label-accept {
        max-width: 90%;
    }

    div.popup {
        margin: 0 auto;
        max-width: 96%;
    }

    .popup-buy-full .form .valid-group {
        width: 100%;
    }

    .popup-buy-fast .form .valid-group {
        max-width: 100%;
    }

    .popup-buy-full .form .button-block {
        width: 100% !important;
        margin-top: 15px;
    }

    .popup-buy-fast .label-accept {
        padding-left: 10px;
    }

    .popup-buy-full .form .label-accept {
        position: static;
        width: auto;
    }

    .popup-buy-full .form .confirm {
        display: flex;
    }

    .popup-basket-container {
        max-width: 100%;
        overflow: scroll;
    }

    .popup-buy-full .popup-header .order-items td {
        padding: 0 20px;
        text-align: center;
    }

    .popup-buy-fast {
        left: 0;
        right: 0;
    }

    .popup-buy-full .popup-header {
        padding: 15px;
    }

    .popup-buy-full .popup-header .basket-button-wrapper__result {
        margin: 20px 0;
        text-align: center;
        padding-left: 0;
    }

    .popup-buy-full .popup-header .basket-button-wrapper {
        display: block;
    }

    .basket-button-wrapper .button-next {
        width: 100%;
    }

    .basket-button-wrapper .button-prev {
        width: 100%;
        text-align: right;
    }

    .basket-button-wrapper .button-next::after {
        margin-left: 0;
        position: absolute;
        right: 20px;
    }

    .basket-button-wrapper .button-prev::before {
        margin-right: 0;
        position: absolute;
        left: 20px;
    }
}